Repository MakeMoneyOnly/Meqenet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @meqenet-dev-team, @data-security-specialist, @financial-software-architect, @senior-backend-developer, @data-scientist-ml, @compliance-risk-officer, @fintech-devops-engineer, @marketplace-merchant-manager, @product-manager, @analytics-bi-specialist, @senior-mobile-developer, @ux-designer, @financial-qa-specialist

.github/CODEOWNERS:

# CODEOWNERS for Meqenet.et BNPL Platform
# This file defines code ownership for the Ethiopian FinTech platform
# Each line represents a file pattern followed by one or more owners
# Owners are notified when pull requests are opened that modify these files

# Global Rules - All team members are responsible for general code quality
* @meqenet-dev-team

# ==========================================
# CRITICAL FINANCIAL SERVICES (High Security)
# ==========================================

# Authentication & Security Service (Zero Trust Architecture)
/services/auth-service/ @data-security-specialist @financial-software-architect
/packages/auth/ @data-security-specialist @financial-software-architect

# Core BNPL Service (All 4 Payment Options)
/services/bnpl-service/ @financial-software-architect @senior-backend-developer
/packages/bnpl/ @financial-software-architect @senior-backend-developer

# Credit Assessment & Scoring (AI/ML + Compliance)
/services/credit-service/ @data-scientist-ml @compliance-risk-officer
/packages/credit/ @data-scientist-ml @compliance-risk-officer

# KYC Verification (Fayda National ID + NBE Compliance)
/services/kyc-service/ @compliance-risk-officer @data-security-specialist
/packages/kyc/ @compliance-risk-officer @data-security-specialist

# Settlement Processing (Merchant Payments)
/services/settlements-service/ @financial-software-architect @senior-backend-developer
/packages/settlements/ @financial-software-architect @senior-backend-developer

# Payment Gateway Integrations (Ethiopian Providers)
/services/payments-service/ @senior-backend-developer @fintech-devops-engineer
/packages/payments/ @senior-backend-developer @fintech-devops-engineer

# ==========================================
# MARKETPLACE & COMMERCE SERVICES
# ==========================================

# Merchant Marketplace Platform
/services/marketplace-service/ @marketplace-merchant-manager @senior-backend-developer
/packages/marketplace/ @marketplace-merchant-manager @senior-backend-developer

# Product Catalog & Search
/services/products-service/ @marketplace-merchant-manager @senior-backend-developer
/packages/products/ @marketplace-merchant-manager @senior-backend-developer

# Order Management & Fulfillment
/services/orders-service/ @marketplace-merchant-manager @senior-backend-developer
/packages/orders/ @marketplace-merchant-manager @senior-backend-developer

# ==========================================
# CUSTOMER EXPERIENCE SERVICES
# ==========================================

# Rewards & Cashback Engine
/services/rewards-service/ @product-manager @senior-backend-developer
/packages/rewards/ @product-manager @senior-backend-developer

# Premium Subscription (Meqenet Plus)
/services/premium-service/ @product-manager @senior-backend-developer
/packages/premium/ @product-manager @senior-backend-developer

# Analytics & Business Intelligence
/services/analytics-service/ @analytics-bi-specialist @data-scientist-ml
/packages/analytics/ @analytics-bi-specialist @data-scientist-ml

# Virtual Cards (High Security)
/services/virtual-cards-service/ @data-security-specialist @senior-backend-developer
/packages/virtual-cards/ @data-security-specialist @senior-backend-developer

# QR Payments (Mobile-First)
/services/qr-payments-service/ @senior-mobile-developer @senior-backend-developer
/packages/qr-payments/ @senior-mobile-developer @senior-backend-developer

# ==========================================
# FRONTEND APPLICATIONS
# ==========================================

# Website (Next.js PWA)
/apps/website/ @senior-mobile-developer @ux-designer
/packages/web-ui/ @senior-mobile-developer @ux-designer

# Mobile App (React Native)
/apps/mobile/ @senior-mobile-developer @ux-designer
/packages/mobile-ui/ @senior-mobile-developer @ux-designer

# Shared UI Components & Design System
/packages/shared-ui/ @senior-mobile-developer @ux-designer
/packages/design-system/ @senior-mobile-developer @ux-designer

# Browser Extension
/apps/browser-extension/ @senior-mobile-developer @senior-backend-developer

# ==========================================
# INFRASTRUCTURE & DEVOPS
# ==========================================

# Infrastructure as Code (Terraform)
/infrastructure/ @fintech-devops-engineer @financial-software-architect
/terraform/ @fintech-devops-engineer @financial-software-architect

# Container Configurations
/docker/ @fintech-devops-engineer
/dockerfiles/ @fintech-devops-engineer
/k8s/ @fintech-devops-engineer @financial-software-architect

# CI/CD Pipelines
/.github/ @fintech-devops-engineer @financial-software-architect
/.gitlab-ci.yml @fintech-devops-engineer @financial-software-architect

# Monitoring & Observability
/monitoring/ @fintech-devops-engineer @senior-backend-developer
/grafana/ @fintech-devops-engineer @analytics-bi-specialist

# ==========================================
# DOCUMENTATION & COMPLIANCE
# ==========================================

# Core Documentation
/docs/ @product-manager @compliance-risk-officer

# Security Documentation (High Sensitivity)
/docs/Stage\ 1\ -\ Foundation/07-Security.md @data-security-specialist @compliance-risk-officer

# Compliance Framework (NBE Regulations)
/docs/Stage\ 1\ -\ Foundation/05-Compliance_Framework.md @compliance-risk-officer

# API Documentation & Governance
/docs/Stage\ 1\ -\ Foundation/02-API_Specification_and_Governance.md @financial-software-architect @senior-backend-developer

# Architecture Documentation
/docs/Stage\ 1\ -\ Foundation/08-Architecture.md @financial-software-architect

# Business Model & Financial Logic
/docs/Stage\ 1\ -\ Foundation/03-Business_Model.md @product-manager @financial-software-architect

# ==========================================
# ETHIOPIAN-SPECIFIC INTEGRATIONS
# ==========================================

# Fayda National ID Integration (KYC)
**/fayda-integration/ @compliance-risk-officer @senior-backend-developer
**/fayda/ @compliance-risk-officer @senior-backend-developer

# Telebirr Payment Integration
**/telebirr-integration/ @senior-backend-developer @fintech-devops-engineer
**/telebirr/ @senior-backend-developer @fintech-devops-engineer

# Ethiopian Payment Gateways
**/chapa/ @senior-backend-developer @fintech-devops-engineer
**/santimpay/ @senior-backend-developer @fintech-devops-engineer
**/arifpay/ @senior-backend-developer @fintech-devops-engineer
**/hellocash/ @senior-backend-developer @fintech-devops-engineer

# Amharic Localization
**/amharic-localization/ @ux-designer @senior-mobile-developer
**/i18n/am/ @ux-designer @senior-mobile-developer
**/locales/am/ @ux-designer @senior-mobile-developer

# ==========================================
# FINANCIAL LOGIC (HIGHEST SECURITY)
# ==========================================

# Payment Processing Logic
**/*payment*.ts @financial-software-architect @data-security-specialist
**/*payment*.js @financial-software-architect @data-security-specialist
**/*Payment*.tsx @financial-software-architect @senior-mobile-developer

# Interest Rate Calculations
**/*interest*.ts @financial-software-architect @compliance-risk-officer
**/*interest*.js @financial-software-architect @compliance-risk-officer
**/*Interest*.tsx @financial-software-architect @ux-designer

# Loan Management Logic
**/*loan*.ts @financial-software-architect @senior-backend-developer
**/*loan*.js @financial-software-architect @senior-backend-developer
**/*Loan*.tsx @financial-software-architect @senior-mobile-developer

# Credit Scoring & Assessment
**/*credit*.ts @data-scientist-ml @compliance-risk-officer
**/*credit*.js @data-scientist-ml @compliance-risk-officer
**/*Credit*.tsx @data-scientist-ml @ux-designer

# Financial Calculations & Utilities
**/*calculation*.ts @financial-software-architect @data-security-specialist
**/*financial*.ts @financial-software-architect @compliance-risk-officer
**/*currency*.ts @financial-software-architect @senior-backend-developer

# ==========================================
# SECURITY-SENSITIVE FILES
# ==========================================

# Cryptography & Encryption
**/*crypto*.ts @data-security-specialist @financial-software-architect
**/*encryption*.ts @data-security-specialist @financial-software-architect
**/*security*.ts @data-security-specialist @financial-software-architect

# Authentication & Authorization
**/*auth*.ts @data-security-specialist @financial-software-architect
**/*jwt*.ts @data-security-specialist @senior-backend-developer
**/*session*.ts @data-security-specialist @senior-backend-developer

# Database Schemas (Financial Data)
**/schema.prisma @financial-software-architect @data-security-specialist
**/migrations/ @financial-software-architect @senior-backend-developer

# Environment & Configuration Files
**/.env* @fintech-devops-engineer @data-security-specialist
**/config/ @fintech-devops-engineer @financial-software-architect

# ==========================================
# SPECIAL FILES & CONFIGURATIONS
# ==========================================

# Repository Configuration
.gitignore @fintech-devops-engineer
.cursorrules @financial-software-architect @data-security-specialist
CONTRIBUTING.md @product-manager @financial-software-architect
README.md @product-manager @financial-software-architect
LICENSE @compliance-risk-officer @product-manager

# Package Management
package.json @fintech-devops-engineer @senior-backend-developer
package-lock.json @fintech-devops-engineer @senior-backend-developer
yarn.lock @fintech-devops-engineer @senior-backend-developer

# TypeScript Configuration
tsconfig.json @financial-software-architect @senior-backend-developer
tsconfig.*.json @financial-software-architect @senior-backend-developer

# Linting & Code Quality
.eslintrc* @financial-software-architect @senior-backend-developer
.prettierrc* @financial-software-architect @senior-mobile-developer
jest.config* @senior-backend-developer @financial-qa-specialist

# ==========================================
# TASK MANAGEMENT & PROJECT COORDINATION
# ==========================================

# Task Management System
/tasks/ @product-manager @financial-software-architect
tasks.yaml @product-manager @financial-software-architect
update_progress.py @product-manager @fintech-devops-engineer

# ==========================================
# COMPLIANCE & AUDIT REQUIREMENTS
# ==========================================

# Any changes to financial logic, security implementations, or Ethiopian regulatory compliance
# require additional review from compliance officers and security specialists.
# 
# For NBE audit purposes, all changes to payment processing, interest calculations,
# and customer data handling must maintain a complete audit trail with proper approvals.
#
# Emergency security patches may bypass some approval requirements but require
# post-deployment review within 24 hours.

fix(frontend): resolve typecheck script error (TICKET-123)
  frontend/apps/app/src/app/App.tsx
  frontend/apps/app/vitest.config.mjs
  frontend/package.json
  tsconfig.base.json
Owners: @meqenet-dev-team, @fintech-devops-engineer, @senior-backend-developer, @financial-software-architect

chore(deps): add vite-tsconfig-paths for frontend tests (TICKET-456)
  .npmrc
  frontend/apps/app/vitest.config.mjs
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @meqenet-dev-team, @fintech-devops-engineer, @senior-backend-developer

chore(deps): add vite-tsconfig-paths for frontend tests (TICKET-456)
  .npmrc
  frontend/apps/app/vitest.config.mjs
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @meqenet-dev-team, @fintech-devops-engineer, @senior-backend-developer

fix: resolve ESLint and TypeScript compatibility issues (MEQ-001)
  frontend/apps/website/src/app/merchant/page.tsx
  frontend/apps/website/src/components/ui/BlurOnScroll.tsx
  frontend/apps/website/src/components/ui/LocomotiveScrollContext.tsx
  frontend/apps/website/src/components/ui/image-trail.tsx
  frontend/apps/website/src/components/ui/progressive-blur.tsx
  frontend/apps/website/src/components/ui/star-border.tsx
Owners: @meqenet-dev-team

fix: resolve ESLint and TypeScript compatibility issues (MEQ-001)
  frontend/apps/website/src/app/merchant/page.tsx
  frontend/apps/website/src/components/ui/BlurOnScroll.tsx
  frontend/apps/website/src/components/ui/LocomotiveScrollContext.tsx
  frontend/apps/website/src/components/ui/image-trail.tsx
  frontend/apps/website/src/components/ui/progressive-blur.tsx
  frontend/apps/website/src/components/ui/star-border.tsx
Owners: @meqenet-dev-team

build: migrate to modern build tools and fix npm registry issues (MEQ-002)
  .npmrc
  eslint.config.staged.js
  frontend/apps/website/eslint.config.mjs
  frontend/apps/website/jest.config.ts
  frontend/apps/website/next-env.d.ts
  frontend/apps/website/next.config.mjs
  frontend/apps/website/package.json
  frontend/apps/website/postcss.config.mjs
  frontend/apps/website/tailwind.config.mjs
  frontend/apps/website/tsconfig.json
  frontend/apps/website/vitest.config.mjs
  package.json
  pnpm-lock.yaml
Owners: @meqenet-dev-team, @senior-backend-developer, @financial-qa-specialist, @fintech-devops-engineer, @financial-software-architect

build: migrate to modern build tools and fix npm registry issues (MEQ-002)
  .npmrc
  eslint.config.staged.js
  frontend/apps/website/eslint.config.mjs
  frontend/apps/website/jest.config.ts
  frontend/apps/website/next-env.d.ts
  frontend/apps/website/next.config.mjs
  frontend/apps/website/package.json
  frontend/apps/website/postcss.config.mjs
  frontend/apps/website/tailwind.config.mjs
  frontend/apps/website/tsconfig.json
  frontend/apps/website/vitest.config.mjs
  package.json
  pnpm-lock.yaml
Owners: @meqenet-dev-team, @senior-backend-developer, @financial-qa-specialist, @fintech-devops-engineer, @financial-software-architect

refactor: migrate from Pages Router to App Router architecture (MEQ-003)
  frontend/apps/website/src/app/globals.css
  frontend/apps/website/src/app/layout.tsx
  frontend/apps/website/src/app/page.tsx
  frontend/apps/website/src/app/providers.tsx
  frontend/apps/website/src/app/styles/landingBackground.module.css
  frontend/apps/website/src/pages/_app.tsx
  frontend/apps/website/src/pages/_document.tsx
  frontend/apps/website/src/pages/api/security/csp-report.ts
  frontend/apps/website/src/pages/auth/confirm-password-reset.tsx
  frontend/apps/website/src/pages/forgot-password.tsx
  frontend/apps/website/src/pages/index.module.css
  frontend/apps/website/src/pages/index.tsx
  frontend/apps/website/src/pages/login.tsx
  frontend/apps/website/src/pages/register.tsx
  frontend/apps/website/src/pages/styles.css
Owners: @meqenet-dev-team

refactor: migrate from Pages Router to App Router architecture (MEQ-003)
  frontend/apps/website/src/app/globals.css
  frontend/apps/website/src/app/layout.tsx
  frontend/apps/website/src/app/page.tsx
  frontend/apps/website/src/app/providers.tsx
  frontend/apps/website/src/app/styles/landingBackground.module.css
  frontend/apps/website/src/pages/_app.tsx
  frontend/apps/website/src/pages/_document.tsx
  frontend/apps/website/src/pages/api/security/csp-report.ts
  frontend/apps/website/src/pages/auth/confirm-password-reset.tsx
  frontend/apps/website/src/pages/forgot-password.tsx
  frontend/apps/website/src/pages/index.module.css
  frontend/apps/website/src/pages/index.tsx
  frontend/apps/website/src/pages/login.tsx
  frontend/apps/website/src/pages/register.tsx
  frontend/apps/website/src/pages/styles.css
Owners: @meqenet-dev-team

fix(frontend): resolve import resolution and component mock issues (MEQ-001)
  frontend/apps/app/src/app/App.spec.tsx
  frontend/apps/app/src/app/App.tsx
  frontend/apps/app/src/app/screens/LoginScreen.tsx
  frontend/apps/app/src/app/screens/MainScreen.tsx
  frontend/apps/app/test/mocks/react-native.ts
  frontend/apps/app/vitest.config.mjs
  frontend/libs/mobile-api-client/package.json
  frontend/libs/mobile-api-client/src/index.ts
  frontend/libs/mobile-state-management/package.json
  frontend/libs/mobile-state-management/src/index.ts
  frontend/libs/mobile-state-management/tsconfig.json
  frontend/libs/mobile-state-management/tsconfig.lib.json
  frontend/package.json
  frontend/tsconfig.base.json
  package.json
  pnpm-lock.yaml
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-validation-report.json
  scripts/typecheck-quiet.js
  scripts/typecheck-quiet.sh
  scripts/validate-licenses.js
  tsconfig.base.json
Owners: @meqenet-dev-team, @fintech-devops-engineer, @senior-backend-developer, @financial-software-architect

fix(frontend): resolve import resolution and component mock issues (MEQ-001)
  frontend/apps/app/src/app/App.spec.tsx
  frontend/apps/app/src/app/App.tsx
  frontend/apps/app/src/app/screens/LoginScreen.tsx
  frontend/apps/app/src/app/screens/MainScreen.tsx
  frontend/apps/app/test/mocks/react-native.ts
  frontend/apps/app/vitest.config.mjs
  frontend/libs/mobile-api-client/package.json
  frontend/libs/mobile-api-client/src/index.ts
  frontend/libs/mobile-state-management/package.json
  frontend/libs/mobile-state-management/src/index.ts
  frontend/libs/mobile-state-management/tsconfig.json
  frontend/libs/mobile-state-management/tsconfig.lib.json
  frontend/package.json
  frontend/tsconfig.base.json
  package.json
  pnpm-lock.yaml
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-validation-report.json
  scripts/typecheck-quiet.js
  scripts/typecheck-quiet.sh
  scripts/validate-licenses.js
  tsconfig.base.json
Owners: @meqenet-dev-team, @fintech-devops-engineer, @senior-backend-developer, @financial-software-architect

fix(security): resolve npm config warnings and OWASP dependency scan issues (MEQ-002)
  package.json
  pnpm-lock.yaml
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-check.json
  reports/license-validation-report.json
  reports/npm-audit.json
  reports/snyk-results.json
  scripts/clean-npm-env.sh
Owners: @fintech-devops-engineer, @senior-backend-developer, @meqenet-dev-team

fix(security): resolve npm config warnings and OWASP dependency scan issues (MEQ-002)
  package.json
  pnpm-lock.yaml
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-check.json
  reports/license-validation-report.json
  reports/npm-audit.json
  reports/snyk-results.json
  scripts/clean-npm-env.sh
Owners: @fintech-devops-engineer, @senior-backend-developer, @meqenet-dev-team

security(deps): fix cdxgen sbom generation (SEC-789)
  .cdxgenrc
  frontend/pnpm-workspace.yaml
  package.json
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-check.json
  reports/license-validation-report.json
  reports/npm-audit.json
  scripts/run-owasp-scan.bat
Owners: @meqenet-dev-team, @fintech-devops-engineer, @senior-backend-developer

security(deps): fix cdxgen sbom generation (SEC-789)
  .cdxgenrc
  frontend/pnpm-workspace.yaml
  package.json
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-check.json
  reports/license-validation-report.json
  reports/npm-audit.json
  scripts/run-owasp-scan.bat
Owners: @meqenet-dev-team, @fintech-devops-engineer, @senior-backend-developer

fix(build): resolve remaining build and dependency issues (MEQ-001)
  .gitignore
  eslint.config.staged.js
  frontend/apps/website/index.d.ts
  frontend/apps/website/next-env.d.ts
  frontend/apps/website/next.config.mjs
  frontend/apps/website/package.json
  frontend/apps/website/src/app/api-docs/layout.tsx
  frontend/apps/website/src/components/ApiDocs/Layout.tsx
  frontend/apps/website/src/components/common/logo.tsx
  frontend/apps/website/src/lib/config.ts
  frontend/apps/website/src/lib/security/index.ts
  frontend/apps/website/tsconfig.json
  frontend/libs/mobile-state-management/tsconfig.json
  pnpm-lock.yaml
Owners: @fintech-devops-engineer, @meqenet-dev-team, @senior-backend-developer, @financial-software-architect

fix(build): resolve remaining build and dependency issues (MEQ-001)
  .gitignore
  eslint.config.staged.js
  frontend/apps/website/index.d.ts
  frontend/apps/website/next-env.d.ts
  frontend/apps/website/next.config.mjs
  frontend/apps/website/package.json
  frontend/apps/website/src/app/api-docs/layout.tsx
  frontend/apps/website/src/components/ApiDocs/Layout.tsx
  frontend/apps/website/src/components/common/logo.tsx
  frontend/apps/website/src/lib/config.ts
  frontend/apps/website/src/lib/security/index.ts
  frontend/apps/website/tsconfig.json
  frontend/libs/mobile-state-management/tsconfig.json
  pnpm-lock.yaml
Owners: @fintech-devops-engineer, @meqenet-dev-team, @senior-backend-developer, @financial-software-architect

feat(auth): add OAuth2, field encryption, and security monitoring tests (MEQ-001)
  backend/services/auth-service/src/shared/services/enhanced-security-monitoring.service.spec.ts
  backend/services/auth-service/src/shared/services/field-encryption.service.spec.ts
  backend/services/auth-service/src/shared/services/oauth2.service.spec.ts
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-validation-report.json
  reports/npm-audit.json
  tatus
  tatus --porcelain
Owners: @data-security-specialist, @financial-software-architect, @meqenet-dev-team

feat(auth): add OAuth2, field encryption, and security monitoring tests (MEQ-001)
  backend/services/auth-service/src/shared/services/enhanced-security-monitoring.service.spec.ts
  backend/services/auth-service/src/shared/services/field-encryption.service.spec.ts
  backend/services/auth-service/src/shared/services/oauth2.service.spec.ts
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-validation-report.json
  reports/npm-audit.json
  tatus
  tatus --porcelain
Owners: @data-security-specialist, @financial-software-architect, @meqenet-dev-team

chore(deps): update pnpm lock file (MEQ-001)
  pnpm-lock.yaml
Owners: @meqenet-dev-team

chore(deps): update pnpm lock file (MEQ-001)
  pnpm-lock.yaml
Owners: @meqenet-dev-team

fix(ci): resolve terraform security validation and pnpm path issues (CICD-001)
  .github/workflows/ci.yml
  .github/workflows/infrastructure.yml
  frontend/apps/website/index.d.ts
  frontend/apps/website/next.config.mjs
  frontend/apps/website/package.json
  frontend/libs/mobile-api-client/eslint.config.mjs
  frontend/libs/mobile-api-client/package.json
  frontend/libs/mobile-state-management/eslint.config.mjs
  frontend/libs/mobile-state-management/package.json
  frontend/package.json
  pnpm-lock.yaml
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team, @senior-backend-developer

fix(ci): resolve terraform security validation and pnpm path issues (CICD-001)
  .github/workflows/ci.yml
  .github/workflows/infrastructure.yml
  frontend/apps/website/index.d.ts
  frontend/apps/website/next.config.mjs
  frontend/apps/website/package.json
  frontend/libs/mobile-api-client/eslint.config.mjs
  frontend/libs/mobile-api-client/package.json
  frontend/libs/mobile-state-management/eslint.config.mjs
  frontend/libs/mobile-state-management/package.json
  frontend/package.json
  pnpm-lock.yaml
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team, @senior-backend-developer

feat(pm): add missing task categories and enhance progress tracking (MEQ-001)
  tasks/App_Progress.md
  tasks/Master_Progress.md
  tasks/Website_Progress.md
  tasks/tasks.yaml
  tasks/update_progress.py
Owners: @product-manager, @financial-software-architect, @fintech-devops-engineer

feat(pm): add missing task categories and enhance progress tracking (MEQ-001)
  tasks/App_Progress.md
  tasks/Master_Progress.md
  tasks/Website_Progress.md
  tasks/tasks.yaml
  tasks/update_progress.py
Owners: @product-manager, @financial-software-architect, @fintech-devops-engineer

security(auth-service): harden field encryption, OAuth2 flows, Fayda utils
  backend/services/auth-service/prisma/schema.prisma
  backend/services/auth-service/src/shared/config/app.config.ts
  backend/services/auth-service/src/shared/services/field-encryption.service.spec.ts
  backend/services/auth-service/src/shared/services/field-encryption.service.ts
  backend/services/auth-service/src/shared/services/oauth2.service.spec.ts
  backend/services/auth-service/src/shared/services/oauth2.service.ts
  backend/services/auth-service/src/shared/utils/fayda-encryption.util.spec.ts
  backend/services/auth-service/src/shared/utils/fayda-encryption.util.ts
Owners: @financial-software-architect, @data-security-specialist, @fintech-devops-engineer

security(auth-service): harden field encryption, OAuth2 flows, Fayda utils
  backend/services/auth-service/prisma/schema.prisma
  backend/services/auth-service/src/shared/config/app.config.ts
  backend/services/auth-service/src/shared/services/field-encryption.service.spec.ts
  backend/services/auth-service/src/shared/services/field-encryption.service.ts
  backend/services/auth-service/src/shared/services/oauth2.service.spec.ts
  backend/services/auth-service/src/shared/services/oauth2.service.ts
  backend/services/auth-service/src/shared/utils/fayda-encryption.util.spec.ts
  backend/services/auth-service/src/shared/utils/fayda-encryption.util.ts
Owners: @financial-software-architect, @data-security-specialist, @fintech-devops-engineer

fix(auth): resolve failing tests and lint issues (JIRA-4321)
  backend/services/auth-service/src/shared/config/app.config.ts
  backend/services/auth-service/src/shared/interceptors/field-encryption.interceptor.spec.ts
  backend/services/auth-service/src/shared/interceptors/field-encryption.interceptor.ts
  backend/services/auth-service/src/shared/services/field-encryption.service.spec.ts
  backend/services/auth-service/src/shared/services/field-encryption.service.ts
  backend/services/auth-service/src/shared/services/oauth2.service.ts
  backend/services/auth-service/src/shared/utils/fayda-encryption.util.spec.ts
  backend/services/auth-service/src/shared/utils/fayda-encryption.util.ts
  frontend/apps/website/src/shared/ui/animated-hero.tsx
  frontend/apps/website/src/shared/ui/logo.tsx
  frontend/apps/website/src/widgets/landing/FeaturesSection.tsx
  frontend/apps/website/src/widgets/landing/IntegrationsSection.tsx
Owners: @fintech-devops-engineer, @financial-software-architect, @data-security-specialist, @meqenet-dev-team

refactor(planning): align project tasks with brand identity (MEQ-123)
  tasks/tasks.yaml
Owners: @product-manager, @financial-software-architect

chore(cleanup): remove accidentally committed files (MEQ-001)
  backend/services/auth-service/package.json
  backend/services/auth-service/prisma/schema.prisma
  backend/services/auth-service/src/features/jwks/jwks.controller.ts
  backend/services/auth-service/src/features/jwks/jwks.module.ts
  backend/services/auth-service/src/features/jwks/jwks.service.ts
  backend/services/auth-service/src/features/user/dto/update-phone.dto.ts
  backend/services/auth-service/src/features/user/listeners/notification.listener.ts
  backend/services/auth-service/src/features/user/user.controller.ts
  backend/services/auth-service/src/features/user/user.module.ts
  backend/services/auth-service/src/features/user/user.service.ts
  backend/services/auth-service/src/shared/guards/roles.guard.spec.ts
  backend/services/auth-service/src/shared/shared.module.ts
  backend/services/auth-service/src/shared/strategies/jwt.strategy.ts
  backend/services/payments-service/src/app/app.module.ts
  backend/services/payments-service/src/dto/create-payment.dto.ts
  backend/services/payments-service/src/payments.service.ts
  backend/services/payments-service/src/shared/prisma/prisma.module.ts
  backend/services/payments-service/src/shared/prisma/prisma.service.ts
  pnpm-lock.yaml
  tasks/tasks.yaml
  tatus
  tatus --porcelain
Owners: @fintech-devops-engineer, @senior-backend-developer, @financial-software-architect, @data-security-specialist, @meqenet-dev-team, @product-manager

refactor(deps): update axios and resolve line ending issues (MEQ-002)
  backend/services/auth-service/src/shared/services/field-encryption.service.ts
  backend/services/auth-service/src/shared/services/oauth2.service.ts
  backend/services/payments-service/src/payments.service.spec.ts
  frontend/apps/website/eslint.config.mjs
  frontend/apps/website/package.json
  frontend/apps/website/src/shared/config/index.ts
  frontend/apps/website/src/shared/ui/ImageTrail.tsx
  frontend/apps/website/src/shared/ui/animated-text.tsx
  frontend/apps/website/src/shared/ui/hover-border-gradient.tsx
  frontend/apps/website/src/shared/ui/progressive-blur.tsx
  frontend/libs/mobile-api-client/package.json
  frontend/package.json
  package.json
Owners: @data-security-specialist, @financial-software-architect, @meqenet-dev-team, @fintech-devops-engineer, @senior-backend-developer

feat(security): enhance deployment pipelines with authentication security validations (SEC-505)
  backend/services/auth-service/src/shared/guards/roles.guard.spec.ts
  backend/services/auth-service/src/shared/services/rate-limiting.service.ts
  dependency-tree.txt
  docs/STAGE_2_SECURITY_IMPLEMENTATION.md
  frontend/apps/app/package.json
  frontend/libs/mobile-api-client/CERTIFICATE_PINNING_README.md
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-check.json
  reports/license-validation-report.json
  reports/npm-audit.json
  scripts/deploy-staging.bat
  scripts/deploy-to-staging.ps1
  scripts/deployment-security-checklist.js
  scripts/validate-enhanced-auth-security.js
  stage_2_auth_audit.md
Owners: @meqenet-dev-team, @product-manager, @compliance-risk-officer, @fintech-devops-engineer, @senior-backend-developer

feat(auth): implement production security infrastructure (SEC-505)
  backend/services/auth-service/prisma/migrations/20250916120000_add_sim_swap_protection_fields/migration.sql
  backend/services/auth-service/src/features/auth/sim-swap-protection.spec.ts
  backend/services/auth-service/src/shared/services/auth-monitoring.service.ts
  backend/services/auth-service/src/shared/services/encrypted-backup.service.ts
  backend/services/auth-service/src/shared/services/key-rotation.service.ts
  docs/api-authentication-security.yaml
  infrastructure/key-rotation.tf
  infrastructure/lambda/key-rotation-function/package.json
  scripts/generate-jwt-keys.js
  scripts/validate-enhanced-auth-security.js
Owners: @financial-software-architect, @senior-backend-developer, @meqenet-dev-team, @data-security-specialist, @product-manager, @compliance-risk-officer, @fintech-devops-engineer

fix: resolve failing tests
  .cursor/rules/command-rules.mdc
  .cursor/rules/prd.mdc
  .cursor/rules/security-guardian.mdc
  .cursor/rules/tls-cipher-hardening.mdc
  backend/services/api-gateway/src/app/app.controller.spec.ts
  backend/services/auth-service/prisma/schema.prisma
  backend/services/auth-service/src/features/auth/auth.controller.ts
  backend/services/auth-service/src/features/auth/auth.service.ts
  backend/services/auth-service/src/features/auth/sim-swap-protection.spec.ts
  backend/services/auth-service/src/features/jwks/jwks.service.ts
  backend/services/auth-service/src/shared/decorators/roles.decorator.ts
  backend/services/auth-service/src/shared/guards/roles.guard.spec.ts
  backend/services/auth-service/src/shared/guards/roles.guard.ts
  backend/services/auth-service/src/shared/shared.module.ts
  docs/Stage 1 - Foundation/11-Integration_Requirements.md
  frontend/apps/app/tsconfig.spec.json
  nx.json
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-validation-report.json
  reports/snyk-results.json
  stage_2_auth_audit.md
Owners: @meqenet-dev-team, @financial-software-architect, @data-security-specialist, @product-manager, @compliance-risk-officer, @senior-backend-developer

fix(auth): resolve TypeScript build errors and type safety issues (AUTH-001)
  backend/services/auth-service/src/features/auth/auth.controller.ts
  backend/services/auth-service/src/features/auth/auth.service.ts
  backend/services/auth-service/src/shared/guards/roles.guard.ts
  backend/services/auth-service/src/shared/services/audit-logging.service.ts
  backend/services/auth-service/src/shared/services/auth-monitoring.service.ts
  backend/services/auth-service/src/shared/services/email.service.ts
  backend/services/auth-service/src/shared/services/encrypted-backup.service.ts
  backend/services/auth-service/src/shared/services/key-rotation.service.ts
  backend/services/auth-service/src/shared/services/secret-manager.service.ts
Owners: @data-security-specialist, @financial-software-architect, @meqenet-dev-team

feat(bnpl): implement comprehensive BNPL system with backend services, database schema, and mobile UI components (BNPL-001)
  .husky/pre-push
  backend/services/auth-service/src/features/auth/sim-swap-protection.spec.ts
  backend/services/auth-service/src/shared/services/auth-monitoring.service.ts
  backend/services/payments-service/prisma/schema.prisma
  backend/services/payments-service/src/app/app.module.ts
  backend/services/payments-service/src/bnpl/bnpl.controller.ts
  backend/services/payments-service/src/bnpl/bnpl.module.ts
  backend/services/payments-service/src/bnpl/bnpl.service.ts
  backend/services/payments-service/src/bnpl/dto/create-contract.dto.ts
  backend/services/payments-service/src/bnpl/dto/process-payment.dto.ts
  backend/services/payments-service/src/payments.service.ts
  docs/BNPL_IMPLEMENTATION.md
  docs/STAGE_2_SECURITY_IMPLEMENTATION.md
  frontend/apps/app/package.json
  frontend/apps/app/src/features/bnpl/screens/ContractCreationScreen.tsx
  frontend/apps/app/src/features/bnpl/screens/ProductSelectionScreen.tsx
  frontend/apps/app/src/features/bnpl/services/bnplApi.ts
  frontend/apps/app/src/features/bnpl/types/bnpl.ts
  infrastructure/.terraform.lock.hcl
  infrastructure/.terraform/providers/registry.terraform.io/hashicorp/archive/2.7.1/windows_amd64/LICENSE.txt
  infrastructure/.terraform/providers/registry.terraform.io/hashicorp/aws/5.100.0/windows_amd64/LICENSE.txt
  infrastructure/.terraform/providers/registry.terraform.io/hashicorp/aws/5.100.0/windows_amd64/terraform-provider-aws_v5.100.0_x5.exe.REMOVED.git-id
  infrastructure/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.4/windows_amd64/LICENSE.txt
  infrastructure/.terraform/providers/registry.terraform.io/integrations/github/6.6.0/windows_amd64/CHANGELOG.md
  infrastructure/.terraform/providers/registry.terraform.io/integrations/github/6.6.0/windows_amd64/LICENSE
  infrastructure/.terraform/providers/registry.terraform.io/integrations/github/6.6.0/windows_amd64/README.md
  infrastructure/key-rotation.tf
  pnpm-lock.yaml
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-validation-report.json
  scripts/fix-ci-dependencies.sh
  scripts/validate-enhanced-auth-security.js
Owners: @meqenet-dev-team, @data-security-specialist, @financial-software-architect, @product-manager, @compliance-risk-officer, @fintech-devops-engineer, @senior-backend-developer

fix(security): resolve terraform security validation failures (SEC-505)
  infrastructure/.terraform/providers/registry.terraform.io/hashicorp/archive/2.7.1/windows_amd64/LICENSE.txt
  infrastructure/.terraform/providers/registry.terraform.io/hashicorp/aws/5.100.0/windows_amd64/LICENSE.txt
  infrastructure/.terraform/providers/registry.terraform.io/hashicorp/aws/5.100.0/windows_amd64/terraform-provider-aws_v5.100.0_x5.exe.REMOVED.git-id
  infrastructure/.terraform/providers/registry.terraform.io/hashicorp/github/6.6.0/windows_amd64/CHANGELOG.md
  infrastructure/.terraform/providers/registry.terraform.io/hashicorp/github/6.6.0/windows_amd64/LICENSE
  infrastructure/.terraform/providers/registry.terraform.io/hashicorp/github/6.6.0/windows_amd64/README.md
  infrastructure/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.4/windows_amd64/LICENSE.txt
  infrastructure/.terraform/providers/registry.terraform.io/hashicorp/random/3.7.2/windows_amd64/LICENSE.txt
  infrastructure/.terraform/providers/registry.terraform.io/integrations/github/6.6.0/windows_amd64/CHANGELOG.md
  infrastructure/.terraform/providers/registry.terraform.io/integrations/github/6.6.0/windows_amd64/LICENSE
  infrastructure/.terraform/providers/registry.terraform.io/integrations/github/6.6.0/windows_amd64/README.md
  infrastructure/api_gateway.tf
  infrastructure/database.tf
  infrastructure/key-rotation.tf
  infrastructure/load_balancer.tf
  infrastructure/main.tf
  infrastructure/networking.tf
Owners: @fintech-devops-engineer, @financial-software-architect, @compliance-risk-officer, @product-manager

feat(bnpl): enhance BNPL contract creation UI and mobile integration (BNPL-202)
  frontend/apps/app/src/features/bnpl/screens/ContractCreationScreen.tsx
  frontend/apps/app/src/features/bnpl/types/bnpl.ts
  frontend/apps/website/next-env.d.ts
  frontend/apps/website/package.json
  frontend/eslint.config.mjs
  frontend/libs/mobile-api-client/package.json
  frontend/libs/mobile-state-management/package.json
  frontend/package.json
Owners: @meqenet-dev-team, @fintech-devops-engineer, @senior-backend-developer

fix(mobile): update react-native-ssl-pinning to resolve OWASP ZAP dependency issue (SEC-505)
  frontend/apps/app/package.json
Owners: @fintech-devops-engineer, @senior-backend-developer

fix(security): Fix Checkov SARIF output file path configuration (MEQ-SEC-001)
  .github/workflows/iac-security-scan.yml
  test-checkov-workflow.sh
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team
