Repository MakeMoneyOnly/Meqenet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @meqenet-dev-team, @data-security-specialist, @financial-software-architect, @senior-backend-developer, @data-scientist-ml, @compliance-risk-officer, @fintech-devops-engineer, @marketplace-merchant-manager, @product-manager, @analytics-bi-specialist, @senior-mobile-developer, @ux-designer, @financial-qa-specialist

.github/CODEOWNERS:

# CODEOWNERS for Meqenet.et BNPL Platform
# This file defines code ownership for the Ethiopian FinTech platform
# Each line represents a file pattern followed by one or more owners
# Owners are notified when pull requests are opened that modify these files

# Global Rules - All team members are responsible for general code quality
* @meqenet-dev-team

# ==========================================
# CRITICAL FINANCIAL SERVICES (High Security)
# ==========================================

# Authentication & Security Service (Zero Trust Architecture)
/services/auth-service/ @data-security-specialist @financial-software-architect
/packages/auth/ @data-security-specialist @financial-software-architect

# Core BNPL Service (All 4 Payment Options)
/services/bnpl-service/ @financial-software-architect @senior-backend-developer
/packages/bnpl/ @financial-software-architect @senior-backend-developer

# Credit Assessment & Scoring (AI/ML + Compliance)
/services/credit-service/ @data-scientist-ml @compliance-risk-officer
/packages/credit/ @data-scientist-ml @compliance-risk-officer

# KYC Verification (Fayda National ID + NBE Compliance)
/services/kyc-service/ @compliance-risk-officer @data-security-specialist
/packages/kyc/ @compliance-risk-officer @data-security-specialist

# Settlement Processing (Merchant Payments)
/services/settlements-service/ @financial-software-architect @senior-backend-developer
/packages/settlements/ @financial-software-architect @senior-backend-developer

# Payment Gateway Integrations (Ethiopian Providers)
/services/payments-service/ @senior-backend-developer @fintech-devops-engineer
/packages/payments/ @senior-backend-developer @fintech-devops-engineer

# ==========================================
# MARKETPLACE & COMMERCE SERVICES
# ==========================================

# Merchant Marketplace Platform
/services/marketplace-service/ @marketplace-merchant-manager @senior-backend-developer
/packages/marketplace/ @marketplace-merchant-manager @senior-backend-developer

# Product Catalog & Search
/services/products-service/ @marketplace-merchant-manager @senior-backend-developer
/packages/products/ @marketplace-merchant-manager @senior-backend-developer

# Order Management & Fulfillment
/services/orders-service/ @marketplace-merchant-manager @senior-backend-developer
/packages/orders/ @marketplace-merchant-manager @senior-backend-developer

# ==========================================
# CUSTOMER EXPERIENCE SERVICES
# ==========================================

# Rewards & Cashback Engine
/services/rewards-service/ @product-manager @senior-backend-developer
/packages/rewards/ @product-manager @senior-backend-developer

# Premium Subscription (Meqenet Plus)
/services/premium-service/ @product-manager @senior-backend-developer
/packages/premium/ @product-manager @senior-backend-developer

# Analytics & Business Intelligence
/services/analytics-service/ @analytics-bi-specialist @data-scientist-ml
/packages/analytics/ @analytics-bi-specialist @data-scientist-ml

# Virtual Cards (High Security)
/services/virtual-cards-service/ @data-security-specialist @senior-backend-developer
/packages/virtual-cards/ @data-security-specialist @senior-backend-developer

# QR Payments (Mobile-First)
/services/qr-payments-service/ @senior-mobile-developer @senior-backend-developer
/packages/qr-payments/ @senior-mobile-developer @senior-backend-developer

# ==========================================
# FRONTEND APPLICATIONS
# ==========================================

# Website (Next.js PWA)
/apps/website/ @senior-mobile-developer @ux-designer
/packages/web-ui/ @senior-mobile-developer @ux-designer

# Mobile App (React Native)
/apps/mobile/ @senior-mobile-developer @ux-designer
/packages/mobile-ui/ @senior-mobile-developer @ux-designer

# Shared UI Components & Design System
/packages/shared-ui/ @senior-mobile-developer @ux-designer
/packages/design-system/ @senior-mobile-developer @ux-designer

# Browser Extension
/apps/browser-extension/ @senior-mobile-developer @senior-backend-developer

# ==========================================
# INFRASTRUCTURE & DEVOPS
# ==========================================

# Infrastructure as Code (Terraform)
/infrastructure/ @fintech-devops-engineer @financial-software-architect
/terraform/ @fintech-devops-engineer @financial-software-architect

# Container Configurations
/docker/ @fintech-devops-engineer
/dockerfiles/ @fintech-devops-engineer
/k8s/ @fintech-devops-engineer @financial-software-architect

# CI/CD Pipelines
/.github/ @fintech-devops-engineer @financial-software-architect
/.gitlab-ci.yml @fintech-devops-engineer @financial-software-architect

# Monitoring & Observability
/monitoring/ @fintech-devops-engineer @senior-backend-developer
/grafana/ @fintech-devops-engineer @analytics-bi-specialist

# ==========================================
# DOCUMENTATION & COMPLIANCE
# ==========================================

# Core Documentation
/docs/ @product-manager @compliance-risk-officer

# Security Documentation (High Sensitivity)
/docs/Stage\ 1\ -\ Foundation/07-Security.md @data-security-specialist @compliance-risk-officer

# Compliance Framework (NBE Regulations)
/docs/Stage\ 1\ -\ Foundation/05-Compliance_Framework.md @compliance-risk-officer

# API Documentation & Governance
/docs/Stage\ 1\ -\ Foundation/02-API_Specification_and_Governance.md @financial-software-architect @senior-backend-developer

# Architecture Documentation
/docs/Stage\ 1\ -\ Foundation/08-Architecture.md @financial-software-architect

# Business Model & Financial Logic
/docs/Stage\ 1\ -\ Foundation/03-Business_Model.md @product-manager @financial-software-architect

# ==========================================
# ETHIOPIAN-SPECIFIC INTEGRATIONS
# ==========================================

# Fayda National ID Integration (KYC)
**/fayda-integration/ @compliance-risk-officer @senior-backend-developer
**/fayda/ @compliance-risk-officer @senior-backend-developer

# Telebirr Payment Integration
**/telebirr-integration/ @senior-backend-developer @fintech-devops-engineer
**/telebirr/ @senior-backend-developer @fintech-devops-engineer

# Ethiopian Payment Gateways
**/chapa/ @senior-backend-developer @fintech-devops-engineer
**/santimpay/ @senior-backend-developer @fintech-devops-engineer
**/arifpay/ @senior-backend-developer @fintech-devops-engineer
**/hellocash/ @senior-backend-developer @fintech-devops-engineer

# Amharic Localization
**/amharic-localization/ @ux-designer @senior-mobile-developer
**/i18n/am/ @ux-designer @senior-mobile-developer
**/locales/am/ @ux-designer @senior-mobile-developer

# ==========================================
# FINANCIAL LOGIC (HIGHEST SECURITY)
# ==========================================

# Payment Processing Logic
**/*payment*.ts @financial-software-architect @data-security-specialist
**/*payment*.js @financial-software-architect @data-security-specialist
**/*Payment*.tsx @financial-software-architect @senior-mobile-developer

# Interest Rate Calculations
**/*interest*.ts @financial-software-architect @compliance-risk-officer
**/*interest*.js @financial-software-architect @compliance-risk-officer
**/*Interest*.tsx @financial-software-architect @ux-designer

# Loan Management Logic
**/*loan*.ts @financial-software-architect @senior-backend-developer
**/*loan*.js @financial-software-architect @senior-backend-developer
**/*Loan*.tsx @financial-software-architect @senior-mobile-developer

# Credit Scoring & Assessment
**/*credit*.ts @data-scientist-ml @compliance-risk-officer
**/*credit*.js @data-scientist-ml @compliance-risk-officer
**/*Credit*.tsx @data-scientist-ml @ux-designer

# Financial Calculations & Utilities
**/*calculation*.ts @financial-software-architect @data-security-specialist
**/*financial*.ts @financial-software-architect @compliance-risk-officer
**/*currency*.ts @financial-software-architect @senior-backend-developer

# ==========================================
# SECURITY-SENSITIVE FILES
# ==========================================

# Cryptography & Encryption
**/*crypto*.ts @data-security-specialist @financial-software-architect
**/*encryption*.ts @data-security-specialist @financial-software-architect
**/*security*.ts @data-security-specialist @financial-software-architect

# Authentication & Authorization
**/*auth*.ts @data-security-specialist @financial-software-architect
**/*jwt*.ts @data-security-specialist @senior-backend-developer
**/*session*.ts @data-security-specialist @senior-backend-developer

# Database Schemas (Financial Data)
**/schema.prisma @financial-software-architect @data-security-specialist
**/migrations/ @financial-software-architect @senior-backend-developer

# Environment & Configuration Files
**/.env* @fintech-devops-engineer @data-security-specialist
**/config/ @fintech-devops-engineer @financial-software-architect

# ==========================================
# SPECIAL FILES & CONFIGURATIONS
# ==========================================

# Repository Configuration
.gitignore @fintech-devops-engineer
.cursorrules @financial-software-architect @data-security-specialist
CONTRIBUTING.md @product-manager @financial-software-architect
README.md @product-manager @financial-software-architect
LICENSE @compliance-risk-officer @product-manager

# Package Management
package.json @fintech-devops-engineer @senior-backend-developer
package-lock.json @fintech-devops-engineer @senior-backend-developer
yarn.lock @fintech-devops-engineer @senior-backend-developer

# TypeScript Configuration
tsconfig.json @financial-software-architect @senior-backend-developer
tsconfig.*.json @financial-software-architect @senior-backend-developer

# Linting & Code Quality
.eslintrc* @financial-software-architect @senior-backend-developer
.prettierrc* @financial-software-architect @senior-mobile-developer
jest.config* @senior-backend-developer @financial-qa-specialist

# ==========================================
# TASK MANAGEMENT & PROJECT COORDINATION
# ==========================================

# Task Management System
/tasks/ @product-manager @financial-software-architect
tasks.yaml @product-manager @financial-software-architect
update_progress.py @product-manager @fintech-devops-engineer

# ==========================================
# COMPLIANCE & AUDIT REQUIREMENTS
# ==========================================

# Any changes to financial logic, security implementations, or Ethiopian regulatory compliance
# require additional review from compliance officers and security specialists.
# 
# For NBE audit purposes, all changes to payment processing, interest calculations,
# and customer data handling must maintain a complete audit trail with proper approvals.
#
# Emergency security patches may bypass some approval requirements but require
# post-deployment review within 24 hours.

fix: resolve CI pipeline network and build failures
  .github/workflows/aml-kyc-testing.yml
  backend/services/api-gateway/Dockerfile
  backend/services/auth-service/Dockerfile
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team

fix: resolve CI pipeline network and build failures
  .github/workflows/aml-kyc-testing.yml
  backend/services/api-gateway/Dockerfile
  backend/services/auth-service/Dockerfile
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team

fix: restore custom linting commands and fix ESLint configuration
  frontend/eslint.config.mjs
  frontend/package.json
  package.json
Owners: @meqenet-dev-team, @fintech-devops-engineer, @senior-backend-developer

fix: restore custom linting commands and fix ESLint configuration
  frontend/eslint.config.mjs
  frontend/package.json
  package.json
Owners: @meqenet-dev-team, @fintech-devops-engineer, @senior-backend-developer

Enterprise Security Enhancement - Complete Implementation
  .github/workflows/ci.yml
  backend/services/api-gateway/package.json
  backend/services/api-gateway/src/app/app.controller.spec.ts
  backend/services/api-gateway/src/app/app.module.ts
  backend/services/api-gateway/src/main.ts
  backend/services/api-gateway/src/shared/config/pino.config.ts
  backend/services/api-gateway/src/shared/config/winston.config.ts
  backend/services/api-gateway/src/shared/interceptors/logging.interceptor.ts
  backend/services/api-gateway/src/shared/utils/logging-sanitizer.util.ts
  backend/services/api-gateway/vitest.config.ts
  backend/services/auth-service/README.md
  backend/services/auth-service/package.json
  backend/services/auth-service/src/app/app.controller.spec.ts
  backend/services/auth-service/src/app/app.module.ts
  backend/services/auth-service/src/main.ts
  backend/services/auth-service/src/shared/config/pino.config.ts
  backend/services/auth-service/src/shared/config/winston.config.ts
  backend/services/auth-service/src/shared/controllers/ai-fraud-detection.controller.ts
  backend/services/auth-service/src/shared/controllers/credential-management.controller.ts
  backend/services/auth-service/src/shared/controllers/jwks.controller.ts
  backend/services/auth-service/src/shared/controllers/metrics.controller.ts
  backend/services/auth-service/src/shared/decorators/encrypt-fields.decorator.ts
  backend/services/auth-service/src/shared/guards/adaptive-rate-limit.guard.ts
  backend/services/auth-service/src/shared/interceptors/field-encryption.interceptor.ts
  backend/services/auth-service/src/shared/interceptors/logging.interceptor.ts
  backend/services/auth-service/src/shared/observability/otel.ts
  backend/services/auth-service/src/shared/services/adaptive-rate-limiting.service.ts
  backend/services/auth-service/src/shared/services/ai-fraud-detection.service.ts
  backend/services/auth-service/src/shared/services/anomaly-detection.service.ts
  backend/services/auth-service/src/shared/services/credential-rotation.service.ts
  backend/services/auth-service/src/shared/services/field-encryption.service.ts
  backend/services/auth-service/src/shared/services/secret-manager.service.ts
  backend/services/auth-service/src/shared/services/security-monitoring.service.ts
  backend/services/auth-service/src/shared/shared.module.ts
  docs/Secret-Management-Setup.md
  pnpm-lock.yaml
Owners: @fintech-devops-engineer, @financial-software-architect, @senior-backend-developer, @meqenet-dev-team, @product-manager, @data-security-specialist, @compliance-risk-officer

Enterprise Security Enhancement - Complete Implementation
  .github/workflows/ci.yml
  backend/services/api-gateway/package.json
  backend/services/api-gateway/src/app/app.controller.spec.ts
  backend/services/api-gateway/src/app/app.module.ts
  backend/services/api-gateway/src/main.ts
  backend/services/api-gateway/src/shared/config/pino.config.ts
  backend/services/api-gateway/src/shared/config/winston.config.ts
  backend/services/api-gateway/src/shared/interceptors/logging.interceptor.ts
  backend/services/api-gateway/src/shared/utils/logging-sanitizer.util.ts
  backend/services/api-gateway/vitest.config.ts
  backend/services/auth-service/README.md
  backend/services/auth-service/package.json
  backend/services/auth-service/src/app/app.controller.spec.ts
  backend/services/auth-service/src/app/app.module.ts
  backend/services/auth-service/src/main.ts
  backend/services/auth-service/src/shared/config/pino.config.ts
  backend/services/auth-service/src/shared/config/winston.config.ts
  backend/services/auth-service/src/shared/controllers/ai-fraud-detection.controller.ts
  backend/services/auth-service/src/shared/controllers/credential-management.controller.ts
  backend/services/auth-service/src/shared/controllers/jwks.controller.ts
  backend/services/auth-service/src/shared/controllers/metrics.controller.ts
  backend/services/auth-service/src/shared/decorators/encrypt-fields.decorator.ts
  backend/services/auth-service/src/shared/guards/adaptive-rate-limit.guard.ts
  backend/services/auth-service/src/shared/interceptors/field-encryption.interceptor.ts
  backend/services/auth-service/src/shared/interceptors/logging.interceptor.ts
  backend/services/auth-service/src/shared/observability/otel.ts
  backend/services/auth-service/src/shared/services/adaptive-rate-limiting.service.ts
  backend/services/auth-service/src/shared/services/ai-fraud-detection.service.ts
  backend/services/auth-service/src/shared/services/anomaly-detection.service.ts
  backend/services/auth-service/src/shared/services/credential-rotation.service.ts
  backend/services/auth-service/src/shared/services/field-encryption.service.ts
  backend/services/auth-service/src/shared/services/secret-manager.service.ts
  backend/services/auth-service/src/shared/services/security-monitoring.service.ts
  backend/services/auth-service/src/shared/shared.module.ts
  docs/Secret-Management-Setup.md
  pnpm-lock.yaml
Owners: @fintech-devops-engineer, @financial-software-architect, @senior-backend-developer, @meqenet-dev-team, @product-manager, @data-security-specialist, @compliance-risk-officer

🔒 Complete security hardening and TypeScript fixes
  .github/codeql/codeql-config.yml
  .github/workflows/ci.yml
  backend/services/api-gateway/src/app/app.controller.spec.ts
  backend/services/auth-service/src/app/app.controller.spec.ts
  backend/services/auth-service/src/shared/controllers/ai-fraud-detection.controller.ts
  backend/services/auth-service/src/shared/controllers/metrics.controller.ts
  backend/services/auth-service/src/shared/decorators/encrypt-fields.decorator.ts
  backend/services/auth-service/src/shared/guards/adaptive-rate-limit.guard.ts
  backend/services/auth-service/src/shared/interceptors/field-encryption.interceptor.ts
  backend/services/auth-service/src/shared/interceptors/logging.interceptor.ts
  backend/services/auth-service/src/shared/services/adaptive-rate-limiting.service.ts
  backend/services/auth-service/src/shared/services/ai-fraud-detection.service.ts
  backend/services/auth-service/src/shared/services/anomaly-detection.service.ts
  backend/services/auth-service/src/shared/services/field-encryption.service.ts
  backend/services/auth-service/src/shared/services/security-monitoring.service.ts
  blocked)
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team, @data-security-specialist

🔒 Complete security hardening and TypeScript fixes
  .github/codeql/codeql-config.yml
  .github/workflows/ci.yml
  backend/services/api-gateway/src/app/app.controller.spec.ts
  backend/services/auth-service/src/app/app.controller.spec.ts
  backend/services/auth-service/src/shared/controllers/ai-fraud-detection.controller.ts
  backend/services/auth-service/src/shared/controllers/metrics.controller.ts
  backend/services/auth-service/src/shared/decorators/encrypt-fields.decorator.ts
  backend/services/auth-service/src/shared/guards/adaptive-rate-limit.guard.ts
  backend/services/auth-service/src/shared/interceptors/field-encryption.interceptor.ts
  backend/services/auth-service/src/shared/interceptors/logging.interceptor.ts
  backend/services/auth-service/src/shared/services/adaptive-rate-limiting.service.ts
  backend/services/auth-service/src/shared/services/ai-fraud-detection.service.ts
  backend/services/auth-service/src/shared/services/anomaly-detection.service.ts
  backend/services/auth-service/src/shared/services/field-encryption.service.ts
  backend/services/auth-service/src/shared/services/security-monitoring.service.ts
  blocked)
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team, @data-security-specialist

feat: Implement enterprise-grade security and fix all failing tests
  backend/services/api-gateway/src/app/app.controller.ts
  backend/services/auth-service/src/app/app.controller.ts
Owners: @meqenet-dev-team

feat: Implement enterprise-grade security and fix all failing tests
  backend/services/api-gateway/src/app/app.controller.ts
  backend/services/auth-service/src/app/app.controller.ts
Owners: @meqenet-dev-team

fix: Resolve TypeScript compilation errors
  backend/services/api-gateway/src/app/app.controller.ts
  backend/services/api-gateway/src/shared/interceptors/logging.interceptor.ts
  backend/services/auth-service/src/app/app.controller.ts
Owners: @meqenet-dev-team

fix: Resolve TypeScript compilation errors
  backend/services/api-gateway/src/app/app.controller.ts
  backend/services/api-gateway/src/shared/interceptors/logging.interceptor.ts
  backend/services/auth-service/src/app/app.controller.ts
Owners: @meqenet-dev-team

fix: Resolve critical TypeScript compilation errors and ESLint issues
  backend/services/auth-service/src/shared/controllers/credential-management.controller.ts
  backend/services/auth-service/src/shared/guards/adaptive-rate-limit.guard.ts
  backend/services/auth-service/src/shared/interceptors/field-encryption.interceptor.ts
  backend/services/auth-service/src/shared/services/adaptive-rate-limiting.service.ts
Owners: @meqenet-dev-team, @data-security-specialist, @financial-software-architect

fix: Resolve critical TypeScript compilation errors and ESLint issues
  backend/services/auth-service/src/shared/controllers/credential-management.controller.ts
  backend/services/auth-service/src/shared/guards/adaptive-rate-limit.guard.ts
  backend/services/auth-service/src/shared/interceptors/field-encryption.interceptor.ts
  backend/services/auth-service/src/shared/services/adaptive-rate-limiting.service.ts
Owners: @meqenet-dev-team, @data-security-specialist, @financial-software-architect

fix: Resolve ESLint any type violations
  backend/services/auth-service/src/shared/interceptors/field-encryption.interceptor.ts
  backend/services/auth-service/src/shared/services/credential-rotation.service.ts
Owners: @data-security-specialist, @financial-software-architect, @meqenet-dev-team

fix: Resolve ESLint any type violations
  backend/services/auth-service/src/shared/interceptors/field-encryption.interceptor.ts
  backend/services/auth-service/src/shared/services/credential-rotation.service.ts
Owners: @data-security-specialist, @financial-software-architect, @meqenet-dev-team

fix: Resolve ESLint any type violation in field encryption interceptor
  backend/services/auth-service/src/shared/services/field-encryption.service.ts
Owners: @data-security-specialist, @financial-software-architect

fix: Resolve ESLint any type violation in field encryption interceptor
  backend/services/auth-service/src/shared/services/field-encryption.service.ts
Owners: @data-security-specialist, @financial-software-architect

fix: Resolve final TypeScript compilation errors
  backend/services/auth-service/src/shared/interceptors/field-encryption.interceptor.ts
  backend/services/auth-service/src/shared/services/field-encryption.service.ts
  backend/services/auth-service/src/shared/services/secret-manager.service.ts
  backend/services/auth-service/src/shared/services/security-monitoring.service.ts
Owners: @data-security-specialist, @financial-software-architect, @meqenet-dev-team

fix: Resolve final TypeScript compilation errors
  backend/services/auth-service/src/shared/interceptors/field-encryption.interceptor.ts
  backend/services/auth-service/src/shared/services/field-encryption.service.ts
  backend/services/auth-service/src/shared/services/secret-manager.service.ts
  backend/services/auth-service/src/shared/services/security-monitoring.service.ts
Owners: @data-security-specialist, @financial-software-architect, @meqenet-dev-team

fix: Resolve all CI/CD failures for successful deployment
  .github/codeql/codeql-config.yml
  .github/workflows/deploy.yml
  backend/services/api-gateway/package.json
  backend/services/auth-service/src/infrastructure/database/prisma.service.ts
  backend/services/auth-service/src/shared/config/pino.config.ts
  backend/services/auth-service/src/shared/interceptors/field-encryption.interceptor.ts
  pnpm-lock.yaml
  scripts/dependency-cleanup.js
Owners: @fintech-devops-engineer, @financial-software-architect, @senior-backend-developer, @meqenet-dev-team, @data-security-specialist

fix: Resolve all CI/CD failures for successful deployment
  .github/codeql/codeql-config.yml
  .github/workflows/deploy.yml
  backend/services/api-gateway/package.json
  backend/services/auth-service/src/infrastructure/database/prisma.service.ts
  backend/services/auth-service/src/shared/config/pino.config.ts
  backend/services/auth-service/src/shared/interceptors/field-encryption.interceptor.ts
  pnpm-lock.yaml
  scripts/dependency-cleanup.js
Owners: @fintech-devops-engineer, @financial-software-architect, @senior-backend-developer, @meqenet-dev-team, @data-security-specialist

fix: Add params property to QueryEvent type definition
  backend/services/auth-service/src/infrastructure/database/prisma.service.ts
Owners: @meqenet-dev-team

fix: Add params property to QueryEvent type definition
  backend/services/auth-service/src/infrastructure/database/prisma.service.ts
Owners: @meqenet-dev-team

fix: Eliminate all GitHub context variable interpolation in shell scripts
  .github/workflows/deploy.yml
Owners: @fintech-devops-engineer, @financial-software-architect

fix: Eliminate all GitHub context variable interpolation in shell scripts
  .github/workflows/deploy.yml
Owners: @fintech-devops-engineer, @financial-software-architect

fix: Add missing dependencies to auth-service package.json
  pnpm-lock.yaml
Owners: @meqenet-dev-team

fix: Add missing dependencies to auth-service package.json
  pnpm-lock.yaml
Owners: @meqenet-dev-team

fix: Resolve all remaining CI/CD issues comprehensively
  .github/workflows/ci.yml
Owners: @fintech-devops-engineer, @financial-software-architect

fix: Resolve all remaining CI/CD issues comprehensively
  .github/workflows/ci.yml
Owners: @fintech-devops-engineer, @financial-software-architect

fix: address Terraform security issues from tfsec
  infrastructure/api_gateway.tf
  infrastructure/database.tf
  infrastructure/events.tf
  infrastructure/networking.tf
Owners: @fintech-devops-engineer, @financial-software-architect

fix: address Terraform security issues from tfsec
  infrastructure/api_gateway.tf
  infrastructure/database.tf
  infrastructure/events.tf
  infrastructure/networking.tf
Owners: @fintech-devops-engineer, @financial-software-architect

fix: resolve pnpm installation syntax error in CI workflow
  .github/workflows/ci.yml
Owners: @fintech-devops-engineer, @financial-software-architect

fix: resolve pnpm installation syntax error in CI workflow
  .github/workflows/ci.yml
Owners: @fintech-devops-engineer, @financial-software-architect

fix: resolve all CI/CD pipeline failures
  .github/workflows/ci.yml
  AWS_IAM)
  backend/services/auth-service/Dockerfile
  backend/services/auth-service/package.json
  docker-compose.observability.yml
  infrastructure/database.tf
  infrastructure/events.tf
  infrastructure/networking.tf
  otel-collector-config.yaml
  pnpm-lock.yaml
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team, @senior-backend-developer

fix: resolve all CI/CD pipeline failures
  .github/workflows/ci.yml
  AWS_IAM)
  backend/services/auth-service/Dockerfile
  backend/services/auth-service/package.json
  docker-compose.observability.yml
  infrastructure/database.tf
  infrastructure/events.tf
  infrastructure/networking.tf
  otel-collector-config.yaml
  pnpm-lock.yaml
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team, @senior-backend-developer

fix: remove unused imports from Redis config test file
  .github/workflows/e2e.yml
  backend-e2e/src/tests/web.e2e.spec.ts
  backend/services/api-gateway/package.json
  backend/services/api-gateway/src/app/app.module.ts
  backend/services/api-gateway/src/idempotency/idempotency.middleware.ts
  backend/services/api-gateway/src/idempotency/idempotency.module.ts
  backend/services/api-gateway/src/idempotency/redis.service.ts
  backend/services/api-gateway/src/shared/config/app.config.ts
  backend/services/api-gateway/src/shared/interceptors/caching.interceptor.ts
  backend/services/api-gateway/src/shared/redis/redis.module.ts
  backend/services/api-gateway/src/shared/redis/redis.service.ts
  backend/services/auth-service/package.json
  backend/services/auth-service/src/app/app.module.ts
  backend/services/auth-service/src/health/health.controller.ts
  backend/services/auth-service/src/health/health.module.ts
  backend/services/auth-service/src/queue/queue.constants.ts
  backend/services/auth-service/src/queue/queue.consumer.spec.ts
  backend/services/auth-service/src/queue/queue.consumer.ts
  backend/services/auth-service/src/queue/queue.module.ts
  backend/services/auth-service/src/queue/queue.producer.service.spec.ts
  backend/services/auth-service/src/queue/queue.producer.service.ts
  backend/services/auth-service/src/shared/config/app.config.ts
  backend/services/auth-service/src/shared/config/redis.config.spec.ts
  backend/services/auth-service/src/shared/config/redis.config.ts
  backend/services/auth-service/src/shared/observability/otel.ts
  backend/services/auth-service/src/shared/shared.module.ts
  backend/services/auth-service/src/telemetry.spec.ts
  backend/services/auth-service/src/telemetry.ts
  docker-compose.e2e.yml
  docker-compose.observability.yml
  docs/NEW_FEATURES_README.md
  env.example
  frontend/apps/website/Dockerfile
  grafana/provisioning/datasources/datasources.yml
  otel-collector-config.yaml
  package.json
  pnpm-lock.yaml
  prometheus.yml
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team, @senior-backend-developer, @product-manager, @compliance-risk-officer, @analytics-bi-specialist

fix: remove unused imports from Redis config test file
  .github/workflows/e2e.yml
  backend-e2e/src/tests/web.e2e.spec.ts
  backend/services/api-gateway/package.json
  backend/services/api-gateway/src/app/app.module.ts
  backend/services/api-gateway/src/idempotency/idempotency.middleware.ts
  backend/services/api-gateway/src/idempotency/idempotency.module.ts
  backend/services/api-gateway/src/idempotency/redis.service.ts
  backend/services/api-gateway/src/shared/config/app.config.ts
  backend/services/api-gateway/src/shared/interceptors/caching.interceptor.ts
  backend/services/api-gateway/src/shared/redis/redis.module.ts
  backend/services/api-gateway/src/shared/redis/redis.service.ts
  backend/services/auth-service/package.json
  backend/services/auth-service/src/app/app.module.ts
  backend/services/auth-service/src/health/health.controller.ts
  backend/services/auth-service/src/health/health.module.ts
  backend/services/auth-service/src/queue/queue.constants.ts
  backend/services/auth-service/src/queue/queue.consumer.spec.ts
  backend/services/auth-service/src/queue/queue.consumer.ts
  backend/services/auth-service/src/queue/queue.module.ts
  backend/services/auth-service/src/queue/queue.producer.service.spec.ts
  backend/services/auth-service/src/queue/queue.producer.service.ts
  backend/services/auth-service/src/shared/config/app.config.ts
  backend/services/auth-service/src/shared/config/redis.config.spec.ts
  backend/services/auth-service/src/shared/config/redis.config.ts
  backend/services/auth-service/src/shared/observability/otel.ts
  backend/services/auth-service/src/shared/shared.module.ts
  backend/services/auth-service/src/telemetry.spec.ts
  backend/services/auth-service/src/telemetry.ts
  docker-compose.e2e.yml
  docker-compose.observability.yml
  docs/NEW_FEATURES_README.md
  env.example
  frontend/apps/website/Dockerfile
  grafana/provisioning/datasources/datasources.yml
  otel-collector-config.yaml
  package.json
  pnpm-lock.yaml
  prometheus.yml
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team, @senior-backend-developer, @product-manager, @compliance-risk-officer, @analytics-bi-specialist

fix: resolve CI/CD pipeline failures
  backend/services/auth-service/Dockerfile
  scripts/dependency-cleanup.js
Owners: @meqenet-dev-team

fix: resolve CI/CD pipeline failures
  backend/services/auth-service/Dockerfile
  scripts/dependency-cleanup.js
Owners: @meqenet-dev-team
