Repository MakeMoneyOnly/Meqenet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @meqenet-dev-team, @data-security-specialist, @financial-software-architect, @senior-backend-developer, @data-scientist-ml, @compliance-risk-officer, @fintech-devops-engineer, @marketplace-merchant-manager, @product-manager, @analytics-bi-specialist, @senior-mobile-developer, @ux-designer, @financial-qa-specialist

.github/CODEOWNERS:

# CODEOWNERS for Meqenet.et BNPL Platform
# This file defines code ownership for the Ethiopian FinTech platform
# Each line represents a file pattern followed by one or more owners
# Owners are notified when pull requests are opened that modify these files

# Global Rules - All team members are responsible for general code quality
* @meqenet-dev-team

# ==========================================
# CRITICAL FINANCIAL SERVICES (High Security)
# ==========================================

# Authentication & Security Service (Zero Trust Architecture)
/services/auth-service/ @data-security-specialist @financial-software-architect
/packages/auth/ @data-security-specialist @financial-software-architect

# Core BNPL Service (All 4 Payment Options)
/services/bnpl-service/ @financial-software-architect @senior-backend-developer
/packages/bnpl/ @financial-software-architect @senior-backend-developer

# Credit Assessment & Scoring (AI/ML + Compliance)
/services/credit-service/ @data-scientist-ml @compliance-risk-officer
/packages/credit/ @data-scientist-ml @compliance-risk-officer

# KYC Verification (Fayda National ID + NBE Compliance)
/services/kyc-service/ @compliance-risk-officer @data-security-specialist
/packages/kyc/ @compliance-risk-officer @data-security-specialist

# Settlement Processing (Merchant Payments)
/services/settlements-service/ @financial-software-architect @senior-backend-developer
/packages/settlements/ @financial-software-architect @senior-backend-developer

# Payment Gateway Integrations (Ethiopian Providers)
/services/payments-service/ @senior-backend-developer @fintech-devops-engineer
/packages/payments/ @senior-backend-developer @fintech-devops-engineer

# ==========================================
# MARKETPLACE & COMMERCE SERVICES
# ==========================================

# Merchant Marketplace Platform
/services/marketplace-service/ @marketplace-merchant-manager @senior-backend-developer
/packages/marketplace/ @marketplace-merchant-manager @senior-backend-developer

# Product Catalog & Search
/services/products-service/ @marketplace-merchant-manager @senior-backend-developer
/packages/products/ @marketplace-merchant-manager @senior-backend-developer

# Order Management & Fulfillment
/services/orders-service/ @marketplace-merchant-manager @senior-backend-developer
/packages/orders/ @marketplace-merchant-manager @senior-backend-developer

# ==========================================
# CUSTOMER EXPERIENCE SERVICES
# ==========================================

# Rewards & Cashback Engine
/services/rewards-service/ @product-manager @senior-backend-developer
/packages/rewards/ @product-manager @senior-backend-developer

# Premium Subscription (Meqenet Plus)
/services/premium-service/ @product-manager @senior-backend-developer
/packages/premium/ @product-manager @senior-backend-developer

# Analytics & Business Intelligence
/services/analytics-service/ @analytics-bi-specialist @data-scientist-ml
/packages/analytics/ @analytics-bi-specialist @data-scientist-ml

# Virtual Cards (High Security)
/services/virtual-cards-service/ @data-security-specialist @senior-backend-developer
/packages/virtual-cards/ @data-security-specialist @senior-backend-developer

# QR Payments (Mobile-First)
/services/qr-payments-service/ @senior-mobile-developer @senior-backend-developer
/packages/qr-payments/ @senior-mobile-developer @senior-backend-developer

# ==========================================
# FRONTEND APPLICATIONS
# ==========================================

# Website (Next.js PWA)
/apps/website/ @senior-mobile-developer @ux-designer
/packages/web-ui/ @senior-mobile-developer @ux-designer

# Mobile App (React Native)
/apps/mobile/ @senior-mobile-developer @ux-designer
/packages/mobile-ui/ @senior-mobile-developer @ux-designer

# Shared UI Components & Design System
/packages/shared-ui/ @senior-mobile-developer @ux-designer
/packages/design-system/ @senior-mobile-developer @ux-designer

# Browser Extension
/apps/browser-extension/ @senior-mobile-developer @senior-backend-developer

# ==========================================
# INFRASTRUCTURE & DEVOPS
# ==========================================

# Infrastructure as Code (Terraform)
/infrastructure/ @fintech-devops-engineer @financial-software-architect
/terraform/ @fintech-devops-engineer @financial-software-architect

# Container Configurations
/docker/ @fintech-devops-engineer
/dockerfiles/ @fintech-devops-engineer
/k8s/ @fintech-devops-engineer @financial-software-architect

# CI/CD Pipelines
/.github/ @fintech-devops-engineer @financial-software-architect
/.gitlab-ci.yml @fintech-devops-engineer @financial-software-architect

# Monitoring & Observability
/monitoring/ @fintech-devops-engineer @senior-backend-developer
/grafana/ @fintech-devops-engineer @analytics-bi-specialist

# ==========================================
# DOCUMENTATION & COMPLIANCE
# ==========================================

# Core Documentation
/docs/ @product-manager @compliance-risk-officer

# Security Documentation (High Sensitivity)
/docs/Stage\ 1\ -\ Foundation/07-Security.md @data-security-specialist @compliance-risk-officer

# Compliance Framework (NBE Regulations)
/docs/Stage\ 1\ -\ Foundation/05-Compliance_Framework.md @compliance-risk-officer

# API Documentation & Governance
/docs/Stage\ 1\ -\ Foundation/02-API_Specification_and_Governance.md @financial-software-architect @senior-backend-developer

# Architecture Documentation
/docs/Stage\ 1\ -\ Foundation/08-Architecture.md @financial-software-architect

# Business Model & Financial Logic
/docs/Stage\ 1\ -\ Foundation/03-Business_Model.md @product-manager @financial-software-architect

# ==========================================
# ETHIOPIAN-SPECIFIC INTEGRATIONS
# ==========================================

# Fayda National ID Integration (KYC)
**/fayda-integration/ @compliance-risk-officer @senior-backend-developer
**/fayda/ @compliance-risk-officer @senior-backend-developer

# Telebirr Payment Integration
**/telebirr-integration/ @senior-backend-developer @fintech-devops-engineer
**/telebirr/ @senior-backend-developer @fintech-devops-engineer

# Ethiopian Payment Gateways
**/chapa/ @senior-backend-developer @fintech-devops-engineer
**/santimpay/ @senior-backend-developer @fintech-devops-engineer
**/arifpay/ @senior-backend-developer @fintech-devops-engineer
**/hellocash/ @senior-backend-developer @fintech-devops-engineer

# Amharic Localization
**/amharic-localization/ @ux-designer @senior-mobile-developer
**/i18n/am/ @ux-designer @senior-mobile-developer
**/locales/am/ @ux-designer @senior-mobile-developer

# ==========================================
# FINANCIAL LOGIC (HIGHEST SECURITY)
# ==========================================

# Payment Processing Logic
**/*payment*.ts @financial-software-architect @data-security-specialist
**/*payment*.js @financial-software-architect @data-security-specialist
**/*Payment*.tsx @financial-software-architect @senior-mobile-developer

# Interest Rate Calculations
**/*interest*.ts @financial-software-architect @compliance-risk-officer
**/*interest*.js @financial-software-architect @compliance-risk-officer
**/*Interest*.tsx @financial-software-architect @ux-designer

# Loan Management Logic
**/*loan*.ts @financial-software-architect @senior-backend-developer
**/*loan*.js @financial-software-architect @senior-backend-developer
**/*Loan*.tsx @financial-software-architect @senior-mobile-developer

# Credit Scoring & Assessment
**/*credit*.ts @data-scientist-ml @compliance-risk-officer
**/*credit*.js @data-scientist-ml @compliance-risk-officer
**/*Credit*.tsx @data-scientist-ml @ux-designer

# Financial Calculations & Utilities
**/*calculation*.ts @financial-software-architect @data-security-specialist
**/*financial*.ts @financial-software-architect @compliance-risk-officer
**/*currency*.ts @financial-software-architect @senior-backend-developer

# ==========================================
# SECURITY-SENSITIVE FILES
# ==========================================

# Cryptography & Encryption
**/*crypto*.ts @data-security-specialist @financial-software-architect
**/*encryption*.ts @data-security-specialist @financial-software-architect
**/*security*.ts @data-security-specialist @financial-software-architect

# Authentication & Authorization
**/*auth*.ts @data-security-specialist @financial-software-architect
**/*jwt*.ts @data-security-specialist @senior-backend-developer
**/*session*.ts @data-security-specialist @senior-backend-developer

# Database Schemas (Financial Data)
**/schema.prisma @financial-software-architect @data-security-specialist
**/migrations/ @financial-software-architect @senior-backend-developer

# Environment & Configuration Files
**/.env* @fintech-devops-engineer @data-security-specialist
**/config/ @fintech-devops-engineer @financial-software-architect

# ==========================================
# SPECIAL FILES & CONFIGURATIONS
# ==========================================

# Repository Configuration
.gitignore @fintech-devops-engineer
.cursorrules @financial-software-architect @data-security-specialist
CONTRIBUTING.md @product-manager @financial-software-architect
README.md @product-manager @financial-software-architect
LICENSE @compliance-risk-officer @product-manager

# Package Management
package.json @fintech-devops-engineer @senior-backend-developer
package-lock.json @fintech-devops-engineer @senior-backend-developer
yarn.lock @fintech-devops-engineer @senior-backend-developer

# TypeScript Configuration
tsconfig.json @financial-software-architect @senior-backend-developer
tsconfig.*.json @financial-software-architect @senior-backend-developer

# Linting & Code Quality
.eslintrc* @financial-software-architect @senior-backend-developer
.prettierrc* @financial-software-architect @senior-mobile-developer
jest.config* @senior-backend-developer @financial-qa-specialist

# ==========================================
# TASK MANAGEMENT & PROJECT COORDINATION
# ==========================================

# Task Management System
/tasks/ @product-manager @financial-software-architect
tasks.yaml @product-manager @financial-software-architect
update_progress.py @product-manager @fintech-devops-engineer

# ==========================================
# COMPLIANCE & AUDIT REQUIREMENTS
# ==========================================

# Any changes to financial logic, security implementations, or Ethiopian regulatory compliance
# require additional review from compliance officers and security specialists.
# 
# For NBE audit purposes, all changes to payment processing, interest calculations,
# and customer data handling must maintain a complete audit trail with proper approvals.
#
# Emergency security patches may bypass some approval requirements but require
# post-deployment review within 24 hours.

feat(test): migrate to Vitest and implement fintech branching strategy
  backend/services/auth-service/src/app/app.controller.spec.ts
  backend/src/app/app.controller.spec.ts
  package.json
  test/setup.ts
  tsconfig.base.json
  vitest.config.mjs
  vitest.d.ts
Owners: @meqenet-dev-team, @fintech-devops-engineer, @senior-backend-developer, @financial-software-architect

fix(test): resolve NestJS dependency injection issues with Vitest
  backend/services/api-gateway/tsconfig.spec.json
  backend/services/auth-service/src/app/app.controller.spec.ts
  backend/services/auth-service/tsconfig.spec.json
  backend/src/app/app.controller.spec.ts
  backend/tsconfig.spec.json
Owners: @financial-software-architect, @senior-backend-developer, @meqenet-dev-team

feat(git): add close-security-branch automation for NBE compliance
  tools/git/README.md
  tools/git/git-automation.py
Owners: @product-manager, @financial-software-architect, @meqenet-dev-team

chore: normalize line endings and minor test formatting
  backend/services/auth-service/src/shared/utils/logging-sanitizer.util.spec.ts
Owners: @meqenet-dev-team

docs(security): restore NBE compliance security incident log
  docs/SECURITY_INCIDENT_LOG.md
Owners: @product-manager, @compliance-risk-officer

feat: implement enterprise-grade fintech git automation v2.0
  tools/git/FINTECH_AUDIT_REPORT.md
  tools/git/README.md
  tools/git/git-automation.py
  tools/git/requirements.txt
Owners: @meqenet-dev-team, @product-manager, @financial-software-architect

refactor(dashboards): Consolidate reports and preserve visualizations
  README.md
  governance/README.md
  governance/chro_dashboard.py
  governance/config/governance_config.json
  governance/config/governance_config.yaml
  governance/dashboards/cco_dashboard.py
  governance/dashboards/ceo_dashboard.py
  governance/dashboards/cfo_dashboard.py
  governance/dashboards/ciso_dashboard.py
  governance/dashboards/compliance.db
  governance/dashboards/cto_dashboard.py
  governance/dashboards/executive_metrics.db
  governance/dashboards/finops.db
  governance/dashboards/technical_health.db
  governance/dashboards/unified_dashboard.py
  governance/dashboards/unified_governance.db
  governance/data/compliance.db
  governance/data/executive_metrics.db
  governance/data/finops.db
  governance/data/security_metrics.db
  governance/data/technical_health.db
  governance/docs/Dashboard_Operations_Guide.md
  governance/docs/INSTALLATION.md
  governance/orchestrator.py
  governance/reports/governance_execution_summary_2025-07-10_20-59-40.md
  governance/reports/governance_execution_summary_2025-07-10_21-01-33.md
  governance/reports/governance_execution_summary_2025-07-10_21-10-48.md
  governance/reports/governance_execution_summary_2025-07-10_21-26-25.md
  governance/reports/orchestration_summary_2025-07-10_21-10-48.html
  governance/reports/orchestration_summary_2025-07-10_21-26-25.html
  governance/requirements.txt
  governance/setup.py
  quick_start.py
  tasks/tasks.yaml
Owners: @product-manager, @financial-software-architect, @meqenet-dev-team, @fintech-devops-engineer

feat(ci): add local CI/CD validation suite, fix lint, encoding, and test runner issues
  backend/services/auth-service/package.json
  backend/services/auth-service/src/infrastructure/database/prisma.service.ts
  backend/services/auth-service/src/shared/config/database.config.ts
  docs/LOCAL_CI_VALIDATION.md
  governance/dashboards/cco_dashboard.py
  governance/dashboards/ceo_dashboard.py
  governance/dashboards/cfo_dashboard.py
  governance/dashboards/ciso_dashboard.py
  governance/dashboards/cto_dashboard.py
  governance/local_ci_validator.py
  governance/orchestrator.py
  governance/reports/governance_execution_summary_2025-07-10_20-59-40.md
  governance/reports/governance_execution_summary_2025-07-10_21-01-33.md
  governance/reports/governance_execution_summary_2025-07-10_21-10-48.md
  governance/setup.py
  pnpm-lock.yaml
  scripts/validate-before-push.bat
  scripts/validate-before-push.sh
  tools/git/git-automation.py
Owners: @fintech-devops-engineer, @senior-backend-developer, @meqenet-dev-team, @financial-software-architect, @product-manager, @compliance-risk-officer

feat(ci): Enhance Docker build resilience and local validation
  .npmrc
  backend/services/api-gateway/Dockerfile
  backend/services/auth-service/Dockerfile
  governance/local_ci_validator.py
Owners: @meqenet-dev-team

feat(ci): Resolve E2E test and build warning failures
  .cursor/rules/nx-rules.mdc
  .pip-audit-deps/charset_normalizer-3.4.2.dist-info/RECORD
  .pip-audit-deps/coverage-7.9.2.dist-info/RECORD
  .pip-audit-deps/pytest-8.3.2.dist-info/RECORD
  apps/backend-e2e/tsconfig.app.json
  apps/backend-e2e/tsconfig.json
  apps/backend-e2e/vite.config.ts
  backend-e2e/project.json
  backend-e2e/src/support/global-setup.ts
  backend-e2e/src/support/global-teardown.cjs
  backend-e2e/vite.config.ts
  backend/project.json
  backend/services/api-gateway/project.json
  backend/services/api-gateway/tsconfig.app.json
  backend/services/api-gateway/webpack.config.js
  backend/services/auth-service/src/shared/filters/global-exception.filter.ts
  eslint.config.js
  governance/chro_dashboard.py
  governance/reports/orchestration_summary_2025-07-10_21-10-48.html
  governance/reports/orchestration_summary_2025-07-10_21-26-25.html
  package.json
  pnpm-lock.yaml
  tools/jest-transform-stub.cjs
  vitest.config.mjs
Owners: @meqenet-dev-team, @financial-software-architect, @senior-backend-developer, @fintech-devops-engineer

security: resolve GHSA-fjxv-7rqg-78g4 by upgrading form-data, bump Nx/ESLint; fix Prisma logging types; make Docker builds resilient; pass local validator (no overrides)
  backend/services/auth-service/src/infrastructure/database/prisma.service.ts
  backend/services/auth-service/webpack.config.js
  governance/local_ci_validator.py
  package.json
  pnpm-lock.yaml
Owners: @meqenet-dev-team, @fintech-devops-engineer, @senior-backend-developer

ci(security): exclude transient audit deps and artifacts from CodeQL and repo; ignore .pip-audit-deps-temp/ and audit.json
  .gitignore
Owners: @fintech-devops-engineer

ci(validator): harden lint step on Windows (disable Nx daemon, no-cache); improve Docker transient failure handling; update serve cmd; security/lint fixes
  .audit-ci.json
  .cursor/mcp.json
  .cursor/rules/nx-rules.mdc
  backend-e2e/project.json
  backend/services/api-gateway/Dockerfile
  backend/services/auth-service/Dockerfile
  backend/services/auth-service/src/infrastructure/database/prisma.service.ts
  backend/services/auth-service/src/shared/config/database.config.ts
  backend/services/auth-service/src/shared/filters/global-exception.filter.spec.ts
  docker-compose.yml
  governance/local_ci_validator.py
  nx.json
  package.json
Owners: @meqenet-dev-team, @fintech-devops-engineer, @financial-software-architect, @senior-backend-developer

security: add OWASP suppression for false-positives (GitPython->CPython CPE, pandas); run OWASP locally in validator for CI parity
  governance/local_ci_validator.py
  owasp-suppression.xml
Owners: @meqenet-dev-team

security(secrets): add AWS Secrets Manager SecretsModule and refactor Prisma to vault; lint: enforce no-process-env (tests allowed); ci(validator): add vault resolution smoke test
  backend/services/auth-service/package.json
  backend/services/auth-service/src/infrastructure/database/database.module.ts
  backend/services/auth-service/src/infrastructure/database/prisma.service.ts
  backend/services/auth-service/src/shared/config/database.config.ts
  backend/services/auth-service/src/shared/secrets/secrets.module.ts
  backend/services/auth-service/src/shared/secrets/secrets.service.ts
  backend/services/auth-service/test/database.integration.spec.ts
  eslint.config.js
  governance/local_ci_validator.py
  package.json
  pnpm-lock.yaml
Owners: @fintech-devops-engineer, @senior-backend-developer, @meqenet-dev-team, @financial-software-architect

ci(validator): support --aws-profile and enforce AWS_PROFILE for vault check; remove env-based database.config import from tests
  backend/services/auth-service/test/database.integration.spec.ts
  governance/local_ci_validator.py
Owners: @meqenet-dev-team

test(auth): mock SecretsService in integration tests to avoid real AWS client; all tests green
  backend/services/auth-service/test/database.integration.spec.ts
Owners: @meqenet-dev-team

security(owasp): fix suppression schema usage and consolidate to single root; ci(validator): fix env injection bug (os import)
  governance/local_ci_validator.py
  owasp-suppression.xml
Owners: @meqenet-dev-team

ci/security: fix OWASP suppression schema usage; enforce parse in GH Action; CI: generate Prisma client before tests; ensure local parity
  .github/workflows/ci.yml
  .github/workflows/security.yml
  owasp-suppression.xml
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team

ci: remove deleted database.config.ts from tracking (fix Prettier); security: bump aiohttp to >=3.9.5; pin requests to 2.32.3 for CVE resolution; ensure CI parity
  backend/services/auth-service/src/shared/config/database.config.ts
  governance/requirements.txt
  tools/git/requirements.txt
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team

security(owasp): speed up DC via cached Docker, scoped scan; fix Python vuln (requests 2.32.4)
  governance/local_ci_validator.py
  tools/git/requirements.txt
Owners: @meqenet-dev-team

chore(ci): ignore OWASP cache and reports
  .gitignore
Owners: @fintech-devops-engineer

build(security,ci): migrate Jest→Vitest; fix OWASP scans; resolve peer deps; remove deprecated subdeps; pass local validator
  backend-e2e/src/support/global-teardown.ts
  backend/services/api-gateway/package.json
  backend/services/api-gateway/project.json
  backend/services/auth-service/package.json
  backend/services/auth-service/project.json
  governance/quick_start.py
  nx.json
  package.json
  pnpm-lock.yaml
  trufflehog_report.json
Owners: @meqenet-dev-team, @fintech-devops-engineer, @senior-backend-developer

ci(security): update GitHub Actions to secure majors (pnpm/action-setup@v4); reduce secrets scan false positives
  .github/workflows/ci.yml
  .github/workflows/security.yml
  .trufflehogignore
  package.json
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team, @senior-backend-developer

ci(security): harden local validator; dockerize TruffleHog with strict excludes; trim AWS region in vault check; fix Prettier and git ignores; align OWASP DC (disable OSS Index)
  .github/workflows/ci.yml
  .github/workflows/security.yml
  .gitignore
  .prettierignore
  .trufflehogignore
  backend/java-openapi.json
  backend/services/auth-service/package.json
  bom.json
  governance/local_ci_validator.py
  java-app.atom
  java-usages.slices.json
  package.json
  pnpm-lock.yaml
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team, @senior-backend-developer

ci(sbom): align cdxgen with CI and fix permissions by running as root; disable npm scripts during SBOM generation
  .github/workflows/ci.yml
  bom.json
  governance/local_ci_validator.py
  java-app.atom
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team

ci(align): make local quick run generate Prisma client; add prisma generate to CI code-quality; auth-service prebuild; deps: tighten overrides and update; align Prisma to v5.22
  .github/workflows/ci.yml
  backend/services/auth-service/package.json
  governance/local_ci_validator.py
  package.json
  pnpm-lock.yaml
Owners: @fintech-devops-engineer, @financial-software-architect, @senior-backend-developer, @meqenet-dev-team

ci(pnpm): unify pnpm version to 10.14.0 across workflows and packageManager/volta to fix ERR_PNPM_BAD_PM_VERSION
  .github/workflows/ci.yml
  .github/workflows/security.yml
  package.json
Owners: @fintech-devops-engineer, @financial-software-architect, @senior-backend-developer

chore(merge): remove conflict markers; finalize merge with main
  backend/services/auth-service/src/infrastructure/database/prisma.service.ts
Owners: @meqenet-dev-team

fix(config): use ZodError.issues with typed ZodIssue in database config
  backend/services/auth-service/src/shared/config/database.config.ts
Owners: @fintech-devops-engineer, @financial-software-architect

feat: Complete GitHub workflow parity with local CI validator
  .github/workflows/ci.yml
  backend/services/api-gateway/java-openapi.json
  backend/services/auth-service/java-openapi.json
  backend/services/auth-service/src/shared/config/database.config.ts
  bom.api-gateway.json
  bom.auth-service.json
  bom.json
  docs/LOCAL_CI_VALIDATION.md
  governance/local_ci_validator.py
  governance/tools/scan_sbom.py
  governance/tools/scan_sbom_allowlist.txt
  java-app.atom
  package.json
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team, @product-manager, @compliance-risk-officer, @senior-backend-developer

fix: Restore comprehensive GitHub workflows with all phases
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Owners: @fintech-devops-engineer, @financial-software-architect

fix: Standardize Node.js version to 22 across all workflows and configs
  .github/workflows/ci.yml
  .github/workflows/compliance.yml
  .github/workflows/deploy.yml
  .github/workflows/owasp-zap.yml
  .github/workflows/performance.yml
  .github/workflows/sonarqube.yml
  backend/services/api-gateway/package.json
  backend/services/auth-service/package.json
  package.json
  templates/microservice/cookiecutter.json
Owners: @fintech-devops-engineer, @financial-software-architect, @senior-backend-developer, @meqenet-dev-team

feat: Add comprehensive enterprise FinTech workflows + fix Node.js standardization
  22.0.0
Owners: @meqenet-dev-team

feat: 🚀 Achieve 100% FinTech Enterprise Compliance
  .github/workflows/aml-kyc-testing.yml
  .github/workflows/compliance.yml
  .github/workflows/financial-model-bias-testing.yml
  .github/workflows/infrastructure.yml
  .github/workflows/monitoring.yml
  .github/workflows/owasp-zap.yml
  .github/workflows/performance.yml
  .github/workflows/zap-rules.txt
  docs/Stage 1 - Foundation/05-Compliance_Framework.md
  docs/Stage 1 - Foundation/07-Security.md
  docs/Stage 1 - Foundation/08-Architecture.md
  docs/Stage 1 - Foundation/14-100_Percent_FinTech_Compliance.md
  governance/local_ci_validator.py
Owners: @fintech-devops-engineer, @financial-software-architect, @compliance-risk-officer, @data-security-specialist, @product-manager, @meqenet-dev-team

ci: fix failing checks and enforce local parity
  .github/dependabot.yml
  .github/workflows/aml-kyc-testing.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/compliance.yml
  .github/workflows/financial-model-bias-testing.yml
  .github/workflows/infrastructure.yml
  .github/workflows/monitoring.yml
  .github/workflows/owasp-zap.yml
  .github/workflows/performance.yml
  governance/local_ci_validator.py
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team

fix: resolve SBOM generation issues and eliminate duplicate workspace errors
  .cdxgenignore
  governance/local_ci_validator.py
  package.json
Owners: @meqenet-dev-team, @fintech-devops-engineer, @senior-backend-developer

fix: resolve CI failures and enhance local CI validation parity
  .prettierignore
  backend/services/api-gateway/Dockerfile
  backend/services/api-gateway/package.json
  backend/services/auth-service/Dockerfile
  backend/services/auth-service/package.json
  backend/services/auth-service/src/shared/config/database.config.ts
  bom.api-gateway.json
  bom.auth-service.json
  bom.json
  docker-compose.yml
  governance/local_ci_validator.py
  governance/tools/check_toolchain_parity.py
  governance/tools/lint_docker_flags.py
Owners: @meqenet-dev-team, @fintech-devops-engineer, @senior-backend-developer, @financial-software-architect

ci(workflows): pin pnpm 10.14.0 in all workflows; validator checks workflow pnpm major; fix Prettier formatting in database.config.ts
  .github/workflows/codeql.yml
  .github/workflows/infrastructure.yml
  .github/workflows/monitoring.yml
  .github/workflows/owasp-zap.yml
  backend/services/auth-service/src/shared/config/database.config.ts
  governance/local_ci_validator.py
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team

ci: align workflows to pnpm@10.14.0 and fix signing; fix ESLint env rule in centralized config; bump aiohttp>=3.12.14 to clear OWASP CVEs; replace tfsec with real scan
  .github/workflows/deploy.yml
  backend/services/auth-service/src/shared/config/database.config.ts
  governance/docs/INSTALLATION.md
  governance/requirements.txt
  governance/setup.py
  package.json
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team, @senior-backend-developer
