Repository MakeMoneyOnly/Meqenet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @meqenet-dev-team, @data-security-specialist, @financial-software-architect, @senior-backend-developer, @data-scientist-ml, @compliance-risk-officer, @fintech-devops-engineer, @marketplace-merchant-manager, @product-manager, @analytics-bi-specialist, @senior-mobile-developer, @ux-designer, @financial-qa-specialist

.github/CODEOWNERS:

# CODEOWNERS for Meqenet.et BNPL Platform
# This file defines code ownership for the Ethiopian FinTech platform
# Each line represents a file pattern followed by one or more owners
# Owners are notified when pull requests are opened that modify these files

# Global Rules - All team members are responsible for general code quality
* @meqenet-dev-team

# ==========================================
# CRITICAL FINANCIAL SERVICES (High Security)
# ==========================================

# Authentication & Security Service (Zero Trust Architecture)
/services/auth-service/ @data-security-specialist @financial-software-architect
/packages/auth/ @data-security-specialist @financial-software-architect

# Core BNPL Service (All 4 Payment Options)
/services/bnpl-service/ @financial-software-architect @senior-backend-developer
/packages/bnpl/ @financial-software-architect @senior-backend-developer

# Credit Assessment & Scoring (AI/ML + Compliance)
/services/credit-service/ @data-scientist-ml @compliance-risk-officer
/packages/credit/ @data-scientist-ml @compliance-risk-officer

# KYC Verification (Fayda National ID + NBE Compliance)
/services/kyc-service/ @compliance-risk-officer @data-security-specialist
/packages/kyc/ @compliance-risk-officer @data-security-specialist

# Settlement Processing (Merchant Payments)
/services/settlements-service/ @financial-software-architect @senior-backend-developer
/packages/settlements/ @financial-software-architect @senior-backend-developer

# Payment Gateway Integrations (Ethiopian Providers)
/services/payments-service/ @senior-backend-developer @fintech-devops-engineer
/packages/payments/ @senior-backend-developer @fintech-devops-engineer

# ==========================================
# MARKETPLACE & COMMERCE SERVICES
# ==========================================

# Merchant Marketplace Platform
/services/marketplace-service/ @marketplace-merchant-manager @senior-backend-developer
/packages/marketplace/ @marketplace-merchant-manager @senior-backend-developer

# Product Catalog & Search
/services/products-service/ @marketplace-merchant-manager @senior-backend-developer
/packages/products/ @marketplace-merchant-manager @senior-backend-developer

# Order Management & Fulfillment
/services/orders-service/ @marketplace-merchant-manager @senior-backend-developer
/packages/orders/ @marketplace-merchant-manager @senior-backend-developer

# ==========================================
# CUSTOMER EXPERIENCE SERVICES
# ==========================================

# Rewards & Cashback Engine
/services/rewards-service/ @product-manager @senior-backend-developer
/packages/rewards/ @product-manager @senior-backend-developer

# Premium Subscription (Meqenet Plus)
/services/premium-service/ @product-manager @senior-backend-developer
/packages/premium/ @product-manager @senior-backend-developer

# Analytics & Business Intelligence
/services/analytics-service/ @analytics-bi-specialist @data-scientist-ml
/packages/analytics/ @analytics-bi-specialist @data-scientist-ml

# Virtual Cards (High Security)
/services/virtual-cards-service/ @data-security-specialist @senior-backend-developer
/packages/virtual-cards/ @data-security-specialist @senior-backend-developer

# QR Payments (Mobile-First)
/services/qr-payments-service/ @senior-mobile-developer @senior-backend-developer
/packages/qr-payments/ @senior-mobile-developer @senior-backend-developer

# ==========================================
# FRONTEND APPLICATIONS
# ==========================================

# Website (Next.js PWA)
/apps/website/ @senior-mobile-developer @ux-designer
/packages/web-ui/ @senior-mobile-developer @ux-designer

# Mobile App (React Native)
/apps/mobile/ @senior-mobile-developer @ux-designer
/packages/mobile-ui/ @senior-mobile-developer @ux-designer

# Shared UI Components & Design System
/packages/shared-ui/ @senior-mobile-developer @ux-designer
/packages/design-system/ @senior-mobile-developer @ux-designer

# Browser Extension
/apps/browser-extension/ @senior-mobile-developer @senior-backend-developer

# ==========================================
# INFRASTRUCTURE & DEVOPS
# ==========================================

# Infrastructure as Code (Terraform)
/infrastructure/ @fintech-devops-engineer @financial-software-architect
/terraform/ @fintech-devops-engineer @financial-software-architect

# Container Configurations
/docker/ @fintech-devops-engineer
/dockerfiles/ @fintech-devops-engineer
/k8s/ @fintech-devops-engineer @financial-software-architect

# CI/CD Pipelines
/.github/ @fintech-devops-engineer @financial-software-architect
/.gitlab-ci.yml @fintech-devops-engineer @financial-software-architect

# Monitoring & Observability
/monitoring/ @fintech-devops-engineer @senior-backend-developer
/grafana/ @fintech-devops-engineer @analytics-bi-specialist

# ==========================================
# DOCUMENTATION & COMPLIANCE
# ==========================================

# Core Documentation
/docs/ @product-manager @compliance-risk-officer

# Security Documentation (High Sensitivity)
/docs/Stage\ 1\ -\ Foundation/07-Security.md @data-security-specialist @compliance-risk-officer

# Compliance Framework (NBE Regulations)
/docs/Stage\ 1\ -\ Foundation/05-Compliance_Framework.md @compliance-risk-officer

# API Documentation & Governance
/docs/Stage\ 1\ -\ Foundation/02-API_Specification_and_Governance.md @financial-software-architect @senior-backend-developer

# Architecture Documentation
/docs/Stage\ 1\ -\ Foundation/08-Architecture.md @financial-software-architect

# Business Model & Financial Logic
/docs/Stage\ 1\ -\ Foundation/03-Business_Model.md @product-manager @financial-software-architect

# ==========================================
# ETHIOPIAN-SPECIFIC INTEGRATIONS
# ==========================================

# Fayda National ID Integration (KYC)
**/fayda-integration/ @compliance-risk-officer @senior-backend-developer
**/fayda/ @compliance-risk-officer @senior-backend-developer

# Telebirr Payment Integration
**/telebirr-integration/ @senior-backend-developer @fintech-devops-engineer
**/telebirr/ @senior-backend-developer @fintech-devops-engineer

# Ethiopian Payment Gateways
**/chapa/ @senior-backend-developer @fintech-devops-engineer
**/santimpay/ @senior-backend-developer @fintech-devops-engineer
**/arifpay/ @senior-backend-developer @fintech-devops-engineer
**/hellocash/ @senior-backend-developer @fintech-devops-engineer

# Amharic Localization
**/amharic-localization/ @ux-designer @senior-mobile-developer
**/i18n/am/ @ux-designer @senior-mobile-developer
**/locales/am/ @ux-designer @senior-mobile-developer

# ==========================================
# FINANCIAL LOGIC (HIGHEST SECURITY)
# ==========================================

# Payment Processing Logic
**/*payment*.ts @financial-software-architect @data-security-specialist
**/*payment*.js @financial-software-architect @data-security-specialist
**/*Payment*.tsx @financial-software-architect @senior-mobile-developer

# Interest Rate Calculations
**/*interest*.ts @financial-software-architect @compliance-risk-officer
**/*interest*.js @financial-software-architect @compliance-risk-officer
**/*Interest*.tsx @financial-software-architect @ux-designer

# Loan Management Logic
**/*loan*.ts @financial-software-architect @senior-backend-developer
**/*loan*.js @financial-software-architect @senior-backend-developer
**/*Loan*.tsx @financial-software-architect @senior-mobile-developer

# Credit Scoring & Assessment
**/*credit*.ts @data-scientist-ml @compliance-risk-officer
**/*credit*.js @data-scientist-ml @compliance-risk-officer
**/*Credit*.tsx @data-scientist-ml @ux-designer

# Financial Calculations & Utilities
**/*calculation*.ts @financial-software-architect @data-security-specialist
**/*financial*.ts @financial-software-architect @compliance-risk-officer
**/*currency*.ts @financial-software-architect @senior-backend-developer

# ==========================================
# SECURITY-SENSITIVE FILES
# ==========================================

# Cryptography & Encryption
**/*crypto*.ts @data-security-specialist @financial-software-architect
**/*encryption*.ts @data-security-specialist @financial-software-architect
**/*security*.ts @data-security-specialist @financial-software-architect

# Authentication & Authorization
**/*auth*.ts @data-security-specialist @financial-software-architect
**/*jwt*.ts @data-security-specialist @senior-backend-developer
**/*session*.ts @data-security-specialist @senior-backend-developer

# Database Schemas (Financial Data)
**/schema.prisma @financial-software-architect @data-security-specialist
**/migrations/ @financial-software-architect @senior-backend-developer

# Environment & Configuration Files
**/.env* @fintech-devops-engineer @data-security-specialist
**/config/ @fintech-devops-engineer @financial-software-architect

# ==========================================
# SPECIAL FILES & CONFIGURATIONS
# ==========================================

# Repository Configuration
.gitignore @fintech-devops-engineer
.cursorrules @financial-software-architect @data-security-specialist
CONTRIBUTING.md @product-manager @financial-software-architect
README.md @product-manager @financial-software-architect
LICENSE @compliance-risk-officer @product-manager

# Package Management
package.json @fintech-devops-engineer @senior-backend-developer
package-lock.json @fintech-devops-engineer @senior-backend-developer
yarn.lock @fintech-devops-engineer @senior-backend-developer

# TypeScript Configuration
tsconfig.json @financial-software-architect @senior-backend-developer
tsconfig.*.json @financial-software-architect @senior-backend-developer

# Linting & Code Quality
.eslintrc* @financial-software-architect @senior-backend-developer
.prettierrc* @financial-software-architect @senior-mobile-developer
jest.config* @senior-backend-developer @financial-qa-specialist

# ==========================================
# TASK MANAGEMENT & PROJECT COORDINATION
# ==========================================

# Task Management System
/tasks/ @product-manager @financial-software-architect
tasks.yaml @product-manager @financial-software-architect
update_progress.py @product-manager @fintech-devops-engineer

# ==========================================
# COMPLIANCE & AUDIT REQUIREMENTS
# ==========================================

# Any changes to financial logic, security implementations, or Ethiopian regulatory compliance
# require additional review from compliance officers and security specialists.
# 
# For NBE audit purposes, all changes to payment processing, interest calculations,
# and customer data handling must maintain a complete audit trail with proper approvals.
#
# Emergency security patches may bypass some approval requirements but require
# post-deployment review within 24 hours.

fix(ci): resolve pnpm lockfile mismatch in CI/CD pipelines (SEC-001)
  .github/workflows/contract-testing.yml
  .github/workflows/license-secrets.yml
  .github/workflows/pr-validation.yml
  .github/workflows/security-sbom.yml
  scripts/generate-sbom.js
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team

chore(security): update infrastructure workflows and audit reports (MEQ-123)
  .github/workflows/infrastructure.yml
  .gitignore
  ARCHITECTURE_AUDIT_FINDINGS.md
  CI_FIXES_SUMMARY.md
  checkov-comprehensive.sarif/results_sarif.sarif
  checkov-final-results.sarif/results_sarif.sarif
  checkov-final-test.sarif/results_sarif.sarif
  checkov-final.sarif/results_sarif.sarif
  checkov-fixed.sarif/results_sarif.sarif
  checkov-test.sarif/results_sarif.sarif
  clear-env-build.bat
  docs/SECURITY_TOOLS_README.md
  eslint.config.staged.js
  infrastructure/checkov-test.sarif/results_sarif.sarif
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-check.json
  reports/license-validation-report.json
  reports/npm-audit.json
  stage_2_auth_audit.md
  tasks/tasks.yaml
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team, @product-manager, @compliance-risk-officer

fix(logging): resolve ESLint console warnings and implement proper logging utilities (SEC-101)
  eslint.config.staged.js
  frontend/apps/website/eslint.config.mjs
  frontend/apps/website/src/components/common/ui/ImageTrail.tsx
Owners: @meqenet-dev-team

fix(lint): resolve 98.9% of lint issues across codebase (MEQ-001)
  backend/services/auth-service/src/shared/utils/fayda-encryption.util.spec.ts
  backend/services/payments-service/src/shared/interceptors/logging.interceptor.ts
  backend/services/payments-service/src/shared/utils/fayda-encryption.util.ts
  e2e/auth.spec.ts
  eslint.config.js
  frontend/apps/website/eslint.config.mjs
  frontend/apps/website/src/components/common/ui/ImageTrail.tsx
  frontend/apps/website/src/components/common/ui/LocomotiveScrollContext.tsx
  frontend/libs/shared-ui/src/components/Button.stories.tsx
  frontend/libs/shared-ui/src/components/Modal.tsx
Owners: @data-security-specialist, @financial-software-architect, @meqenet-dev-team

feat(ui): update website components and services (MEQ-123)
  frontend/apps/website/next.config.mjs
  frontend/apps/website/package.json
  frontend/apps/website/src/app/app/page.tsx
  frontend/apps/website/src/app/page.tsx
  frontend/apps/website/src/components/ContactCardSection.tsx
  frontend/apps/website/src/components/FabricaFooter/FabricaFooterSection.tsx
  frontend/apps/website/src/components/NewsletterSection.tsx
  frontend/apps/website/src/components/SdkDownloadCenter.tsx
  frontend/apps/website/src/components/common/ui/animated-text.tsx
  frontend/apps/website/src/components/common/ui/hover-border-gradient.tsx
  frontend/apps/website/src/components/common/ui/progressive-blur.tsx
  frontend/apps/website/src/components/footer.tsx
  frontend/apps/website/src/components/landing/Header.tsx
  frontend/apps/website/src/services/api.ts
  frontend/libs/shared/config/src/lib/api.config.ts
  reference/packages/backend/src/auth/controllers/auth.controller.ts
  reference/packages/backend/src/auth/guards/jwt-auth.guard.ts
  reference/packages/backend/src/auth/services/auth.service.ts
  reference/packages/backend/src/auth/services/verification.service.spec.ts
  reference/packages/backend/src/cache/cache.service.ts
  reference/packages/backend/src/credit/controllers/credit.controller.ts
  reference/packages/backend/src/credit/credit.controller.spec.ts
  reference/packages/backend/src/credit/services/credit-assessment.service.spec.ts
  reference/packages/backend/src/credit/services/credit-assessment.service.ts
  reference/packages/backend/src/main.ts
  reference/packages/backend/src/users/services/users.service.ts
  reference/packages/backend/src/virtual-cards/dto/create-virtual-card.dto.ts
  reference/packages/backend/src/virtual-cards/dto/update-virtual-card.dto.ts
  reference/packages/backend/src/virtual-cards/services/virtual-cards.service.ts
  reference/packages/backend/test/payment-flow.e2e-spec.ts
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-validation-report.json
  reports/npm-audit.json
  reports/snyk-results.json
Owners: @meqenet-dev-team, @fintech-devops-engineer, @senior-backend-developer, @financial-software-architect, @data-security-specialist, @data-scientist-ml, @compliance-risk-officer

fix(test): resolve failed test suites in frontend app (MEQ-124)
  frontend/apps/app/src/app/App.spec.tsx
  frontend/apps/app/src/app/components/ErrorBoundary.spec.tsx
  frontend/apps/app/vitest.config.ts
  frontend/tsconfig.base.json
Owners: @meqenet-dev-team, @financial-software-architect, @senior-backend-developer

fix(build): resolve TypeScript setTimeout and monorepo import issues (MEQ-101)
  frontend/apps/website/next.config.mjs
  frontend/apps/website/package.json
  frontend/apps/website/src/components/common/ui/LocomotiveScrollContext.tsx
  frontend/apps/website/src/services/api.ts
  frontend/libs/shared/config/package.json
  frontend/libs/shared/config/tsconfig.json
Owners: @meqenet-dev-team, @fintech-devops-engineer, @senior-backend-developer, @financial-software-architect

fix(ci): resolve PNPM lockfile configuration mismatch (MEQ-001)
  frontend/apps/website/package.json
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-validation-report.json
  reports/snyk-results.json
Owners: @fintech-devops-engineer, @senior-backend-developer, @meqenet-dev-team

fix(ci): resolve CI/CD pipeline failures (MEQ-123)
  .husky/pre-commit
  eslint.config.staged.js
  frontend/apps/website/eslint.config.mjs
  frontend/apps/website/package.json
  frontend/apps/website/src/components/common/ui/ImageTrail.tsx
  frontend/apps/website/src/components/common/ui/animated-text.tsx
  frontend/apps/website/src/components/common/ui/hover-border-gradient.tsx
  frontend/apps/website/src/components/common/ui/progressive-blur.tsx
  frontend/apps/website/src/lib/security/index.ts
  frontend/apps/website/src/lib/utils.ts
  frontend/libs/shared-ui/src/components/Modal.tsx
Owners: @meqenet-dev-team, @fintech-devops-engineer, @senior-backend-developer

fix(ci): resolve PWA manifest and service worker validation failures (MEQ-001)
  frontend/apps/website/next.config.mjs
  frontend/apps/website/package.json
  frontend/apps/website/public/icon-192x192.png
  frontend/apps/website/public/icon-512x512.png
  frontend/apps/website/public/manifest.json
  scripts/generate-pwa-icons.js
Owners: @meqenet-dev-team, @fintech-devops-engineer, @senior-backend-developer

fix(infra): resolve Terraform validation and Checkov SARIF generation issues (SEC-506)
  .github/workflows/iac-security-scan.yml
  .github/workflows/infrastructure.yml
  infrastructure/load_balancer.tf
  infrastructure/main.tf
  test-checkov-workflow.sh
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team

fix(build): resolve Next.js PWA configuration issue for next-pwa v5+ (MEQ-101)
  frontend/apps/website/next.config.mjs
Owners: @meqenet-dev-team

fix(ci): resolve Checkov SARIF generation issues in security workflows (SEC-001)
  .github/workflows/iac-security-scan.yml
  .github/workflows/infrastructure.yml
Owners: @fintech-devops-engineer, @financial-software-architect

fix(ci): resolve pnpm lockfile mismatch and update critical package validation (MEQ-101)
  .github/workflows/ci.yml
Owners: @fintech-devops-engineer, @financial-software-architect

fix: make risk assessment tests deterministic by using fixed login time (SEC-505)
  backend/services/auth-service/src/shared/services/risk-assessment.service.spec.ts
Owners: @meqenet-dev-team

fix(build): resolve CI/CD issues with PWA config and imports (MEQ-101)
  frontend/apps/website/next.config.mjs
  frontend/apps/website/src/components/ClientsProjectsSection.tsx
  frontend/apps/website/src/components/FAQSection.tsx
  frontend/apps/website/src/components/PricingSection.tsx
  frontend/apps/website/src/components/TeamSection.tsx
  frontend/apps/website/src/components/TrendsSection.tsx
  frontend/apps/website/src/components/common/InnerLayout.tsx
  frontend/apps/website/src/components/common/logo.tsx
  frontend/apps/website/src/components/common/ui/ImageTrail.tsx
  frontend/apps/website/src/components/common/ui/animated-hero.tsx
  frontend/apps/website/src/components/common/ui/animated-text.tsx
  frontend/apps/website/src/components/common/ui/hover-border-gradient.tsx
  frontend/apps/website/src/components/common/ui/infinite-slider.tsx
  frontend/apps/website/src/components/common/ui/progressive-blur.tsx
  frontend/apps/website/src/components/common/ui/text-shimmer.tsx
  frontend/apps/website/src/components/content-3.tsx
  frontend/apps/website/src/components/landing/HeroSection.tsx
  frontend/apps/website/src/components/services-section.tsx
  frontend/apps/website/tsconfig.json
Owners: @meqenet-dev-team, @financial-software-architect, @senior-backend-developer

fix(build): resolve Next.js build errors and ESLint warnings (MEQ-001)
  frontend/apps/website/eslint.config.mjs
  frontend/apps/website/next.config.mjs
  frontend/apps/website/src/components/common/logo-cloud.tsx
  frontend/apps/website/src/components/common/ui/animated-text.tsx
  frontend/apps/website/src/components/common/ui/hover-border-gradient.tsx
  frontend/apps/website/src/components/services-section.tsx
  frontend/apps/website/tsconfig.json
Owners: @meqenet-dev-team, @financial-software-architect, @senior-backend-developer

chore(sec): update security scanning workflows and dependency reports (SEC-505)
  .github/workflows/iac-security-scan.yml
  .github/workflows/infrastructure.yml
  eslint.config.js
  frontend/apps/app/android/build.gradle
  frontend/apps/website/next.config.mjs
  infrastructure/checkov-test.sarif/results_sarif.sarif
  package.json
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-validation-report.json
  reports/npm-audit.json
  scripts/test-checkov-sarif-fix.sh
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team, @senior-backend-developer

feat(pwa): implement progressive web app functionality with Serwist (MEQ-001)
  frontend/apps/website/next.config.mjs
  frontend/apps/website/package.json
  frontend/apps/website/src/app/sw.ts
  frontend/apps/website/src/app/~offline/OfflineActions.tsx
  frontend/apps/website/src/app/~offline/page.tsx
Owners: @meqenet-dev-team, @fintech-devops-engineer, @senior-backend-developer

fix(ci): resolve CI/CD security scan and PWA audit failures (MEQ-101)
  .github/workflows/iac-security-scan.yml
  frontend/apps/website/public/manifest.json
  frontend/apps/website/src/app/layout.tsx
  frontend/apps/website/src/components/providers/PWAProvider.tsx
  frontend/apps/website/src/components/providers/index.ts
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team

fix(android): resolve CI/CD build failure by adding Android Gradle Plugin version (MEQ-001)
  frontend/apps/app/android/settings.gradle
Owners: @meqenet-dev-team

docs(eslint): update ESLint configuration documentation (MEQ-001)
  docs/CODING_STANDARDS.md
  docs/ENTERPRISE_PRE_COMMIT_CHECKS.md
  docs/LOCAL_CI_VALIDATION.md
  docs/Stage 1 - Foundation/09-Tech_Stack.md
  docs/Stage 2 -Development/16-Security-Testing-Framework.md
Owners: @product-manager, @compliance-risk-officer

chore: synchronize dependencies and update security reports (MEQ-101)
  .husky/pre-commit
  eslint.config.js
  frontend/apps/website/eslint.config.mjs
  frontend/apps/website/package.json
  frontend/eslint.config.mjs
  package.json
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-validation-report.json
  reports/npm-audit.json
Owners: @meqenet-dev-team, @fintech-devops-engineer, @senior-backend-developer

fix: resolve CI/CD Checkov security scan issues
  .github/workflows/iac-security-scan.yml
  infrastructure/load_balancer.tf
Owners: @fintech-devops-engineer, @financial-software-architect

fix(ci): resolve ESLint TypeScript plugin configuration (MEQ-001)
  frontend/eslint.config.mjs
Owners: @meqenet-dev-team

ci(android): fix Android dependency vulnerability scan plugin resolution (MEQ-001)
  .github/workflows/ci.yml
  frontend/apps/app/android/settings.gradle
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team

fix(ci): resolve Lighthouse PWA audit and KICS security scan failures (MEQ-456)
  .github/lighthouse/pwa-config.json
  .github/workflows/iac-security-scan.yml
  frontend/apps/website/src/app/sw.ts
  frontend/apps/website/src/components/providers/PWAProvider.tsx
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team

fix(ci): resolve CI/CD Checkov security scan issues (SEC-001)
  frontend/apps/website/package.json
  frontend/apps/website/src/app/sw.ts
Owners: @fintech-devops-engineer, @senior-backend-developer, @meqenet-dev-team

fix(ci): resolve CI/CD security scan and PWA audit failures (SEC-001)
  .github/lighthouse/pwa-config.json
  .github/workflows/iac-security-scan.yml
  .github/workflows/pwa-compliance.yml
Owners: @fintech-devops-engineer, @financial-software-architect

fix(ci): resolve all linting issues for CI/CD pipeline (MEQ-001)
  frontend/apps/app/src/app/components/ErrorBoundary.tsx
  frontend/apps/app/test/auth.e2e.ts
  frontend/apps/app/test/mobile-auth.e2e.ts
  frontend/apps/app/test/mocks/react-native-svg.ts
  frontend/apps/app/test/mocks/react-native.ts
  frontend/apps/app/vite.config.ts
  frontend/apps/website/next-i18next.config.js
  frontend/apps/website/src/components/common/ui/LocomotiveScrollContext.tsx
  frontend/apps/website/src/components/common/ui/hover-border-gradient.tsx
  frontend/apps/website/src/lib/security/index.ts
  frontend/eslint.config.mjs
  frontend/libs/shared/src/i18n/index.ts
Owners: @meqenet-dev-team, @data-security-specialist, @financial-software-architect

fix(cicd): resolve PWA audit and Android build failures (MEQ-101)
  .github/lighthouse/pwa-config.json
  frontend/apps/app/android/settings.gradle
  frontend/apps/website/public/browserconfig.xml
  frontend/apps/website/public/manifest.json
  frontend/apps/website/src/app/layout.tsx
  frontend/apps/website/src/components/providers/PWAProvider.tsx
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team

fix(ci): resolve CI/CD linting errors and security warnings (SEC-001)
  frontend/apps/app/src/app/components/auth/Input.tsx
  frontend/apps/app/src/features/bnpl/types/bnpl.ts
  frontend/apps/app/test/mocks/react-native-svg.ts
  frontend/apps/app/test/mocks/react-native.ts
  frontend/apps/app/vite.config.ts
  frontend/apps/website/next-i18next.config.js
  frontend/apps/website/src/app/sw.ts
  frontend/apps/website/src/components/common/ui/ImageTrail.tsx
  frontend/apps/website/src/components/common/ui/LocomotiveScrollContext.tsx
  frontend/apps/website/src/components/providers/PWAProvider.tsx
  frontend/apps/website/src/components/services-section.tsx
  frontend/apps/website/src/lib/security/index.ts
  frontend/libs/mobile-api-client/src/lib/api-client.ts
  frontend/libs/shared/src/i18n/useI18n.tsx
Owners: @meqenet-dev-team

fix(lint): resolve ESLint globals for service workers and PWA (SEC-505)
  frontend/apps/website/eslint.config.mjs
Owners: @meqenet-dev-team

fix(eslint): respect base config ignore patterns in Nx setup (MEQ-001)
  frontend/apps/app/eslint.config.mjs
  frontend/eslint.config.mjs
Owners: @meqenet-dev-team

fix(frontend): resolve lint errors and security warnings (MEQ-001)
  .gitignore
  eslint.config.staged.js
  frontend/apps/app/test/mocks/react-native.ts
  frontend/apps/app/vite.config.ts
  frontend/apps/website/src/app/page.tsx
  frontend/apps/website/src/app/sw.ts
  frontend/apps/website/src/components/common/ui/LocomotiveScrollContext.tsx
  frontend/apps/website/src/components/providers/PWAProvider.tsx
  frontend/apps/website/src/components/services-section.tsx
  frontend/apps/website/src/lib/security/index.ts
  frontend/libs/shared/src/i18n/useI18n.tsx
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-validation-report.json
  reports/npm-audit.json
  reports/snyk-results.json
Owners: @fintech-devops-engineer, @meqenet-dev-team

fix(lint): resolve frontend lint issues and security warnings (SEC-505)
  frontend/apps/website/src/components/common/ui/hover-border-gradient.tsx
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-validation-report.json
Owners: @meqenet-dev-team

fix(build): resolve service worker TypeScript compilation errors (MEQ-123)
  frontend/apps/website/src/app/sw.ts
Owners: @meqenet-dev-team

fix(build): add proper event type annotations for service worker event listeners (MEQ-124)
  frontend/apps/website/src/app/sw.ts
Owners: @meqenet-dev-team

test(bnpl): add tests for BNPL type definitions (MEQ-125)
  frontend/apps/app/src/features/bnpl/types/bnpl.spec.ts
Owners: @meqenet-dev-team

fix(ci): resolve CI/CD linting failures and security warnings (MEQ-001)
  .github/workflows/pwa-compliance.yml
  frontend/apps/app/vite.config.ts
  frontend/apps/website/src/app/sw.ts
  frontend/apps/website/src/lib/security/index.ts
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team
