Repository MakeMoneyOnly/Meqenet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @meqenet-dev-team, @data-security-specialist, @financial-software-architect, @senior-backend-developer, @data-scientist-ml, @compliance-risk-officer, @fintech-devops-engineer, @marketplace-merchant-manager, @product-manager, @analytics-bi-specialist, @senior-mobile-developer, @ux-designer, @financial-qa-specialist

refactor(backend): centralize env access via ConfigModule; fix import ordering; expand ESLint ignores; align local validator ESLint
  backend/src/app/app.module.ts
  backend/src/app/shared/config/app.config.ts
  backend/src/main.ts
  eslint.config.js
  governance/local_ci_validator.py
Owners: @meqenet-dev-team, @fintech-devops-engineer, @financial-software-architect

ci: fix node cache path by warming pnpm install; fix cosign image ref to lowercase repo; add Prettier check to local validator
  .github/workflows/codeql.yml
  .github/workflows/deploy.yml
  .github/workflows/monitoring.yml
  .github/workflows/owasp-zap.yml
  governance/local_ci_validator.py
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team

infra: enforce signed commits in Terraform; ci: skip deploy when AWS secrets missing; validator: add tfsec & AWS creds presence; fix Prettier formatting
  .github/workflows/deploy.yml
  backend/services/auth-service/src/shared/config/database.config.ts
  governance/local_ci_validator.py
  infrastructure/github-repository-management.tf
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team

terraform: use require_signed_commits for all branch protections; validator: assert require_signed_commits present
  governance/local_ci_validator.py
  infrastructure/github-repository-management.tf
Owners: @meqenet-dev-team, @fintech-devops-engineer, @financial-software-architect

ci: fix SARIF upload path and directory for tfsec/checkov; add least-privilege permissions to workflows; sanitize CodeQL pattern usage; infra: set working_directory and sarif_file for tfsec
  .github/workflows/deploy.yml
  .github/workflows/financial-model-bias-testing.yml
  .github/workflows/infrastructure.yml
  .github/workflows/monitoring.yml
  .github/workflows/owasp-zap.yml
Owners: @fintech-devops-engineer, @financial-software-architect

infra(gh-branch-protection): require >=2 approvals for release/* (checkov CKV_GIT_5)
  infrastructure/github-repository-management.tf
Owners: @fintech-devops-engineer, @financial-software-architect

infra(gh-branch-protection): require >=2 approvals for develop, staging, and security/* to satisfy CKV_GIT_5
  infrastructure/github-repository-management.tf
Owners: @fintech-devops-engineer, @financial-software-architect

chore(dependabot): group updates; weekly cadence; security daily; major to upgrade branch; set auto-merge policy notes for tooling/actions minor-patch
  .github/dependabot.yml
  .github/workflows/ci.yml
Owners: @fintech-devops-engineer, @financial-software-architect

fix(dependabot): ensure unique (ecosystem,directory,target-branch) by setting security-updates to target-branch security-updates
  .github/dependabot.yml
Owners: @fintech-devops-engineer, @financial-software-architect

fix(dependabot): remove unsupported security-updates-only block per GitHub docs; keep weekly grouped updates, major to upgrade, actions weekly
  .github/dependabot.yml
Owners: @fintech-devops-engineer, @financial-software-architect

fix(codeql): avoid substring checks on raw URLs; use generic error keywords for SBOM network handling
  governance/local_ci_validator.py
Owners: @meqenet-dev-team

fix(codeql): avoid substring checks on raw URLs; use generic error keywords for SBOM network handling
  governance/local_ci_validator.py
Owners: @meqenet-dev-team

fix(python): resolve syntax/indentation issues in orchestrator; make subprocess await blocks valid; clean run_dashboard branch; fix CodeQL URL check
  governance/orchestrator.py
Owners: @meqenet-dev-team

fix(python): resolve syntax/indentation issues in orchestrator; make subprocess await blocks valid; clean run_dashboard branch; fix CodeQL URL check
  governance/orchestrator.py
Owners: @meqenet-dev-team

Fix CI validation failures: Docker System Cleanup and SBOM validation
  bom.api-gateway.json
  bom.auth-service.json
  eslint.config.js
  governance/local_ci_validator.py
  package.json
  scripts/deduplicate-sbom.js
  scripts/validate-sbom.js
Owners: @meqenet-dev-team, @fintech-devops-engineer, @senior-backend-developer

Fix CI validation failures: Docker System Cleanup and SBOM validation
  bom.api-gateway.json
  bom.auth-service.json
  eslint.config.js
  governance/local_ci_validator.py
  package.json
  scripts/deduplicate-sbom.js
  scripts/validate-sbom.js
Owners: @meqenet-dev-team, @fintech-devops-engineer, @senior-backend-developer

perf: optimize Docker build validation timing
  governance/local_ci_validator.py
Owners: @meqenet-dev-team

perf: optimize Docker build validation timing
  governance/local_ci_validator.py
Owners: @meqenet-dev-team

perf: optimize Docker build validation timing
  governance/local_ci_validator.py
Owners: @meqenet-dev-team

fix(auth-service): resolve linting errors in prisma.service.ts
  .cursor/rules/cursor-rules.mdc
  .github/workflows/ci.yml
  .github/workflows/infrastructure.yml
  1/Screenshot 2025-08-21 134759.png
  1/Screenshot 2025-08-21 134934.png
  1/Screenshot 2025-08-21 134951.png
  backend/services/auth-service/src/infrastructure/database/prisma.service.ts
  bom.api-gateway.json
  bom.auth-service.json
  eslint.config.js
  frontend/apps/app/vite.config.ts
  frontend/apps/website/src/pages/_app.tsx
  frontend/apps/website/src/pages/index.tsx
  frontend/libs/shared/ui/src/index.ts
  frontend/nx.json
  frontend/tsconfig.base.json
  package.json
  scripts/run-secret-scan.js
  tools/check_workflows.py
Owners: @meqenet-dev-team, @fintech-devops-engineer, @financial-software-architect, @senior-backend-developer

fix(auth-service): resolve linting errors in prisma.service.ts
  .cursor/rules/cursor-rules.mdc
  .github/workflows/ci.yml
  .github/workflows/infrastructure.yml
  1/Screenshot 2025-08-21 134759.png
  1/Screenshot 2025-08-21 134934.png
  1/Screenshot 2025-08-21 134951.png
  backend/services/auth-service/src/infrastructure/database/prisma.service.ts
  bom.api-gateway.json
  bom.auth-service.json
  eslint.config.js
  frontend/apps/app/vite.config.ts
  frontend/apps/website/src/pages/_app.tsx
  frontend/apps/website/src/pages/index.tsx
  frontend/libs/shared/ui/src/index.ts
  frontend/nx.json
  frontend/tsconfig.base.json
  package.json
  scripts/run-secret-scan.js
  tools/check_workflows.py
Owners: @meqenet-dev-team, @fintech-devops-engineer, @financial-software-architect, @senior-backend-developer

fix(auth-service): resolve linting errors in prisma.service.ts
  .cursor/rules/cursor-rules.mdc
  .github/workflows/ci.yml
  .github/workflows/infrastructure.yml
  1/Screenshot 2025-08-21 134759.png
  1/Screenshot 2025-08-21 134934.png
  1/Screenshot 2025-08-21 134951.png
  backend/services/auth-service/src/infrastructure/database/prisma.service.ts
  bom.api-gateway.json
  bom.auth-service.json
  eslint.config.js
  frontend/apps/app/vite.config.ts
  frontend/apps/website/src/pages/_app.tsx
  frontend/apps/website/src/pages/index.tsx
  frontend/libs/shared/ui/src/index.ts
  frontend/nx.json
  frontend/tsconfig.base.json
  package.json
  scripts/run-secret-scan.js
  tools/check_workflows.py
Owners: @meqenet-dev-team, @fintech-devops-engineer, @financial-software-architect, @senior-backend-developer

feat: Resolve OWASP dependency vulnerabilities
  .github/codeql/codeql-config.yml
  .github/lighthouse/pwa-config.json
  .github/owasp/README.md
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/pwa-compliance.yml
  .github/workflows/shift-left-security.yml
  docs/Stage 2 -Development/15-Threat-Modeling-Android.md
  docs/Stage 2 -Development/16-Security-Testing-Framework.md
  docs/Stage 2-Development/17-Shift-Left-Security/Shift-Left-Security-Guide.md
  docs/Stage 2-Development/18-Security-Champion-Program.md
  docs/Stage 2-Development/19-Security-Review-Board.md
  docs/Stage 2-Development/20-Security-Training-Program.md
  frontend/apps/app/android/app/build.gradle
  frontend/apps/app/android/app/proguard-rules.pro
  frontend/apps/app/android/app/src/main/java/com/meqenet/security/annotations/SecurityAnnotationExamples.kt
  frontend/apps/app/android/app/src/main/java/com/meqenet/security/annotations/SecurityAnnotations.kt
  frontend/apps/app/package.json
  frontend/apps/website/postcss.config.js
  frontend/apps/website/tailwind.config.js
  frontend/eslint.config.mjs
  frontend/libs/shared/ui/README.md
  frontend/libs/shared/ui/src/index.ts
  frontend/package.json
  frontend/tsconfig.base.json
  h --force-with-lease origin main
  scripts/test-pwa-compliance.js
  security-metrics/README.md
  security-metrics/package.json
  security-metrics/src/components/SecurityDashboard.tsx
  security-metrics/src/models/SecurityMetrics.ts
  security-metrics/src/services/SecurityMetricsService.ts
  security-tools/run-sast.sh
  tatus
Owners: @fintech-devops-engineer, @financial-software-architect, @product-manager, @compliance-risk-officer, @meqenet-dev-team, @senior-backend-developer

feat: Resolve OWASP dependency vulnerabilities
  .github/codeql/codeql-config.yml
  .github/lighthouse/pwa-config.json
  .github/owasp/README.md
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/pwa-compliance.yml
  .github/workflows/shift-left-security.yml
  docs/Stage 2 -Development/15-Threat-Modeling-Android.md
  docs/Stage 2 -Development/16-Security-Testing-Framework.md
  docs/Stage 2-Development/17-Shift-Left-Security/Shift-Left-Security-Guide.md
  docs/Stage 2-Development/18-Security-Champion-Program.md
  docs/Stage 2-Development/19-Security-Review-Board.md
  docs/Stage 2-Development/20-Security-Training-Program.md
  frontend/apps/app/android/app/build.gradle
  frontend/apps/app/android/app/proguard-rules.pro
  frontend/apps/app/android/app/src/main/java/com/meqenet/security/annotations/SecurityAnnotationExamples.kt
  frontend/apps/app/android/app/src/main/java/com/meqenet/security/annotations/SecurityAnnotations.kt
  frontend/apps/app/package.json
  frontend/apps/website/postcss.config.js
  frontend/apps/website/tailwind.config.js
  frontend/eslint.config.mjs
  frontend/libs/shared/ui/README.md
  frontend/libs/shared/ui/src/index.ts
  frontend/package.json
  frontend/tsconfig.base.json
  h --force-with-lease origin main
  scripts/test-pwa-compliance.js
  security-metrics/README.md
  security-metrics/package.json
  security-metrics/src/components/SecurityDashboard.tsx
  security-metrics/src/models/SecurityMetrics.ts
  security-metrics/src/services/SecurityMetricsService.ts
  security-tools/run-sast.sh
  tatus
Owners: @fintech-devops-engineer, @financial-software-architect, @product-manager, @compliance-risk-officer, @meqenet-dev-team, @senior-backend-developer

feat: Resolve OWASP dependency vulnerabilities
  .github/codeql/codeql-config.yml
  .github/lighthouse/pwa-config.json
  .github/owasp/README.md
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/pwa-compliance.yml
  .github/workflows/shift-left-security.yml
  docs/Stage 2 -Development/15-Threat-Modeling-Android.md
  docs/Stage 2 -Development/16-Security-Testing-Framework.md
  docs/Stage 2-Development/17-Shift-Left-Security/Shift-Left-Security-Guide.md
  docs/Stage 2-Development/18-Security-Champion-Program.md
  docs/Stage 2-Development/19-Security-Review-Board.md
  docs/Stage 2-Development/20-Security-Training-Program.md
  frontend/apps/app/android/app/build.gradle
  frontend/apps/app/android/app/proguard-rules.pro
  frontend/apps/app/android/app/src/main/java/com/meqenet/security/annotations/SecurityAnnotationExamples.kt
  frontend/apps/app/android/app/src/main/java/com/meqenet/security/annotations/SecurityAnnotations.kt
  frontend/apps/app/package.json
  frontend/apps/website/postcss.config.js
  frontend/apps/website/tailwind.config.js
  frontend/eslint.config.mjs
  frontend/libs/shared/ui/README.md
  frontend/libs/shared/ui/src/index.ts
  frontend/package.json
  frontend/tsconfig.base.json
  h --force-with-lease origin main
  scripts/test-pwa-compliance.js
  security-metrics/README.md
  security-metrics/package.json
  security-metrics/src/components/SecurityDashboard.tsx
  security-metrics/src/models/SecurityMetrics.ts
  security-metrics/src/services/SecurityMetricsService.ts
  security-tools/run-sast.sh
  tatus
Owners: @fintech-devops-engineer, @financial-software-architect, @product-manager, @compliance-risk-officer, @meqenet-dev-team, @senior-backend-developer

Major FinTech Security & Compliance Overhaul
  .github/lighthouse/pwa-config.json
  .github/owasp/README.md
  .github/workflows/ci.yml
  .github/workflows/pwa-compliance.yml
  .github/workflows/shift-left-security.yml
  9.0
  9.0)
  bom.api-gateway.json
  bom.auth-service.json
  dependency-tree.txt
  docker-compose.yml
  docs/Stage 2 -Development/15-Threat-Modeling-Android.md
  docs/Stage 2 -Development/16-Security-Testing-Framework.md
  docs/Stage 2-Development/17-Shift-Left-Security/Shift-Left-Security-Guide.md
  docs/Stage 2-Development/18-Security-Champion-Program.md
  docs/Stage 2-Development/19-Security-Review-Board.md
  docs/Stage 2-Development/20-Security-Training-Program.md
  docs/dependency-management-strategy.md
  docs/fintech-compliance-report.md
  env.example
  frontend/apps/app/package.json
  frontend/apps/website/postcss.config.js
  frontend/apps/website/tailwind.config.js
  frontend/libs/shared/ui/README.md
  frontend/libs/shared/ui/src/index.ts
  frontend/package.json
  governance/reports/dependency-audit.json
  governance/setup.py
  package.json
  pnpm-lock.yaml
  scripts/check-workflow-sanity.py
  scripts/dependency-audit.js
  scripts/dependency-cleanup.js
  scripts/dev-setup.sh
  scripts/test-pwa-compliance.js
  security-metrics/README.md
  security-metrics/src/components/SecurityDashboard.tsx
  security-metrics/src/models/SecurityMetrics.ts
  security-metrics/src/services/SecurityMetricsService.ts
Owners: @fintech-devops-engineer, @financial-software-architect, @product-manager, @meqenet-dev-team, @compliance-risk-officer, @senior-backend-developer

Major FinTech Security & Compliance Overhaul
  .github/lighthouse/pwa-config.json
  .github/owasp/README.md
  .github/workflows/ci.yml
  .github/workflows/pwa-compliance.yml
  .github/workflows/shift-left-security.yml
  9.0
  9.0)
  bom.api-gateway.json
  bom.auth-service.json
  dependency-tree.txt
  docker-compose.yml
  docs/Stage 2 -Development/15-Threat-Modeling-Android.md
  docs/Stage 2 -Development/16-Security-Testing-Framework.md
  docs/Stage 2-Development/17-Shift-Left-Security/Shift-Left-Security-Guide.md
  docs/Stage 2-Development/18-Security-Champion-Program.md
  docs/Stage 2-Development/19-Security-Review-Board.md
  docs/Stage 2-Development/20-Security-Training-Program.md
  docs/dependency-management-strategy.md
  docs/fintech-compliance-report.md
  env.example
  frontend/apps/app/package.json
  frontend/apps/website/postcss.config.js
  frontend/apps/website/tailwind.config.js
  frontend/libs/shared/ui/README.md
  frontend/libs/shared/ui/src/index.ts
  frontend/package.json
  governance/reports/dependency-audit.json
  governance/setup.py
  package.json
  pnpm-lock.yaml
  scripts/check-workflow-sanity.py
  scripts/dependency-audit.js
  scripts/dependency-cleanup.js
  scripts/dev-setup.sh
  scripts/test-pwa-compliance.js
  security-metrics/README.md
  security-metrics/src/components/SecurityDashboard.tsx
  security-metrics/src/models/SecurityMetrics.ts
  security-metrics/src/services/SecurityMetricsService.ts
Owners: @fintech-devops-engineer, @financial-software-architect, @product-manager, @meqenet-dev-team, @compliance-risk-officer, @senior-backend-developer

Major FinTech Security & Compliance Overhaul
  .github/lighthouse/pwa-config.json
  .github/owasp/README.md
  .github/workflows/ci.yml
  .github/workflows/pwa-compliance.yml
  .github/workflows/shift-left-security.yml
  9.0
  9.0)
  bom.api-gateway.json
  bom.auth-service.json
  dependency-tree.txt
  docker-compose.yml
  docs/Stage 2 -Development/15-Threat-Modeling-Android.md
  docs/Stage 2 -Development/16-Security-Testing-Framework.md
  docs/Stage 2-Development/17-Shift-Left-Security/Shift-Left-Security-Guide.md
  docs/Stage 2-Development/18-Security-Champion-Program.md
  docs/Stage 2-Development/19-Security-Review-Board.md
  docs/Stage 2-Development/20-Security-Training-Program.md
  docs/dependency-management-strategy.md
  docs/fintech-compliance-report.md
  env.example
  frontend/apps/app/package.json
  frontend/apps/website/postcss.config.js
  frontend/apps/website/tailwind.config.js
  frontend/libs/shared/ui/README.md
  frontend/libs/shared/ui/src/index.ts
  frontend/package.json
  governance/reports/dependency-audit.json
  governance/setup.py
  package.json
  pnpm-lock.yaml
  scripts/check-workflow-sanity.py
  scripts/dependency-audit.js
  scripts/dependency-cleanup.js
  scripts/dev-setup.sh
  scripts/test-pwa-compliance.js
  security-metrics/README.md
  security-metrics/src/components/SecurityDashboard.tsx
  security-metrics/src/models/SecurityMetrics.ts
  security-metrics/src/services/SecurityMetricsService.ts
Owners: @fintech-devops-engineer, @financial-software-architect, @product-manager, @meqenet-dev-team, @compliance-risk-officer, @senior-backend-developer

Fix PWA compliance workflow YAML syntax error
  .github/workflows/pwa-compliance.yml
  commit-message.txt
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team

Fix PWA compliance workflow YAML syntax error
  .github/workflows/pwa-compliance.yml
  commit-message.txt
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team

Fix PWA compliance workflow YAML syntax error
  .github/workflows/pwa-compliance.yml
  commit-message.txt
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team

Fix CI/CD workflow failures and dependency issues
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/infrastructure.yml
  0
  package.json
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team, @senior-backend-developer

Fix CI/CD workflow failures and dependency issues
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/infrastructure.yml
  0
  package.json
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team, @senior-backend-developer

Fix CI/CD workflow failures and dependency issues
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/infrastructure.yml
  0
  package.json
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team, @senior-backend-developer

fix: resolve CI/CD workflow failures - Android builds and ESLint config
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/shift-left-security.yml
  package.json
Owners: @fintech-devops-engineer, @financial-software-architect, @senior-backend-developer

fix: resolve CI/CD workflow failures - Android builds and ESLint config
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/shift-left-security.yml
  package.json
Owners: @fintech-devops-engineer, @financial-software-architect, @senior-backend-developer

fix: resolve CI/CD workflow failures - Android builds and ESLint config
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/shift-left-security.yml
  package.json
Owners: @fintech-devops-engineer, @financial-software-architect, @senior-backend-developer

fix: resolve all CI/CD workflow failures
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/shift-left-security.yml
Owners: @fintech-devops-engineer, @financial-software-architect

fix: resolve all CI/CD workflow failures
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/shift-left-security.yml
Owners: @fintech-devops-engineer, @financial-software-architect

fix: resolve all CI/CD workflow failures
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/shift-left-security.yml
Owners: @fintech-devops-engineer, @financial-software-architect

.github/CODEOWNERS:

# CODEOWNERS for Meqenet.et BNPL Platform
# This file defines code ownership for the Ethiopian FinTech platform
# Each line represents a file pattern followed by one or more owners
# Owners are notified when pull requests are opened that modify these files

# Global Rules - All team members are responsible for general code quality
* @meqenet-dev-team

# ==========================================
# CRITICAL FINANCIAL SERVICES (High Security)
# ==========================================

# Authentication & Security Service (Zero Trust Architecture)
/services/auth-service/ @data-security-specialist @financial-software-architect
/packages/auth/ @data-security-specialist @financial-software-architect

# Core BNPL Service (All 4 Payment Options)
/services/bnpl-service/ @financial-software-architect @senior-backend-developer
/packages/bnpl/ @financial-software-architect @senior-backend-developer

# Credit Assessment & Scoring (AI/ML + Compliance)
/services/credit-service/ @data-scientist-ml @compliance-risk-officer
/packages/credit/ @data-scientist-ml @compliance-risk-officer

# KYC Verification (Fayda National ID + NBE Compliance)
/services/kyc-service/ @compliance-risk-officer @data-security-specialist
/packages/kyc/ @compliance-risk-officer @data-security-specialist

# Settlement Processing (Merchant Payments)
/services/settlements-service/ @financial-software-architect @senior-backend-developer
/packages/settlements/ @financial-software-architect @senior-backend-developer

# Payment Gateway Integrations (Ethiopian Providers)
/services/payments-service/ @senior-backend-developer @fintech-devops-engineer
/packages/payments/ @senior-backend-developer @fintech-devops-engineer

# ==========================================
# MARKETPLACE & COMMERCE SERVICES
# ==========================================

# Merchant Marketplace Platform
/services/marketplace-service/ @marketplace-merchant-manager @senior-backend-developer
/packages/marketplace/ @marketplace-merchant-manager @senior-backend-developer

# Product Catalog & Search
/services/products-service/ @marketplace-merchant-manager @senior-backend-developer
/packages/products/ @marketplace-merchant-manager @senior-backend-developer

# Order Management & Fulfillment
/services/orders-service/ @marketplace-merchant-manager @senior-backend-developer
/packages/orders/ @marketplace-merchant-manager @senior-backend-developer

# ==========================================
# CUSTOMER EXPERIENCE SERVICES
# ==========================================

# Rewards & Cashback Engine
/services/rewards-service/ @product-manager @senior-backend-developer
/packages/rewards/ @product-manager @senior-backend-developer

# Premium Subscription (Meqenet Plus)
/services/premium-service/ @product-manager @senior-backend-developer
/packages/premium/ @product-manager @senior-backend-developer

# Analytics & Business Intelligence
/services/analytics-service/ @analytics-bi-specialist @data-scientist-ml
/packages/analytics/ @analytics-bi-specialist @data-scientist-ml

# Virtual Cards (High Security)
/services/virtual-cards-service/ @data-security-specialist @senior-backend-developer
/packages/virtual-cards/ @data-security-specialist @senior-backend-developer

# QR Payments (Mobile-First)
/services/qr-payments-service/ @senior-mobile-developer @senior-backend-developer
/packages/qr-payments/ @senior-mobile-developer @senior-backend-developer

# ==========================================
# FRONTEND APPLICATIONS
# ==========================================

# Website (Next.js PWA)
/apps/website/ @senior-mobile-developer @ux-designer
/packages/web-ui/ @senior-mobile-developer @ux-designer

# Mobile App (React Native)
/apps/mobile/ @senior-mobile-developer @ux-designer
/packages/mobile-ui/ @senior-mobile-developer @ux-designer

# Shared UI Components & Design System
/packages/shared-ui/ @senior-mobile-developer @ux-designer
/packages/design-system/ @senior-mobile-developer @ux-designer

# Browser Extension
/apps/browser-extension/ @senior-mobile-developer @senior-backend-developer

# ==========================================
# INFRASTRUCTURE & DEVOPS
# ==========================================

# Infrastructure as Code (Terraform)
/infrastructure/ @fintech-devops-engineer @financial-software-architect
/terraform/ @fintech-devops-engineer @financial-software-architect

# Container Configurations
/docker/ @fintech-devops-engineer
/dockerfiles/ @fintech-devops-engineer
/k8s/ @fintech-devops-engineer @financial-software-architect

# CI/CD Pipelines
/.github/ @fintech-devops-engineer @financial-software-architect
/.gitlab-ci.yml @fintech-devops-engineer @financial-software-architect

# Monitoring & Observability
/monitoring/ @fintech-devops-engineer @senior-backend-developer
/grafana/ @fintech-devops-engineer @analytics-bi-specialist

# ==========================================
# DOCUMENTATION & COMPLIANCE
# ==========================================

# Core Documentation
/docs/ @product-manager @compliance-risk-officer

# Security Documentation (High Sensitivity)
/docs/Stage\ 1\ -\ Foundation/07-Security.md @data-security-specialist @compliance-risk-officer

# Compliance Framework (NBE Regulations)
/docs/Stage\ 1\ -\ Foundation/05-Compliance_Framework.md @compliance-risk-officer

# API Documentation & Governance
/docs/Stage\ 1\ -\ Foundation/02-API_Specification_and_Governance.md @financial-software-architect @senior-backend-developer

# Architecture Documentation
/docs/Stage\ 1\ -\ Foundation/08-Architecture.md @financial-software-architect

# Business Model & Financial Logic
/docs/Stage\ 1\ -\ Foundation/03-Business_Model.md @product-manager @financial-software-architect

# ==========================================
# ETHIOPIAN-SPECIFIC INTEGRATIONS
# ==========================================

# Fayda National ID Integration (KYC)
**/fayda-integration/ @compliance-risk-officer @senior-backend-developer
**/fayda/ @compliance-risk-officer @senior-backend-developer

# Telebirr Payment Integration
**/telebirr-integration/ @senior-backend-developer @fintech-devops-engineer
**/telebirr/ @senior-backend-developer @fintech-devops-engineer

# Ethiopian Payment Gateways
**/chapa/ @senior-backend-developer @fintech-devops-engineer
**/santimpay/ @senior-backend-developer @fintech-devops-engineer
**/arifpay/ @senior-backend-developer @fintech-devops-engineer
**/hellocash/ @senior-backend-developer @fintech-devops-engineer

# Amharic Localization
**/amharic-localization/ @ux-designer @senior-mobile-developer
**/i18n/am/ @ux-designer @senior-mobile-developer
**/locales/am/ @ux-designer @senior-mobile-developer

# ==========================================
# FINANCIAL LOGIC (HIGHEST SECURITY)
# ==========================================

# Payment Processing Logic
**/*payment*.ts @financial-software-architect @data-security-specialist
**/*payment*.js @financial-software-architect @data-security-specialist
**/*Payment*.tsx @financial-software-architect @senior-mobile-developer

# Interest Rate Calculations
**/*interest*.ts @financial-software-architect @compliance-risk-officer
**/*interest*.js @financial-software-architect @compliance-risk-officer
**/*Interest*.tsx @financial-software-architect @ux-designer

# Loan Management Logic
**/*loan*.ts @financial-software-architect @senior-backend-developer
**/*loan*.js @financial-software-architect @senior-backend-developer
**/*Loan*.tsx @financial-software-architect @senior-mobile-developer

# Credit Scoring & Assessment
**/*credit*.ts @data-scientist-ml @compliance-risk-officer
**/*credit*.js @data-scientist-ml @compliance-risk-officer
**/*Credit*.tsx @data-scientist-ml @ux-designer

# Financial Calculations & Utilities
**/*calculation*.ts @financial-software-architect @data-security-specialist
**/*financial*.ts @financial-software-architect @compliance-risk-officer
**/*currency*.ts @financial-software-architect @senior-backend-developer

# ==========================================
# SECURITY-SENSITIVE FILES
# ==========================================

# Cryptography & Encryption
**/*crypto*.ts @data-security-specialist @financial-software-architect
**/*encryption*.ts @data-security-specialist @financial-software-architect
**/*security*.ts @data-security-specialist @financial-software-architect

# Authentication & Authorization
**/*auth*.ts @data-security-specialist @financial-software-architect
**/*jwt*.ts @data-security-specialist @senior-backend-developer
**/*session*.ts @data-security-specialist @senior-backend-developer

# Database Schemas (Financial Data)
**/schema.prisma @financial-software-architect @data-security-specialist
**/migrations/ @financial-software-architect @senior-backend-developer

# Environment & Configuration Files
**/.env* @fintech-devops-engineer @data-security-specialist
**/config/ @fintech-devops-engineer @financial-software-architect

# ==========================================
# SPECIAL FILES & CONFIGURATIONS
# ==========================================

# Repository Configuration
.gitignore @fintech-devops-engineer
.cursorrules @financial-software-architect @data-security-specialist
CONTRIBUTING.md @product-manager @financial-software-architect
README.md @product-manager @financial-software-architect
LICENSE @compliance-risk-officer @product-manager

# Package Management
package.json @fintech-devops-engineer @senior-backend-developer
package-lock.json @fintech-devops-engineer @senior-backend-developer
yarn.lock @fintech-devops-engineer @senior-backend-developer

# TypeScript Configuration
tsconfig.json @financial-software-architect @senior-backend-developer
tsconfig.*.json @financial-software-architect @senior-backend-developer

# Linting & Code Quality
.eslintrc* @financial-software-architect @senior-backend-developer
.prettierrc* @financial-software-architect @senior-mobile-developer
jest.config* @senior-backend-developer @financial-qa-specialist

# ==========================================
# TASK MANAGEMENT & PROJECT COORDINATION
# ==========================================

# Task Management System
/tasks/ @product-manager @financial-software-architect
tasks.yaml @product-manager @financial-software-architect
update_progress.py @product-manager @fintech-devops-engineer

# ==========================================
# COMPLIANCE & AUDIT REQUIREMENTS
# ==========================================

# Any changes to financial logic, security implementations, or Ethiopian regulatory compliance
# require additional review from compliance officers and security specialists.
# 
# For NBE audit purposes, all changes to payment processing, interest calculations,
# and customer data handling must maintain a complete audit trail with proper approvals.
#
# Emergency security patches may bypass some approval requirements but require
# post-deployment review within 24 hours.
