Repository MakeMoneyOnly/Meqenet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @meqenet-dev-team, @data-security-specialist, @financial-software-architect, @senior-backend-developer, @data-scientist-ml, @compliance-risk-officer, @fintech-devops-engineer, @marketplace-merchant-manager, @product-manager, @analytics-bi-specialist, @senior-mobile-developer, @ux-designer, @financial-qa-specialist

git statusci(workflows): fix GitHub Actions linter errors in security and infrastructure workflows (MEQ-123)
  .github/lighthouse/pwa-config.json
  .github/workflows/ci.yml
  .github/workflows/financial-model-bias-testing.yml
  .github/workflows/iac-security-scan.yml
  .github/workflows/infrastructure.yml
  .github/workflows/monitoring.yml
  .github/workflows/performance.yml
  .github/workflows/pwa-compliance.yml
  .github/workflows/security.yml
  .husky/pre-commit
  commitlint.config.js
  pnpm-lock.yaml
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-check.json
  reports/license-validation-report.json
  reports/npm-audit.json
  scripts/ci-test-setup.js
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team

fix(ci): regenerate pnpm-lock.yaml to resolve frozen-lockfile error (MEQ-123)
  .github/lighthouse/pwa-config.json
  .github/workflows/ci.yml
  .github/workflows/financial-model-bias-testing.yml
  .github/workflows/iac-security-scan.yml
  .github/workflows/infrastructure.yml
  .github/workflows/monitoring.yml
  .github/workflows/performance.yml
  .github/workflows/pwa-compliance.yml
  .github/workflows/security.yml
  .husky/pre-commit
  commitlint.config.js
  pnpm-lock.yaml
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-check.json
  reports/license-validation-report.json
  reports/npm-audit.json
  scripts/ci-test-setup.js
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team

fix(ci): regenerate pnpm-lock.yaml to resolve frozen-lockfile error (MEQ-123)
  .github/lighthouse/pwa-config.json
  .github/workflows/ci.yml
  .github/workflows/financial-model-bias-testing.yml
  .github/workflows/iac-security-scan.yml
  .github/workflows/infrastructure.yml
  .github/workflows/monitoring.yml
  .github/workflows/performance.yml
  .github/workflows/pwa-compliance.yml
  .github/workflows/security.yml
  .husky/pre-commit
  commitlint.config.js
  pnpm-lock.yaml
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-check.json
  reports/license-validation-report.json
  reports/npm-audit.json
  scripts/ci-test-setup.js
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team

chore(infra): update terraform providers and refresh security reports (SEC-001)
  infrastructure/.terraform/providers/registry.terraform.io/hashicorp/github/6.6.0/windows_amd64/CHANGELOG.md
  infrastructure/.terraform/providers/registry.terraform.io/hashicorp/github/6.6.0/windows_amd64/LICENSE
  infrastructure/.terraform/providers/registry.terraform.io/hashicorp/github/6.6.0/windows_amd64/README.md
  infrastructure/.terraform/providers/registry.terraform.io/hashicorp/random/3.7.2/windows_amd64/LICENSE.txt
  infrastructure/github-repository-management.tf
  infrastructure/main.tf
  infrastructure/networking.tf
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-validation-report.json
Owners: @fintech-devops-engineer, @financial-software-architect, @compliance-risk-officer, @product-manager, @meqenet-dev-team

chore(infra): update terraform providers and refresh security reports (SEC-001)
  infrastructure/.terraform/providers/registry.terraform.io/hashicorp/github/6.6.0/windows_amd64/CHANGELOG.md
  infrastructure/.terraform/providers/registry.terraform.io/hashicorp/github/6.6.0/windows_amd64/LICENSE
  infrastructure/.terraform/providers/registry.terraform.io/hashicorp/github/6.6.0/windows_amd64/README.md
  infrastructure/.terraform/providers/registry.terraform.io/hashicorp/random/3.7.2/windows_amd64/LICENSE.txt
  infrastructure/github-repository-management.tf
  infrastructure/main.tf
  infrastructure/networking.tf
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-validation-report.json
Owners: @fintech-devops-engineer, @financial-software-architect, @compliance-risk-officer, @product-manager, @meqenet-dev-team

chore(security): update dependency and license validation reports (SEC-002)
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-validation-report.json
Owners: @meqenet-dev-team

chore(security): update dependency and license validation reports (SEC-002)
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-validation-report.json
Owners: @meqenet-dev-team

chore(security): finalize security reports after merge resolution (SEC-005)
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-validation-report.json
Owners: @meqenet-dev-team

chore(security): finalize security reports after merge resolution (SEC-005)
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-validation-report.json
Owners: @meqenet-dev-team

ci(workflows): enhance CI/CD pipelines with security and compliance improvements (MEQ-567)
  .github/workflows/ci.yml
  .github/workflows/financial-model-bias-testing.yml
  .github/workflows/iac-security-scan.yml
  convert_to_utf8.py
  frontend/apps/app/android/settings.gradle
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-validation-report.json
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team

ci(workflows): enhance CI/CD pipelines with security and compliance improvements (MEQ-567)
  .github/workflows/ci.yml
  .github/workflows/financial-model-bias-testing.yml
  .github/workflows/iac-security-scan.yml
  convert_to_utf8.py
  frontend/apps/app/android/settings.gradle
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-validation-report.json
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team

feat(commitlint): add protection against destructive git operations (SEC-006)
  backend/services/auth-service/prisma/schema.prisma
  backend/services/auth-service/src/features/auth/auth.module.ts
  backend/services/auth-service/src/features/auth/auth.service.ts
  backend/services/auth-service/src/features/oauth/oauth.controller.ts
  backend/services/auth-service/src/features/oauth/oauth.module.ts
  backend/services/auth-service/src/infrastructure/database/prisma.service.ts
  backend/services/auth-service/src/shared/guards/adaptive-auth.guard.ts
  backend/services/auth-service/src/shared/services/database-encryption.middleware.ts
  backend/services/auth-service/src/shared/services/oauth2.service.ts
  backend/services/auth-service/src/shared/services/risk-assessment.service.ts
  backend/services/auth-service/src/shared/shared.module.ts
  commitlint.config.js
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-validation-report.json
  tasks/tasks.yaml
Owners: @financial-software-architect, @data-security-specialist, @meqenet-dev-team, @product-manager

feat(commitlint): add protection against destructive git operations (SEC-006)
  backend/services/auth-service/prisma/schema.prisma
  backend/services/auth-service/src/features/auth/auth.module.ts
  backend/services/auth-service/src/features/auth/auth.service.ts
  backend/services/auth-service/src/features/oauth/oauth.controller.ts
  backend/services/auth-service/src/features/oauth/oauth.module.ts
  backend/services/auth-service/src/infrastructure/database/prisma.service.ts
  backend/services/auth-service/src/shared/guards/adaptive-auth.guard.ts
  backend/services/auth-service/src/shared/services/database-encryption.middleware.ts
  backend/services/auth-service/src/shared/services/oauth2.service.ts
  backend/services/auth-service/src/shared/services/risk-assessment.service.ts
  backend/services/auth-service/src/shared/shared.module.ts
  commitlint.config.js
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-validation-report.json
  tasks/tasks.yaml
Owners: @financial-software-architect, @data-security-specialist, @meqenet-dev-team, @product-manager

feat(auth): implement complete authentication UI system (MEQ-AUTH-02)
  eslint.config.js
  frontend/apps/website/src/components/Button.tsx
  frontend/apps/website/src/components/Form.tsx
  frontend/apps/website/src/components/Input.tsx
  frontend/apps/website/src/components/Spinner.tsx
  frontend/apps/website/src/pages/forgot-password.tsx
  frontend/apps/website/src/pages/login.tsx
  frontend/apps/website/src/pages/register.tsx
  frontend/libs/shared-ui/src/components/Form.stories.tsx
  frontend/libs/shared-ui/src/components/Form.tsx
  frontend/libs/shared-ui/src/components/Spinner.stories.tsx
  frontend/libs/shared-ui/src/components/Spinner.tsx
  frontend/libs/shared-ui/src/index.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-validation-report.json
  tasks/tasks.yaml
Owners: @meqenet-dev-team, @fintech-devops-engineer, @senior-backend-developer, @product-manager, @financial-software-architect

feat(auth): implement complete authentication UI system (MEQ-AUTH-02)
  eslint.config.js
  frontend/apps/website/src/components/Button.tsx
  frontend/apps/website/src/components/Form.tsx
  frontend/apps/website/src/components/Input.tsx
  frontend/apps/website/src/components/Spinner.tsx
  frontend/apps/website/src/pages/forgot-password.tsx
  frontend/apps/website/src/pages/login.tsx
  frontend/apps/website/src/pages/register.tsx
  frontend/libs/shared-ui/src/components/Form.stories.tsx
  frontend/libs/shared-ui/src/components/Form.tsx
  frontend/libs/shared-ui/src/components/Spinner.stories.tsx
  frontend/libs/shared-ui/src/components/Spinner.tsx
  frontend/libs/shared-ui/src/index.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-validation-report.json
  tasks/tasks.yaml
Owners: @meqenet-dev-team, @fintech-devops-engineer, @senior-backend-developer, @product-manager, @financial-software-architect

feat(ci): implement enterprise-grade commit message validation system (MEQ-CI-002)
  .github/workflows/ci.yml
  .github/workflows/commit-message-check.yml
  .github/workflows/commit-validation.yml
  .husky/commit-msg
  .husky/pre-commit
  commitlint.config.js
  docs/GIT_SECURITY_GATE.md
  package.json
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-check.json
  reports/license-validation-report.json
  reports/npm-audit.json
  reports/snyk-results.json
  scripts/git-command-validator.js
  scripts/git-wrapper.bat
  scripts/git-wrapper.sh
  scripts/setup-git-security.bat
  scripts/setup-git-security.js
  scripts/setup-git-security.sh
  scripts/validate-commit-message.js
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team, @product-manager, @compliance-risk-officer, @senior-backend-developer

feat(ci): implement enterprise-grade commit message validation system (MEQ-CI-002)
  .github/workflows/ci.yml
  .github/workflows/commit-message-check.yml
  .github/workflows/commit-validation.yml
  .husky/commit-msg
  .husky/pre-commit
  commitlint.config.js
  docs/GIT_SECURITY_GATE.md
  package.json
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-check.json
  reports/license-validation-report.json
  reports/npm-audit.json
  reports/snyk-results.json
  scripts/git-command-validator.js
  scripts/git-wrapper.bat
  scripts/git-wrapper.sh
  scripts/setup-git-security.bat
  scripts/setup-git-security.js
  scripts/setup-git-security.sh
  scripts/validate-commit-message.js
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team, @product-manager, @compliance-risk-officer, @senior-backend-developer

fix(ci): restore shebang in commit-msg hook for proper execution (MEQ-CI-004)
  .husky/commit-msg
Owners: @meqenet-dev-team

fix(ci): restore shebang in commit-msg hook for proper execution (MEQ-CI-004)
  .husky/commit-msg
Owners: @meqenet-dev-team

fix(frontend): resolve linting errors in website components (MEQ-AUTH-002)
  backend/services/auth-service/src/features/auth/auth.service.spec.ts
  frontend/apps/website/eslint.config.mjs
  frontend/apps/website/src/components/Form.tsx
Owners: @data-security-specialist, @financial-software-architect, @meqenet-dev-team

fix(frontend): resolve linting errors in website components (MEQ-AUTH-002)
  backend/services/auth-service/src/features/auth/auth.service.spec.ts
  frontend/apps/website/eslint.config.mjs
  frontend/apps/website/src/components/Form.tsx
Owners: @data-security-specialist, @financial-software-architect, @meqenet-dev-team

fix(scripts): remove unused imports and prefix unused parameters (MEQ-AUTH-003)
  scripts/git-command-validator.js
  scripts/setup-git-security.js
  scripts/validate-commit-message.js
Owners: @meqenet-dev-team

fix(scripts): remove unused imports and prefix unused parameters (MEQ-AUTH-003)
  scripts/git-command-validator.js
  scripts/setup-git-security.js
  scripts/validate-commit-message.js
Owners: @meqenet-dev-team

fix(security): resolve ESLint object injection warnings in Spinner components (SEC-001)
  frontend/apps/website/src/components/Spinner.tsx
  frontend/libs/shared-ui/src/components/Spinner.tsx
Owners: @meqenet-dev-team

fix(security): resolve ESLint object injection warnings in Spinner components (SEC-001)
  frontend/apps/website/src/components/Spinner.tsx
  frontend/libs/shared-ui/src/components/Spinner.tsx
Owners: @meqenet-dev-team

feat(dev): add Cursor IDE rules and enhance auth service security (MEQ-001)
  .cursor/rules/cofounders.mdc
  .cursor/rules/command-rules.mdc
  .cursor/rules/prd.mdc
  backend/services/auth-service/src/app/app.controller.spec.ts
  backend/services/auth-service/src/features/auth/auth.service.ts
  backend/services/auth-service/src/features/oauth/oauth.controller.ts
  backend/services/auth-service/src/infrastructure/database/prisma.service.ts
  backend/services/auth-service/src/shared/guards/adaptive-auth.guard.ts
  backend/services/auth-service/src/shared/services/audit-logging.service.ts
  backend/services/auth-service/src/shared/services/database-encryption.middleware.ts
  backend/services/auth-service/src/shared/services/oauth2.service.ts
  backend/services/auth-service/src/shared/services/risk-assessment.service.ts
  pnpm-lock.yaml
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-validation-report.json
  reports/npm-audit.json
Owners: @meqenet-dev-team, @data-security-specialist, @financial-software-architect

feat(dev): add Cursor IDE rules and enhance auth service security (MEQ-001)
  .cursor/rules/cofounders.mdc
  .cursor/rules/command-rules.mdc
  .cursor/rules/prd.mdc
  backend/services/auth-service/src/app/app.controller.spec.ts
  backend/services/auth-service/src/features/auth/auth.service.ts
  backend/services/auth-service/src/features/oauth/oauth.controller.ts
  backend/services/auth-service/src/infrastructure/database/prisma.service.ts
  backend/services/auth-service/src/shared/guards/adaptive-auth.guard.ts
  backend/services/auth-service/src/shared/services/audit-logging.service.ts
  backend/services/auth-service/src/shared/services/database-encryption.middleware.ts
  backend/services/auth-service/src/shared/services/oauth2.service.ts
  backend/services/auth-service/src/shared/services/risk-assessment.service.ts
  pnpm-lock.yaml
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-validation-report.json
  reports/npm-audit.json
Owners: @meqenet-dev-team, @data-security-specialist, @financial-software-architect

feat(auth): add comprehensive auth UI components and e2e tests (AUTH-001)
  e2e/auth.spec.ts
  frontend/apps/app/src/app/components/auth/Button.tsx
  frontend/apps/app/src/app/components/auth/Input.tsx
  frontend/apps/app/src/app/components/auth/Spinner.tsx
  frontend/apps/app/src/app/screens/ConfirmPasswordResetScreen.tsx
  frontend/apps/app/src/app/screens/LoginScreen.tsx
  frontend/apps/app/src/app/screens/MainScreen.tsx
  frontend/apps/app/src/app/screens/RegistrationScreen.tsx
  frontend/apps/app/src/app/screens/RequestPasswordResetScreen.tsx
  frontend/apps/app/test/auth.e2e.ts
  frontend/apps/website/src/pages/auth/confirm-password-reset.tsx
  playwright.e2e.config.ts
Owners: @data-security-specialist, @financial-software-architect, @meqenet-dev-team

feat(auth): add comprehensive auth UI components and e2e tests (AUTH-001)
  e2e/auth.spec.ts
  frontend/apps/app/src/app/components/auth/Button.tsx
  frontend/apps/app/src/app/components/auth/Input.tsx
  frontend/apps/app/src/app/components/auth/Spinner.tsx
  frontend/apps/app/src/app/screens/ConfirmPasswordResetScreen.tsx
  frontend/apps/app/src/app/screens/LoginScreen.tsx
  frontend/apps/app/src/app/screens/MainScreen.tsx
  frontend/apps/app/src/app/screens/RegistrationScreen.tsx
  frontend/apps/app/src/app/screens/RequestPasswordResetScreen.tsx
  frontend/apps/app/test/auth.e2e.ts
  frontend/apps/website/src/pages/auth/confirm-password-reset.tsx
  playwright.e2e.config.ts
Owners: @data-security-specialist, @financial-software-architect, @meqenet-dev-team

feat(security): implement production readiness recommendations (SEC-505)
  backend/services/auth-service/docs/AUDIT_REPORT_2025.md
  backend/services/auth-service/src/features/auth/auth.service.ts
  backend/services/auth-service/src/shared/services/password-reset-token.service.ts
  backend/services/auth-service/src/shared/services/rate-limiting.service.ts
  backend/services/auth-service/src/shared/shared.module.ts
  backend/services/auth-service/src/shared/strategies/jwt.strategy.ts
  backend/services/auth-service/src/shared/utils/logging-sanitizer.util.spec.ts
  e2e/README.md
  e2e/auth.spec.ts
  frontend/apps/app/package.json
  frontend/apps/app/src/app/App.tsx
  frontend/apps/app/src/app/screens/ConfirmPasswordResetScreen.tsx
  frontend/apps/app/src/app/screens/LoginScreen.tsx
  frontend/apps/app/src/app/screens/RegistrationScreen.tsx
  frontend/apps/app/src/app/screens/RequestPasswordResetScreen.tsx
  frontend/apps/app/test/auth.e2e.ts
  frontend/apps/app/test/mobile-auth.e2e.ts
  frontend/apps/website/eslint.config.mjs
  frontend/apps/website/src/pages/_app.tsx
  frontend/apps/website/src/pages/auth/confirm-password-reset.tsx
  frontend/apps/website/src/pages/login.tsx
  frontend/apps/website/src/pages/register.tsx
  frontend/libs/mobile-api-client/README.md
  frontend/libs/shared-ui/README.md
  frontend/package.json
  frontend/tsconfig.base.json
  pnpm-lock.yaml
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-validation-report.json
  reports/npm-audit.json
  tasks/tasks.yaml
Owners: @meqenet-dev-team, @data-security-specialist, @financial-software-architect, @senior-backend-developer, @product-manager, @fintech-devops-engineer

feat(security): implement production readiness recommendations (SEC-505)
  backend/services/auth-service/docs/AUDIT_REPORT_2025.md
  backend/services/auth-service/src/features/auth/auth.service.ts
  backend/services/auth-service/src/shared/services/password-reset-token.service.ts
  backend/services/auth-service/src/shared/services/rate-limiting.service.ts
  backend/services/auth-service/src/shared/shared.module.ts
  backend/services/auth-service/src/shared/strategies/jwt.strategy.ts
  backend/services/auth-service/src/shared/utils/logging-sanitizer.util.spec.ts
  e2e/README.md
  e2e/auth.spec.ts
  frontend/apps/app/package.json
  frontend/apps/app/src/app/App.tsx
  frontend/apps/app/src/app/screens/ConfirmPasswordResetScreen.tsx
  frontend/apps/app/src/app/screens/LoginScreen.tsx
  frontend/apps/app/src/app/screens/RegistrationScreen.tsx
  frontend/apps/app/src/app/screens/RequestPasswordResetScreen.tsx
  frontend/apps/app/test/auth.e2e.ts
  frontend/apps/app/test/mobile-auth.e2e.ts
  frontend/apps/website/eslint.config.mjs
  frontend/apps/website/src/pages/_app.tsx
  frontend/apps/website/src/pages/auth/confirm-password-reset.tsx
  frontend/apps/website/src/pages/login.tsx
  frontend/apps/website/src/pages/register.tsx
  frontend/libs/mobile-api-client/README.md
  frontend/libs/shared-ui/README.md
  frontend/package.json
  frontend/tsconfig.base.json
  pnpm-lock.yaml
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-validation-report.json
  reports/npm-audit.json
  tasks/tasks.yaml
Owners: @meqenet-dev-team, @data-security-specialist, @financial-software-architect, @senior-backend-developer, @product-manager, @fintech-devops-engineer

fix(test): fix failing authentication service tests (AUTH-001)
  backend/services/auth-service/src/app/app.controller.spec.ts
  backend/services/auth-service/src/features/auth/auth.service.spec.ts
Owners: @meqenet-dev-team, @data-security-specialist, @financial-software-architect

fix(test): fix failing authentication service tests (AUTH-001)
  backend/services/auth-service/src/app/app.controller.spec.ts
  backend/services/auth-service/src/features/auth/auth.service.spec.ts
Owners: @meqenet-dev-team, @data-security-specialist, @financial-software-architect

fix(build): resolve TypeScript errors and linting issues (MEQ-001)
  backend/services/auth-service/src/features/auth/auth.service.ts
  backend/services/auth-service/src/shared/services/rate-limiting.service.ts
  backend/services/auth-service/src/shared/strategies/jwt.strategy.ts
  frontend/apps/app/src/app/screens/LoginScreen.tsx
  frontend/apps/website/src/pages/login.tsx
  frontend/apps/website/src/pages/register.tsx
  playwright.e2e.config.ts
Owners: @data-security-specialist, @financial-software-architect, @meqenet-dev-team, @senior-backend-developer

fix(build): resolve TypeScript errors and linting issues (MEQ-001)
  backend/services/auth-service/src/features/auth/auth.service.ts
  backend/services/auth-service/src/shared/services/rate-limiting.service.ts
  backend/services/auth-service/src/shared/strategies/jwt.strategy.ts
  frontend/apps/app/src/app/screens/LoginScreen.tsx
  frontend/apps/website/src/pages/login.tsx
  frontend/apps/website/src/pages/register.tsx
  playwright.e2e.config.ts
Owners: @data-security-specialist, @financial-software-architect, @meqenet-dev-team, @senior-backend-developer

feat(auth-service): implement comprehensive security fixes from audit report (SEC-001)
  backend/services/auth-service/docs/SECURITY_FIXES_IMPLEMENTATION.md
  backend/services/auth-service/prisma/migrations/20250104000000_add_refresh_token_rotation_fields/migration.sql
  backend/services/auth-service/prisma/schema.prisma
  backend/services/auth-service/src/shared/services/enhanced-security-monitoring.service.ts
  backend/services/auth-service/src/shared/services/field-encryption.service.ts
  backend/services/auth-service/src/shared/services/oauth2.service.ts
  backend/services/auth-service/src/shared/shared.module.ts
Owners: @meqenet-dev-team, @financial-software-architect, @senior-backend-developer, @data-security-specialist

feat(auth-service): implement comprehensive security fixes from audit report (SEC-001)
  backend/services/auth-service/docs/SECURITY_FIXES_IMPLEMENTATION.md
  backend/services/auth-service/prisma/migrations/20250104000000_add_refresh_token_rotation_fields/migration.sql
  backend/services/auth-service/prisma/schema.prisma
  backend/services/auth-service/src/shared/services/enhanced-security-monitoring.service.ts
  backend/services/auth-service/src/shared/services/field-encryption.service.ts
  backend/services/auth-service/src/shared/services/oauth2.service.ts
  backend/services/auth-service/src/shared/shared.module.ts
Owners: @meqenet-dev-team, @financial-software-architect, @senior-backend-developer, @data-security-specialist

fix(build): resolve TypeScript and ESLint errors, organize project rules (MEQ-001)
  .cursor/rules/project-rules.mdc
  .cursor/rules/security-guardian.mdc
  .cursor/rules/tls-cipher-hardening.mdc
  backend/services/auth-service/src/shared/services/enhanced-security-monitoring.service.ts
  eslint.config.staged.js
  playwright.e2e.config.ts
Owners: @meqenet-dev-team, @data-security-specialist, @financial-software-architect

fix(build): resolve TypeScript and ESLint errors, organize project rules (MEQ-001)
  .cursor/rules/project-rules.mdc
  .cursor/rules/security-guardian.mdc
  .cursor/rules/tls-cipher-hardening.mdc
  backend/services/auth-service/src/shared/services/enhanced-security-monitoring.service.ts
  eslint.config.staged.js
  playwright.e2e.config.ts
Owners: @meqenet-dev-team, @data-security-specialist, @financial-software-architect

fix(frontend): resolve typecheck script error (TICKET-123)
  frontend/apps/app/src/app/App.tsx
  frontend/apps/app/vitest.config.mjs
  frontend/package.json
  tsconfig.base.json
Owners: @meqenet-dev-team, @fintech-devops-engineer, @senior-backend-developer, @financial-software-architect

.github/CODEOWNERS:

# CODEOWNERS for Meqenet.et BNPL Platform
# This file defines code ownership for the Ethiopian FinTech platform
# Each line represents a file pattern followed by one or more owners
# Owners are notified when pull requests are opened that modify these files

# Global Rules - All team members are responsible for general code quality
* @meqenet-dev-team

# ==========================================
# CRITICAL FINANCIAL SERVICES (High Security)
# ==========================================

# Authentication & Security Service (Zero Trust Architecture)
/services/auth-service/ @data-security-specialist @financial-software-architect
/packages/auth/ @data-security-specialist @financial-software-architect

# Core BNPL Service (All 4 Payment Options)
/services/bnpl-service/ @financial-software-architect @senior-backend-developer
/packages/bnpl/ @financial-software-architect @senior-backend-developer

# Credit Assessment & Scoring (AI/ML + Compliance)
/services/credit-service/ @data-scientist-ml @compliance-risk-officer
/packages/credit/ @data-scientist-ml @compliance-risk-officer

# KYC Verification (Fayda National ID + NBE Compliance)
/services/kyc-service/ @compliance-risk-officer @data-security-specialist
/packages/kyc/ @compliance-risk-officer @data-security-specialist

# Settlement Processing (Merchant Payments)
/services/settlements-service/ @financial-software-architect @senior-backend-developer
/packages/settlements/ @financial-software-architect @senior-backend-developer

# Payment Gateway Integrations (Ethiopian Providers)
/services/payments-service/ @senior-backend-developer @fintech-devops-engineer
/packages/payments/ @senior-backend-developer @fintech-devops-engineer

# ==========================================
# MARKETPLACE & COMMERCE SERVICES
# ==========================================

# Merchant Marketplace Platform
/services/marketplace-service/ @marketplace-merchant-manager @senior-backend-developer
/packages/marketplace/ @marketplace-merchant-manager @senior-backend-developer

# Product Catalog & Search
/services/products-service/ @marketplace-merchant-manager @senior-backend-developer
/packages/products/ @marketplace-merchant-manager @senior-backend-developer

# Order Management & Fulfillment
/services/orders-service/ @marketplace-merchant-manager @senior-backend-developer
/packages/orders/ @marketplace-merchant-manager @senior-backend-developer

# ==========================================
# CUSTOMER EXPERIENCE SERVICES
# ==========================================

# Rewards & Cashback Engine
/services/rewards-service/ @product-manager @senior-backend-developer
/packages/rewards/ @product-manager @senior-backend-developer

# Premium Subscription (Meqenet Plus)
/services/premium-service/ @product-manager @senior-backend-developer
/packages/premium/ @product-manager @senior-backend-developer

# Analytics & Business Intelligence
/services/analytics-service/ @analytics-bi-specialist @data-scientist-ml
/packages/analytics/ @analytics-bi-specialist @data-scientist-ml

# Virtual Cards (High Security)
/services/virtual-cards-service/ @data-security-specialist @senior-backend-developer
/packages/virtual-cards/ @data-security-specialist @senior-backend-developer

# QR Payments (Mobile-First)
/services/qr-payments-service/ @senior-mobile-developer @senior-backend-developer
/packages/qr-payments/ @senior-mobile-developer @senior-backend-developer

# ==========================================
# FRONTEND APPLICATIONS
# ==========================================

# Website (Next.js PWA)
/apps/website/ @senior-mobile-developer @ux-designer
/packages/web-ui/ @senior-mobile-developer @ux-designer

# Mobile App (React Native)
/apps/mobile/ @senior-mobile-developer @ux-designer
/packages/mobile-ui/ @senior-mobile-developer @ux-designer

# Shared UI Components & Design System
/packages/shared-ui/ @senior-mobile-developer @ux-designer
/packages/design-system/ @senior-mobile-developer @ux-designer

# Browser Extension
/apps/browser-extension/ @senior-mobile-developer @senior-backend-developer

# ==========================================
# INFRASTRUCTURE & DEVOPS
# ==========================================

# Infrastructure as Code (Terraform)
/infrastructure/ @fintech-devops-engineer @financial-software-architect
/terraform/ @fintech-devops-engineer @financial-software-architect

# Container Configurations
/docker/ @fintech-devops-engineer
/dockerfiles/ @fintech-devops-engineer
/k8s/ @fintech-devops-engineer @financial-software-architect

# CI/CD Pipelines
/.github/ @fintech-devops-engineer @financial-software-architect
/.gitlab-ci.yml @fintech-devops-engineer @financial-software-architect

# Monitoring & Observability
/monitoring/ @fintech-devops-engineer @senior-backend-developer
/grafana/ @fintech-devops-engineer @analytics-bi-specialist

# ==========================================
# DOCUMENTATION & COMPLIANCE
# ==========================================

# Core Documentation
/docs/ @product-manager @compliance-risk-officer

# Security Documentation (High Sensitivity)
/docs/Stage\ 1\ -\ Foundation/07-Security.md @data-security-specialist @compliance-risk-officer

# Compliance Framework (NBE Regulations)
/docs/Stage\ 1\ -\ Foundation/05-Compliance_Framework.md @compliance-risk-officer

# API Documentation & Governance
/docs/Stage\ 1\ -\ Foundation/02-API_Specification_and_Governance.md @financial-software-architect @senior-backend-developer

# Architecture Documentation
/docs/Stage\ 1\ -\ Foundation/08-Architecture.md @financial-software-architect

# Business Model & Financial Logic
/docs/Stage\ 1\ -\ Foundation/03-Business_Model.md @product-manager @financial-software-architect

# ==========================================
# ETHIOPIAN-SPECIFIC INTEGRATIONS
# ==========================================

# Fayda National ID Integration (KYC)
**/fayda-integration/ @compliance-risk-officer @senior-backend-developer
**/fayda/ @compliance-risk-officer @senior-backend-developer

# Telebirr Payment Integration
**/telebirr-integration/ @senior-backend-developer @fintech-devops-engineer
**/telebirr/ @senior-backend-developer @fintech-devops-engineer

# Ethiopian Payment Gateways
**/chapa/ @senior-backend-developer @fintech-devops-engineer
**/santimpay/ @senior-backend-developer @fintech-devops-engineer
**/arifpay/ @senior-backend-developer @fintech-devops-engineer
**/hellocash/ @senior-backend-developer @fintech-devops-engineer

# Amharic Localization
**/amharic-localization/ @ux-designer @senior-mobile-developer
**/i18n/am/ @ux-designer @senior-mobile-developer
**/locales/am/ @ux-designer @senior-mobile-developer

# ==========================================
# FINANCIAL LOGIC (HIGHEST SECURITY)
# ==========================================

# Payment Processing Logic
**/*payment*.ts @financial-software-architect @data-security-specialist
**/*payment*.js @financial-software-architect @data-security-specialist
**/*Payment*.tsx @financial-software-architect @senior-mobile-developer

# Interest Rate Calculations
**/*interest*.ts @financial-software-architect @compliance-risk-officer
**/*interest*.js @financial-software-architect @compliance-risk-officer
**/*Interest*.tsx @financial-software-architect @ux-designer

# Loan Management Logic
**/*loan*.ts @financial-software-architect @senior-backend-developer
**/*loan*.js @financial-software-architect @senior-backend-developer
**/*Loan*.tsx @financial-software-architect @senior-mobile-developer

# Credit Scoring & Assessment
**/*credit*.ts @data-scientist-ml @compliance-risk-officer
**/*credit*.js @data-scientist-ml @compliance-risk-officer
**/*Credit*.tsx @data-scientist-ml @ux-designer

# Financial Calculations & Utilities
**/*calculation*.ts @financial-software-architect @data-security-specialist
**/*financial*.ts @financial-software-architect @compliance-risk-officer
**/*currency*.ts @financial-software-architect @senior-backend-developer

# ==========================================
# SECURITY-SENSITIVE FILES
# ==========================================

# Cryptography & Encryption
**/*crypto*.ts @data-security-specialist @financial-software-architect
**/*encryption*.ts @data-security-specialist @financial-software-architect
**/*security*.ts @data-security-specialist @financial-software-architect

# Authentication & Authorization
**/*auth*.ts @data-security-specialist @financial-software-architect
**/*jwt*.ts @data-security-specialist @senior-backend-developer
**/*session*.ts @data-security-specialist @senior-backend-developer

# Database Schemas (Financial Data)
**/schema.prisma @financial-software-architect @data-security-specialist
**/migrations/ @financial-software-architect @senior-backend-developer

# Environment & Configuration Files
**/.env* @fintech-devops-engineer @data-security-specialist
**/config/ @fintech-devops-engineer @financial-software-architect

# ==========================================
# SPECIAL FILES & CONFIGURATIONS
# ==========================================

# Repository Configuration
.gitignore @fintech-devops-engineer
.cursorrules @financial-software-architect @data-security-specialist
CONTRIBUTING.md @product-manager @financial-software-architect
README.md @product-manager @financial-software-architect
LICENSE @compliance-risk-officer @product-manager

# Package Management
package.json @fintech-devops-engineer @senior-backend-developer
package-lock.json @fintech-devops-engineer @senior-backend-developer
yarn.lock @fintech-devops-engineer @senior-backend-developer

# TypeScript Configuration
tsconfig.json @financial-software-architect @senior-backend-developer
tsconfig.*.json @financial-software-architect @senior-backend-developer

# Linting & Code Quality
.eslintrc* @financial-software-architect @senior-backend-developer
.prettierrc* @financial-software-architect @senior-mobile-developer
jest.config* @senior-backend-developer @financial-qa-specialist

# ==========================================
# TASK MANAGEMENT & PROJECT COORDINATION
# ==========================================

# Task Management System
/tasks/ @product-manager @financial-software-architect
tasks.yaml @product-manager @financial-software-architect
update_progress.py @product-manager @fintech-devops-engineer

# ==========================================
# COMPLIANCE & AUDIT REQUIREMENTS
# ==========================================

# Any changes to financial logic, security implementations, or Ethiopian regulatory compliance
# require additional review from compliance officers and security specialists.
# 
# For NBE audit purposes, all changes to payment processing, interest calculations,
# and customer data handling must maintain a complete audit trail with proper approvals.
#
# Emergency security patches may bypass some approval requirements but require
# post-deployment review within 24 hours.
