Repository MakeMoneyOnly/Meqenet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @meqenet-dev-team, @data-security-specialist, @financial-software-architect, @senior-backend-developer, @data-scientist-ml, @compliance-risk-officer, @fintech-devops-engineer, @marketplace-merchant-manager, @product-manager, @analytics-bi-specialist, @senior-mobile-developer, @ux-designer, @financial-qa-specialist

.github/CODEOWNERS:

# CODEOWNERS for Meqenet.et BNPL Platform
# This file defines code ownership for the Ethiopian FinTech platform
# Each line represents a file pattern followed by one or more owners
# Owners are notified when pull requests are opened that modify these files

# Global Rules - All team members are responsible for general code quality
* @meqenet-dev-team

# ==========================================
# CRITICAL FINANCIAL SERVICES (High Security)
# ==========================================

# Authentication & Security Service (Zero Trust Architecture)
/services/auth-service/ @data-security-specialist @financial-software-architect
/packages/auth/ @data-security-specialist @financial-software-architect

# Core BNPL Service (All 4 Payment Options)
/services/bnpl-service/ @financial-software-architect @senior-backend-developer
/packages/bnpl/ @financial-software-architect @senior-backend-developer

# Credit Assessment & Scoring (AI/ML + Compliance)
/services/credit-service/ @data-scientist-ml @compliance-risk-officer
/packages/credit/ @data-scientist-ml @compliance-risk-officer

# KYC Verification (Fayda National ID + NBE Compliance)
/services/kyc-service/ @compliance-risk-officer @data-security-specialist
/packages/kyc/ @compliance-risk-officer @data-security-specialist

# Settlement Processing (Merchant Payments)
/services/settlements-service/ @financial-software-architect @senior-backend-developer
/packages/settlements/ @financial-software-architect @senior-backend-developer

# Payment Gateway Integrations (Ethiopian Providers)
/services/payments-service/ @senior-backend-developer @fintech-devops-engineer
/packages/payments/ @senior-backend-developer @fintech-devops-engineer

# ==========================================
# MARKETPLACE & COMMERCE SERVICES
# ==========================================

# Merchant Marketplace Platform
/services/marketplace-service/ @marketplace-merchant-manager @senior-backend-developer
/packages/marketplace/ @marketplace-merchant-manager @senior-backend-developer

# Product Catalog & Search
/services/products-service/ @marketplace-merchant-manager @senior-backend-developer
/packages/products/ @marketplace-merchant-manager @senior-backend-developer

# Order Management & Fulfillment
/services/orders-service/ @marketplace-merchant-manager @senior-backend-developer
/packages/orders/ @marketplace-merchant-manager @senior-backend-developer

# ==========================================
# CUSTOMER EXPERIENCE SERVICES
# ==========================================

# Rewards & Cashback Engine
/services/rewards-service/ @product-manager @senior-backend-developer
/packages/rewards/ @product-manager @senior-backend-developer

# Premium Subscription (Meqenet Plus)
/services/premium-service/ @product-manager @senior-backend-developer
/packages/premium/ @product-manager @senior-backend-developer

# Analytics & Business Intelligence
/services/analytics-service/ @analytics-bi-specialist @data-scientist-ml
/packages/analytics/ @analytics-bi-specialist @data-scientist-ml

# Virtual Cards (High Security)
/services/virtual-cards-service/ @data-security-specialist @senior-backend-developer
/packages/virtual-cards/ @data-security-specialist @senior-backend-developer

# QR Payments (Mobile-First)
/services/qr-payments-service/ @senior-mobile-developer @senior-backend-developer
/packages/qr-payments/ @senior-mobile-developer @senior-backend-developer

# ==========================================
# FRONTEND APPLICATIONS
# ==========================================

# Website (Next.js PWA)
/apps/website/ @senior-mobile-developer @ux-designer
/packages/web-ui/ @senior-mobile-developer @ux-designer

# Mobile App (React Native)
/apps/mobile/ @senior-mobile-developer @ux-designer
/packages/mobile-ui/ @senior-mobile-developer @ux-designer

# Shared UI Components & Design System
/packages/shared-ui/ @senior-mobile-developer @ux-designer
/packages/design-system/ @senior-mobile-developer @ux-designer

# Browser Extension
/apps/browser-extension/ @senior-mobile-developer @senior-backend-developer

# ==========================================
# INFRASTRUCTURE & DEVOPS
# ==========================================

# Infrastructure as Code (Terraform)
/infrastructure/ @fintech-devops-engineer @financial-software-architect
/terraform/ @fintech-devops-engineer @financial-software-architect

# Container Configurations
/docker/ @fintech-devops-engineer
/dockerfiles/ @fintech-devops-engineer
/k8s/ @fintech-devops-engineer @financial-software-architect

# CI/CD Pipelines
/.github/ @fintech-devops-engineer @financial-software-architect
/.gitlab-ci.yml @fintech-devops-engineer @financial-software-architect

# Monitoring & Observability
/monitoring/ @fintech-devops-engineer @senior-backend-developer
/grafana/ @fintech-devops-engineer @analytics-bi-specialist

# ==========================================
# DOCUMENTATION & COMPLIANCE
# ==========================================

# Core Documentation
/docs/ @product-manager @compliance-risk-officer

# Security Documentation (High Sensitivity)
/docs/Stage\ 1\ -\ Foundation/07-Security.md @data-security-specialist @compliance-risk-officer

# Compliance Framework (NBE Regulations)
/docs/Stage\ 1\ -\ Foundation/05-Compliance_Framework.md @compliance-risk-officer

# API Documentation & Governance
/docs/Stage\ 1\ -\ Foundation/02-API_Specification_and_Governance.md @financial-software-architect @senior-backend-developer

# Architecture Documentation
/docs/Stage\ 1\ -\ Foundation/08-Architecture.md @financial-software-architect

# Business Model & Financial Logic
/docs/Stage\ 1\ -\ Foundation/03-Business_Model.md @product-manager @financial-software-architect

# ==========================================
# ETHIOPIAN-SPECIFIC INTEGRATIONS
# ==========================================

# Fayda National ID Integration (KYC)
**/fayda-integration/ @compliance-risk-officer @senior-backend-developer
**/fayda/ @compliance-risk-officer @senior-backend-developer

# Telebirr Payment Integration
**/telebirr-integration/ @senior-backend-developer @fintech-devops-engineer
**/telebirr/ @senior-backend-developer @fintech-devops-engineer

# Ethiopian Payment Gateways
**/chapa/ @senior-backend-developer @fintech-devops-engineer
**/santimpay/ @senior-backend-developer @fintech-devops-engineer
**/arifpay/ @senior-backend-developer @fintech-devops-engineer
**/hellocash/ @senior-backend-developer @fintech-devops-engineer

# Amharic Localization
**/amharic-localization/ @ux-designer @senior-mobile-developer
**/i18n/am/ @ux-designer @senior-mobile-developer
**/locales/am/ @ux-designer @senior-mobile-developer

# ==========================================
# FINANCIAL LOGIC (HIGHEST SECURITY)
# ==========================================

# Payment Processing Logic
**/*payment*.ts @financial-software-architect @data-security-specialist
**/*payment*.js @financial-software-architect @data-security-specialist
**/*Payment*.tsx @financial-software-architect @senior-mobile-developer

# Interest Rate Calculations
**/*interest*.ts @financial-software-architect @compliance-risk-officer
**/*interest*.js @financial-software-architect @compliance-risk-officer
**/*Interest*.tsx @financial-software-architect @ux-designer

# Loan Management Logic
**/*loan*.ts @financial-software-architect @senior-backend-developer
**/*loan*.js @financial-software-architect @senior-backend-developer
**/*Loan*.tsx @financial-software-architect @senior-mobile-developer

# Credit Scoring & Assessment
**/*credit*.ts @data-scientist-ml @compliance-risk-officer
**/*credit*.js @data-scientist-ml @compliance-risk-officer
**/*Credit*.tsx @data-scientist-ml @ux-designer

# Financial Calculations & Utilities
**/*calculation*.ts @financial-software-architect @data-security-specialist
**/*financial*.ts @financial-software-architect @compliance-risk-officer
**/*currency*.ts @financial-software-architect @senior-backend-developer

# ==========================================
# SECURITY-SENSITIVE FILES
# ==========================================

# Cryptography & Encryption
**/*crypto*.ts @data-security-specialist @financial-software-architect
**/*encryption*.ts @data-security-specialist @financial-software-architect
**/*security*.ts @data-security-specialist @financial-software-architect

# Authentication & Authorization
**/*auth*.ts @data-security-specialist @financial-software-architect
**/*jwt*.ts @data-security-specialist @senior-backend-developer
**/*session*.ts @data-security-specialist @senior-backend-developer

# Database Schemas (Financial Data)
**/schema.prisma @financial-software-architect @data-security-specialist
**/migrations/ @financial-software-architect @senior-backend-developer

# Environment & Configuration Files
**/.env* @fintech-devops-engineer @data-security-specialist
**/config/ @fintech-devops-engineer @financial-software-architect

# ==========================================
# SPECIAL FILES & CONFIGURATIONS
# ==========================================

# Repository Configuration
.gitignore @fintech-devops-engineer
.cursorrules @financial-software-architect @data-security-specialist
CONTRIBUTING.md @product-manager @financial-software-architect
README.md @product-manager @financial-software-architect
LICENSE @compliance-risk-officer @product-manager

# Package Management
package.json @fintech-devops-engineer @senior-backend-developer
package-lock.json @fintech-devops-engineer @senior-backend-developer
yarn.lock @fintech-devops-engineer @senior-backend-developer

# TypeScript Configuration
tsconfig.json @financial-software-architect @senior-backend-developer
tsconfig.*.json @financial-software-architect @senior-backend-developer

# Linting & Code Quality
.eslintrc* @financial-software-architect @senior-backend-developer
.prettierrc* @financial-software-architect @senior-mobile-developer
jest.config* @senior-backend-developer @financial-qa-specialist

# ==========================================
# TASK MANAGEMENT & PROJECT COORDINATION
# ==========================================

# Task Management System
/tasks/ @product-manager @financial-software-architect
tasks.yaml @product-manager @financial-software-architect
update_progress.py @product-manager @fintech-devops-engineer

# ==========================================
# COMPLIANCE & AUDIT REQUIREMENTS
# ==========================================

# Any changes to financial logic, security implementations, or Ethiopian regulatory compliance
# require additional review from compliance officers and security specialists.
# 
# For NBE audit purposes, all changes to payment processing, interest calculations,
# and customer data handling must maintain a complete audit trail with proper approvals.
#
# Emergency security patches may bypass some approval requirements but require
# post-deployment review within 24 hours.

Refactor CORS and security headers in API gateway controller
  backend/services/api-gateway/src/app/app.controller.ts
  backend/services/api-gateway/src/app/app.module.ts
  backend/services/api-gateway/src/main.ts
Owners: @meqenet-dev-team

Refactor auth tests to use mocked services and improve test isolation
  backend/services/auth-service/src/features/auth/auth.controller.integration.spec.ts
  backend/services/auth-service/src/features/auth/auth.e2e.spec.ts
Owners: @data-security-specialist, @financial-software-architect

fix: resolve all test failures and stabilize test suite
  .husky/pre-commit
  backend-e2e/project.json
  backend-e2e/src/support/global-setup.ts
  backend-e2e/src/support/global-teardown.ts
  backend-e2e/src/tests/auth.e2e.spec.ts
  backend-e2e/src/tests/web.e2e.spec.ts
  backend-e2e/tsconfig.spec.json
  backend-e2e/vite.config.ts
  backend/services/api-gateway/package.json
  backend/services/api-gateway/src/app/app.controller.ts
  backend/services/api-gateway/src/app/app.module.ts
  backend/services/api-gateway/src/main.ts
  backend/services/api-gateway/src/shared/redis/redis.service.ts
  backend/services/api-gateway/src/types/ioredis-mock.d.ts
  backend/services/api-gateway/tsconfig.json
  backend/services/auth-service/package.json
  backend/services/auth-service/prisma/migrations/20250904192551_echo_initial_e2e_setup/migration.sql
  backend/services/auth-service/prisma/migrations/migration_lock.toml
  backend/services/auth-service/setup.ts
  backend/services/auth-service/src/features/auth/auth.controller.integration.spec.ts
  backend/services/auth-service/src/features/auth/auth.controller.ts
  backend/services/auth-service/src/features/auth/auth.e2e.spec.ts
  backend/services/auth-service/src/features/auth/auth.service.spec.ts
  backend/services/auth-service/src/features/auth/auth.service.ts
  backend/services/auth-service/src/shared/services/email.service.spec.ts
  backend/services/auth-service/src/shared/services/email.service.ts
  backend/services/auth-service/test/vitest-integration.config.ts
  docker-compose.e2e.yml
  package.json
  pnpm-lock.yaml
  scripts/run-secret-scan.js
  scripts/seed.ts
  test/setup.ts
Owners: @meqenet-dev-team, @data-security-specialist, @financial-software-architect, @senior-backend-developer, @fintech-devops-engineer

fix: resolve all test failures and stabilize test suite
  .husky/pre-commit
  backend-e2e/project.json
  backend-e2e/src/support/global-setup.ts
  backend-e2e/src/support/global-teardown.ts
  backend-e2e/src/tests/auth.e2e.spec.ts
  backend-e2e/src/tests/web.e2e.spec.ts
  backend-e2e/tsconfig.spec.json
  backend-e2e/vite.config.ts
  backend/services/api-gateway/package.json
  backend/services/api-gateway/src/app/app.controller.ts
  backend/services/api-gateway/src/app/app.module.ts
  backend/services/api-gateway/src/main.ts
  backend/services/api-gateway/src/shared/redis/redis.service.ts
  backend/services/api-gateway/src/types/ioredis-mock.d.ts
  backend/services/api-gateway/tsconfig.json
  backend/services/auth-service/package.json
  backend/services/auth-service/prisma/migrations/20250904192551_echo_initial_e2e_setup/migration.sql
  backend/services/auth-service/prisma/migrations/migration_lock.toml
  backend/services/auth-service/setup.ts
  backend/services/auth-service/src/features/auth/auth.controller.integration.spec.ts
  backend/services/auth-service/src/features/auth/auth.controller.ts
  backend/services/auth-service/src/features/auth/auth.e2e.spec.ts
  backend/services/auth-service/src/features/auth/auth.service.spec.ts
  backend/services/auth-service/src/features/auth/auth.service.ts
  backend/services/auth-service/src/shared/services/email.service.spec.ts
  backend/services/auth-service/src/shared/services/email.service.ts
  backend/services/auth-service/test/vitest-integration.config.ts
  docker-compose.e2e.yml
  package.json
  pnpm-lock.yaml
  scripts/run-secret-scan.js
  scripts/seed.ts
  test/setup.ts
Owners: @meqenet-dev-team, @data-security-specialist, @financial-software-architect, @senior-backend-developer, @fintech-devops-engineer

fix: complete test stabilization and configuration improvements
  .cursor/rules/system-prompt.mdc
  backend-e2e/src/tests/auth.e2e.spec.ts
  backend/services/api-gateway/src/app/app.module.ts
  backend/services/api-gateway/src/shared/config/app.config.ts
  backend/services/auth-service/setup.ts
  backend/services/auth-service/src/features/auth/auth.controller.integration.spec.ts
  backend/services/auth-service/src/features/auth/auth.e2e.spec.ts
  backend/services/auth-service/src/shared/services/email.service.spec.ts
  backend/services/auth-service/src/shared/services/email.service.ts
  eslint.config.staged.js
  scripts/seed.ts
Owners: @meqenet-dev-team, @data-security-specialist, @financial-software-architect, @fintech-devops-engineer

fix: complete test stabilization and configuration improvements
  .cursor/rules/system-prompt.mdc
  backend-e2e/src/tests/auth.e2e.spec.ts
  backend/services/api-gateway/src/app/app.module.ts
  backend/services/api-gateway/src/shared/config/app.config.ts
  backend/services/auth-service/setup.ts
  backend/services/auth-service/src/features/auth/auth.controller.integration.spec.ts
  backend/services/auth-service/src/features/auth/auth.e2e.spec.ts
  backend/services/auth-service/src/shared/services/email.service.spec.ts
  backend/services/auth-service/src/shared/services/email.service.ts
  eslint.config.staged.js
  scripts/seed.ts
Owners: @meqenet-dev-team, @data-security-specialist, @financial-software-architect, @fintech-devops-engineer

Add config module and improve app controller test setup
  backend/services/api-gateway/src/app/app.controller.spec.ts
Owners: @meqenet-dev-team

fix: correct Checkov action parameter from output_file to output_file_path
  .github/workflows/iac-security-scan.yml
Owners: @fintech-devops-engineer, @financial-software-architect

fix: correct Checkov action parameter from output_file to output_file_path
  .github/workflows/iac-security-scan.yml
Owners: @fintech-devops-engineer, @financial-software-architect

security: enhance pre-commit hooks to enterprise fintech standards
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.js
  scripts/run-secret-scan.js
  scripts/validate-pre-commit.js
Owners: @meqenet-dev-team

security: enhance pre-commit hooks to enterprise fintech standards
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.js
  scripts/run-secret-scan.js
  scripts/validate-pre-commit.js
Owners: @meqenet-dev-team

test: validate enhanced enterprise pre-commit hooks
  src/test-validation.ts
Owners: @meqenet-dev-team

test: validate enhanced enterprise pre-commit hooks
  src/test-validation.ts
Owners: @meqenet-dev-team

fix: temporarily disable lint-staged due to git integration issues
  .husky/pre-commit
  test-hook.ts
Owners: @meqenet-dev-team

fix: temporarily disable lint-staged due to git integration issues
  .husky/pre-commit
  test-hook.ts
Owners: @meqenet-dev-team

security: enhance pre-commit hooks with comprehensive error reporting
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Owners: @meqenet-dev-team

security: enhance pre-commit hooks with comprehensive error reporting
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Owners: @meqenet-dev-team

feat(security): enhance pre-commit hooks with fintech-grade quality gates (JIRA-456)
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.js
  commitlint.config.js
  package.json
  pnpm-lock.yaml
  scripts/env-security-check.js
  scripts/financial-security-check.js
  scripts/sql-security-check.js
  test-phase1.ts
  vitest.config.mjs
Owners: @meqenet-dev-team, @fintech-devops-engineer, @senior-backend-developer

feat(security): enhance pre-commit hooks with fintech-grade quality gates (JIRA-456)
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.js
  commitlint.config.js
  package.json
  pnpm-lock.yaml
  scripts/env-security-check.js
  scripts/financial-security-check.js
  scripts/sql-security-check.js
  test-phase1.ts
  vitest.config.mjs
Owners: @meqenet-dev-team, @fintech-devops-engineer, @senior-backend-developer

fix(git-hooks): repair and harden pre-commit and pre-push hooks (JIRA-456)
  .husky/pre-commit
  .husky/pre-push
  eslint.config.staged.js
  scripts/run-secret-scan.js
Owners: @meqenet-dev-team

fix(git-hooks): repair and harden pre-commit and pre-push hooks (JIRA-456)
  .husky/pre-commit
  .husky/pre-push
  eslint.config.staged.js
  scripts/run-secret-scan.js
Owners: @meqenet-dev-team

test(auth): fix failing auth and encryption tests (JIRA-456)
  backend/services/auth-service/src/features/auth/auth.service.spec.ts
  backend/services/auth-service/src/shared/utils/fayda-encryption.util.spec.ts
Owners: @data-security-specialist, @financial-software-architect

test(auth): fix failing auth and encryption tests (JIRA-456)
  backend/services/auth-service/src/features/auth/auth.service.spec.ts
  backend/services/auth-service/src/shared/utils/fayda-encryption.util.spec.ts
Owners: @data-security-specialist, @financial-software-architect

feat(infrastructure): add PWA testing and enhance security workflows (MEQ-1234)
  .github/codeql/codeql-config.yml
  .github/workflows/aml-kyc-testing.yml
  .github/workflows/codeql.yml
  .github/workflows/infrastructure.yml
  PWA_TEST_REPORT.md
  backend/services/auth-service/package.json
  backend/services/auth-service/src/features/auth/kyc.service.spec.ts
  docs/CICD_SECURITY_CODEQL_IMPLEMENTATION.md
  frontend/apps/website/eslint.config.mjs
  frontend/apps/website/lighthouse-report.json
  frontend/apps/website/next-i18next.config.js
  frontend/apps/website/next.config.mjs
  frontend/apps/website/package.json
  frontend/apps/website/src/pages/_app.tsx
  frontend/apps/website/src/pages/api/security/csp-report.ts
  package.json
  pnpm-lock.yaml
  pwa-test-report.json
  scripts/ci-test-setup.js
  scripts/run-secret-scan.js
  src/test-validation.ts
  test-hook.ts
  vitest.config.mjs
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team, @senior-backend-developer, @product-manager, @compliance-risk-officer

feat(infrastructure): add PWA testing and enhance security workflows (MEQ-1234)
  .github/codeql/codeql-config.yml
  .github/workflows/aml-kyc-testing.yml
  .github/workflows/codeql.yml
  .github/workflows/infrastructure.yml
  PWA_TEST_REPORT.md
  backend/services/auth-service/package.json
  backend/services/auth-service/src/features/auth/kyc.service.spec.ts
  docs/CICD_SECURITY_CODEQL_IMPLEMENTATION.md
  frontend/apps/website/eslint.config.mjs
  frontend/apps/website/lighthouse-report.json
  frontend/apps/website/next-i18next.config.js
  frontend/apps/website/next.config.mjs
  frontend/apps/website/package.json
  frontend/apps/website/src/pages/_app.tsx
  frontend/apps/website/src/pages/api/security/csp-report.ts
  package.json
  pnpm-lock.yaml
  pwa-test-report.json
  scripts/ci-test-setup.js
  scripts/run-secret-scan.js
  src/test-validation.ts
  test-hook.ts
  vitest.config.mjs
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team, @senior-backend-developer, @product-manager, @compliance-risk-officer

fix(build): resolve Next.js configuration and TypeScript errors (MEQ-1235)
  frontend/apps/website/next.config.mjs
  frontend/apps/website/src/pages/_app.tsx
  frontend/apps/website/src/pages/api/security/csp-report.ts
Owners: @meqenet-dev-team

fix(build): resolve Next.js configuration and TypeScript errors (MEQ-1235)
  frontend/apps/website/next.config.mjs
  frontend/apps/website/src/pages/_app.tsx
  frontend/apps/website/src/pages/api/security/csp-report.ts
Owners: @meqenet-dev-team

fix(ci): resolve CI/CD pipeline failures (MEQ-1236)
  frontend/apps/website/next.config.mjs
Owners: @meqenet-dev-team

fix(ci): resolve CI/CD pipeline failures (MEQ-1236)
  frontend/apps/website/next.config.mjs
Owners: @meqenet-dev-team

refactor(auth): enhance authentication service and cross-service improvements (MEQ-001)
  .pa11yci.json
  .puppeteerrc.cjs
  backend-e2e/src/support/global-teardown.ts
  backend-e2e/src/tests/auth.e2e.spec.ts
  backend-e2e/src/tests/web.e2e.spec.ts
  backend/services/api-gateway/src/app/app.controller.ts
  backend/services/api-gateway/src/app/app.module.ts
  backend/services/api-gateway/src/shared/redis/redis.service.ts
  backend/services/auth-service/setup.ts
  backend/services/auth-service/src/features/auth/auth.service.ts
  backend/services/auth-service/src/main.ts
  backend/services/auth-service/src/shared/dlq/dlq.service.ts
  backend/services/auth-service/src/shared/middleware/access-log.middleware.ts
  backend/services/auth-service/src/shared/outbox/outbox.service.ts
  backend/services/auth-service/src/shared/services/audit-logging.service.ts
  backend/services/auth-service/src/shared/services/email.service.spec.ts
  backend/services/auth-service/src/shared/services/email.service.ts
  backend/services/auth-service/src/shared/services/password-reset-token.service.spec.ts
  backend/services/auth-service/src/shared/services/secret-manager.service.ts
  backend/services/auth-service/src/shared/validation/schemas/auth.schemas.ts
  backend/services/payments-service/src/payments.service.spec.ts
  e2e/accessibility/homepage.accessibility.spec.ts
  frontend/apps/website/eslint.config.mjs
  frontend/apps/website/next.config.mjs
  frontend/libs/shared-ui/src/components/Button.stories.tsx
  frontend/libs/shared/src/i18n/useI18n.tsx
Owners: @meqenet-dev-team, @data-security-specialist, @financial-software-architect

refactor(auth): enhance authentication service and cross-service improvements (MEQ-001)
  .pa11yci.json
  .puppeteerrc.cjs
  backend-e2e/src/support/global-teardown.ts
  backend-e2e/src/tests/auth.e2e.spec.ts
  backend-e2e/src/tests/web.e2e.spec.ts
  backend/services/api-gateway/src/app/app.controller.ts
  backend/services/api-gateway/src/app/app.module.ts
  backend/services/api-gateway/src/shared/redis/redis.service.ts
  backend/services/auth-service/setup.ts
  backend/services/auth-service/src/features/auth/auth.service.ts
  backend/services/auth-service/src/main.ts
  backend/services/auth-service/src/shared/dlq/dlq.service.ts
  backend/services/auth-service/src/shared/middleware/access-log.middleware.ts
  backend/services/auth-service/src/shared/outbox/outbox.service.ts
  backend/services/auth-service/src/shared/services/audit-logging.service.ts
  backend/services/auth-service/src/shared/services/email.service.spec.ts
  backend/services/auth-service/src/shared/services/email.service.ts
  backend/services/auth-service/src/shared/services/password-reset-token.service.spec.ts
  backend/services/auth-service/src/shared/services/secret-manager.service.ts
  backend/services/auth-service/src/shared/validation/schemas/auth.schemas.ts
  backend/services/payments-service/src/payments.service.spec.ts
  e2e/accessibility/homepage.accessibility.spec.ts
  frontend/apps/website/eslint.config.mjs
  frontend/apps/website/next.config.mjs
  frontend/libs/shared-ui/src/components/Button.stories.tsx
  frontend/libs/shared/src/i18n/useI18n.tsx
Owners: @meqenet-dev-team, @data-security-specialist, @financial-software-architect

feat(frontend): implement PWA configuration with fintech security compliance (MEQ-001)
  .pa11yci.json
  .puppeteerrc.cjs
  backend-e2e/src/support/global-teardown.ts
  backend-e2e/src/tests/auth.e2e.spec.ts
  backend-e2e/src/tests/web.e2e.spec.ts
  backend/services/api-gateway/src/app/app.controller.ts
  backend/services/api-gateway/src/app/app.module.ts
  backend/services/api-gateway/src/shared/redis/redis.service.ts
  backend/services/auth-service/setup.ts
  backend/services/auth-service/src/features/auth/auth.service.ts
  backend/services/auth-service/src/main.ts
  backend/services/auth-service/src/shared/dlq/dlq.service.ts
  backend/services/auth-service/src/shared/middleware/access-log.middleware.ts
  backend/services/auth-service/src/shared/outbox/outbox.service.ts
  backend/services/auth-service/src/shared/services/audit-logging.service.ts
  backend/services/auth-service/src/shared/services/email.service.spec.ts
  backend/services/auth-service/src/shared/services/email.service.ts
  backend/services/auth-service/src/shared/services/password-reset-token.service.spec.ts
  backend/services/auth-service/src/shared/services/secret-manager.service.ts
  backend/services/auth-service/src/shared/validation/schemas/auth.schemas.ts
  backend/services/payments-service/src/payments.service.spec.ts
  e2e/accessibility/homepage.accessibility.spec.ts
  frontend/apps/website/eslint.config.mjs
  frontend/apps/website/next.config.mjs
  frontend/libs/shared-ui/src/components/Button.stories.tsx
  frontend/libs/shared/src/i18n/useI18n.tsx
Owners: @meqenet-dev-team, @data-security-specialist, @financial-software-architect

feat(frontend): implement PWA configuration with fintech security compliance (MEQ-001)
  .pa11yci.json
  .puppeteerrc.cjs
  backend-e2e/src/support/global-teardown.ts
  backend-e2e/src/tests/auth.e2e.spec.ts
  backend-e2e/src/tests/web.e2e.spec.ts
  backend/services/api-gateway/src/app/app.controller.ts
  backend/services/api-gateway/src/app/app.module.ts
  backend/services/api-gateway/src/shared/redis/redis.service.ts
  backend/services/auth-service/setup.ts
  backend/services/auth-service/src/features/auth/auth.service.ts
  backend/services/auth-service/src/main.ts
  backend/services/auth-service/src/shared/dlq/dlq.service.ts
  backend/services/auth-service/src/shared/middleware/access-log.middleware.ts
  backend/services/auth-service/src/shared/outbox/outbox.service.ts
  backend/services/auth-service/src/shared/services/audit-logging.service.ts
  backend/services/auth-service/src/shared/services/email.service.spec.ts
  backend/services/auth-service/src/shared/services/email.service.ts
  backend/services/auth-service/src/shared/services/password-reset-token.service.spec.ts
  backend/services/auth-service/src/shared/services/secret-manager.service.ts
  backend/services/auth-service/src/shared/validation/schemas/auth.schemas.ts
  backend/services/payments-service/src/payments.service.spec.ts
  e2e/accessibility/homepage.accessibility.spec.ts
  frontend/apps/website/eslint.config.mjs
  frontend/apps/website/next.config.mjs
  frontend/libs/shared-ui/src/components/Button.stories.tsx
  frontend/libs/shared/src/i18n/useI18n.tsx
Owners: @meqenet-dev-team, @data-security-specialist, @financial-software-architect

security(infra): implement enterprise-grade snyk cli with chocolatey installation (SEC-001)
  .cdxgenrc
  .github/workflows/pr-validation.yml
  .github/workflows/security-sbom.yml
  .husky/pre-commit
  .trufflehogignore
  backend/services/auth-service/package.json
  backend/services/auth-service/src/shared/observability/otel.ts
  bom.api-gateway.json
  bom.auth-service.json
  frontend/libs/shared/ui/package.json
  frontend/package.json
  frontend/pnpm-workspace.yaml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/js-app.atom
  reports/license-check.json
  reports/license-validation-report.json
  reports/npm-audit.json
  reports/retirejs-results.json
  reports/sast/sast_report_20250906_150329.html
  reports/sast/sast_summary_20250906_150329.md
  reports/snyk-results.json
  scripts/clean-workspace-for-scan.js
  scripts/compliance-check.js
  scripts/deduplicate-sbom.js
  scripts/generate-sbom.js
  scripts/run-owasp-scan.bat
  scripts/run-secret-scan.js
  scripts/security-snyk.js
  scripts/setup-dev-tools.bat
  security-tools/run-sast.sh
  snyk-standalone.exe
  snyk.exe
Owners: @meqenet-dev-team, @fintech-devops-engineer, @financial-software-architect, @senior-backend-developer

security(infra): implement enterprise-grade snyk cli with chocolatey installation (SEC-001)
  .cdxgenrc
  .github/workflows/pr-validation.yml
  .github/workflows/security-sbom.yml
  .husky/pre-commit
  .trufflehogignore
  backend/services/auth-service/package.json
  backend/services/auth-service/src/shared/observability/otel.ts
  bom.api-gateway.json
  bom.auth-service.json
  frontend/libs/shared/ui/package.json
  frontend/package.json
  frontend/pnpm-workspace.yaml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/js-app.atom
  reports/license-check.json
  reports/license-validation-report.json
  reports/npm-audit.json
  reports/retirejs-results.json
  reports/sast/sast_report_20250906_150329.html
  reports/sast/sast_summary_20250906_150329.md
  reports/snyk-results.json
  scripts/clean-workspace-for-scan.js
  scripts/compliance-check.js
  scripts/deduplicate-sbom.js
  scripts/generate-sbom.js
  scripts/run-owasp-scan.bat
  scripts/run-secret-scan.js
  scripts/security-snyk.js
  scripts/setup-dev-tools.bat
  security-tools/run-sast.sh
  snyk-standalone.exe
  snyk.exe
Owners: @meqenet-dev-team, @fintech-devops-engineer, @financial-software-architect, @senior-backend-developer

ci(infra): comprehensive system updates and CI/CD improvements (SEC-001)
  .github/workflows/ci.yml
  .github/workflows/financial-model-bias-testing.yml
  .github/workflows/iac-security-scan.yml
  backend/services/auth-service/package.json
  backend/services/auth-service/src/shared/observability/otel.ts
  frontend/apps/website/eslint.config.mjs
  frontend/apps/website/next-i18next.config.js
  frontend/apps/website/next.config.mjs
  frontend/apps/website/src/pages/_app.tsx
  frontend/apps/website/tsconfig.json
  frontend/eslint.config.mjs
  pnpm-lock.yaml
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-validation-report.json
Owners: @fintech-devops-engineer, @financial-software-architect, @senior-backend-developer, @meqenet-dev-team

ci(infra): comprehensive system updates and CI/CD improvements (SEC-001)
  .github/workflows/ci.yml
  .github/workflows/financial-model-bias-testing.yml
  .github/workflows/iac-security-scan.yml
  backend/services/auth-service/package.json
  backend/services/auth-service/src/shared/observability/otel.ts
  frontend/apps/website/eslint.config.mjs
  frontend/apps/website/next-i18next.config.js
  frontend/apps/website/next.config.mjs
  frontend/apps/website/src/pages/_app.tsx
  frontend/apps/website/tsconfig.json
  frontend/eslint.config.mjs
  pnpm-lock.yaml
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-validation-report.json
Owners: @fintech-devops-engineer, @financial-software-architect, @senior-backend-developer, @meqenet-dev-team

fix(scripts): convert CommonJS scripts to ES modules for Node.js compatibility (MEQ-124)
  commitlint.config.js
  eslint.config.js
  eslint.config.staged.js
  frontend/apps/app/android/app/build.gradle
  frontend/apps/app/android/settings.gradle
  frontend/apps/app/src/app/App.spec.tsx
  frontend/apps/app/tsconfig.spec.json
  frontend/apps/app/vitest.config.mjs
  frontend/libs/shared/src/i18n/locales/en.json
  frontend/package.json
  package.json
  pnpm-lock.yaml
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-check.json
  reports/license-validation-report.json
  reports/npm-audit.json
  scripts/ci-test-setup.js
  scripts/compliance-check.js
  scripts/deduplicate-sbom.js
  scripts/generate-dependency-report.js
  scripts/generate-sbom.js
  scripts/run-secret-scan.js
  scripts/validate-licenses.js
  scripts/validate-pre-commit.js
  scripts/validate-sbom.js
Owners: @meqenet-dev-team, @financial-software-architect, @senior-backend-developer, @fintech-devops-engineer

fix(scripts): convert CommonJS scripts to ES modules for Node.js compatibility (MEQ-124)
  commitlint.config.js
  eslint.config.js
  eslint.config.staged.js
  frontend/apps/app/android/app/build.gradle
  frontend/apps/app/android/settings.gradle
  frontend/apps/app/src/app/App.spec.tsx
  frontend/apps/app/tsconfig.spec.json
  frontend/apps/app/vitest.config.mjs
  frontend/libs/shared/src/i18n/locales/en.json
  frontend/package.json
  package.json
  pnpm-lock.yaml
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-check.json
  reports/license-validation-report.json
  reports/npm-audit.json
  scripts/ci-test-setup.js
  scripts/compliance-check.js
  scripts/deduplicate-sbom.js
  scripts/generate-dependency-report.js
  scripts/generate-sbom.js
  scripts/run-secret-scan.js
  scripts/validate-licenses.js
  scripts/validate-pre-commit.js
  scripts/validate-sbom.js
Owners: @meqenet-dev-team, @financial-software-architect, @senior-backend-developer, @fintech-devops-engineer

git statusci(workflows): fix GitHub Actions linter errors in security and infrastructure workflows (MEQ-123)
  .github/lighthouse/pwa-config.json
  .github/workflows/ci.yml
  .github/workflows/financial-model-bias-testing.yml
  .github/workflows/iac-security-scan.yml
  .github/workflows/infrastructure.yml
  .github/workflows/monitoring.yml
  .github/workflows/performance.yml
  .github/workflows/pwa-compliance.yml
  .github/workflows/security.yml
  .husky/pre-commit
  commitlint.config.js
  pnpm-lock.yaml
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-check.json
  reports/license-validation-report.json
  reports/npm-audit.json
  scripts/ci-test-setup.js
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team
