Repository MakeMoneyOnly/Meqenet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @meqenet-dev-team, @data-security-specialist, @financial-software-architect, @senior-backend-developer, @data-scientist-ml, @compliance-risk-officer, @fintech-devops-engineer, @marketplace-merchant-manager, @product-manager, @analytics-bi-specialist, @senior-mobile-developer, @ux-designer, @financial-qa-specialist

.github/CODEOWNERS:

# CODEOWNERS for Meqenet.et BNPL Platform
# This file defines code ownership for the Ethiopian FinTech platform
# Each line represents a file pattern followed by one or more owners
# Owners are notified when pull requests are opened that modify these files

# Global Rules - All team members are responsible for general code quality
* @meqenet-dev-team

# ==========================================
# CRITICAL FINANCIAL SERVICES (High Security)
# ==========================================

# Authentication & Security Service (Zero Trust Architecture)
/services/auth-service/ @data-security-specialist @financial-software-architect
/packages/auth/ @data-security-specialist @financial-software-architect

# Core BNPL Service (All 4 Payment Options)
/services/bnpl-service/ @financial-software-architect @senior-backend-developer
/packages/bnpl/ @financial-software-architect @senior-backend-developer

# Credit Assessment & Scoring (AI/ML + Compliance)
/services/credit-service/ @data-scientist-ml @compliance-risk-officer
/packages/credit/ @data-scientist-ml @compliance-risk-officer

# KYC Verification (Fayda National ID + NBE Compliance)
/services/kyc-service/ @compliance-risk-officer @data-security-specialist
/packages/kyc/ @compliance-risk-officer @data-security-specialist

# Settlement Processing (Merchant Payments)
/services/settlements-service/ @financial-software-architect @senior-backend-developer
/packages/settlements/ @financial-software-architect @senior-backend-developer

# Payment Gateway Integrations (Ethiopian Providers)
/services/payments-service/ @senior-backend-developer @fintech-devops-engineer
/packages/payments/ @senior-backend-developer @fintech-devops-engineer

# ==========================================
# MARKETPLACE & COMMERCE SERVICES
# ==========================================

# Merchant Marketplace Platform
/services/marketplace-service/ @marketplace-merchant-manager @senior-backend-developer
/packages/marketplace/ @marketplace-merchant-manager @senior-backend-developer

# Product Catalog & Search
/services/products-service/ @marketplace-merchant-manager @senior-backend-developer
/packages/products/ @marketplace-merchant-manager @senior-backend-developer

# Order Management & Fulfillment
/services/orders-service/ @marketplace-merchant-manager @senior-backend-developer
/packages/orders/ @marketplace-merchant-manager @senior-backend-developer

# ==========================================
# CUSTOMER EXPERIENCE SERVICES
# ==========================================

# Rewards & Cashback Engine
/services/rewards-service/ @product-manager @senior-backend-developer
/packages/rewards/ @product-manager @senior-backend-developer

# Premium Subscription (Meqenet Plus)
/services/premium-service/ @product-manager @senior-backend-developer
/packages/premium/ @product-manager @senior-backend-developer

# Analytics & Business Intelligence
/services/analytics-service/ @analytics-bi-specialist @data-scientist-ml
/packages/analytics/ @analytics-bi-specialist @data-scientist-ml

# Virtual Cards (High Security)
/services/virtual-cards-service/ @data-security-specialist @senior-backend-developer
/packages/virtual-cards/ @data-security-specialist @senior-backend-developer

# QR Payments (Mobile-First)
/services/qr-payments-service/ @senior-mobile-developer @senior-backend-developer
/packages/qr-payments/ @senior-mobile-developer @senior-backend-developer

# ==========================================
# FRONTEND APPLICATIONS
# ==========================================

# Website (Next.js PWA)
/apps/website/ @senior-mobile-developer @ux-designer
/packages/web-ui/ @senior-mobile-developer @ux-designer

# Mobile App (React Native)
/apps/mobile/ @senior-mobile-developer @ux-designer
/packages/mobile-ui/ @senior-mobile-developer @ux-designer

# Shared UI Components & Design System
/packages/shared-ui/ @senior-mobile-developer @ux-designer
/packages/design-system/ @senior-mobile-developer @ux-designer

# Browser Extension
/apps/browser-extension/ @senior-mobile-developer @senior-backend-developer

# ==========================================
# INFRASTRUCTURE & DEVOPS
# ==========================================

# Infrastructure as Code (Terraform)
/infrastructure/ @fintech-devops-engineer @financial-software-architect
/terraform/ @fintech-devops-engineer @financial-software-architect

# Container Configurations
/docker/ @fintech-devops-engineer
/dockerfiles/ @fintech-devops-engineer
/k8s/ @fintech-devops-engineer @financial-software-architect

# CI/CD Pipelines
/.github/ @fintech-devops-engineer @financial-software-architect
/.gitlab-ci.yml @fintech-devops-engineer @financial-software-architect

# Monitoring & Observability
/monitoring/ @fintech-devops-engineer @senior-backend-developer
/grafana/ @fintech-devops-engineer @analytics-bi-specialist

# ==========================================
# DOCUMENTATION & COMPLIANCE
# ==========================================

# Core Documentation
/docs/ @product-manager @compliance-risk-officer

# Security Documentation (High Sensitivity)
/docs/Stage\ 1\ -\ Foundation/07-Security.md @data-security-specialist @compliance-risk-officer

# Compliance Framework (NBE Regulations)
/docs/Stage\ 1\ -\ Foundation/05-Compliance_Framework.md @compliance-risk-officer

# API Documentation & Governance
/docs/Stage\ 1\ -\ Foundation/02-API_Specification_and_Governance.md @financial-software-architect @senior-backend-developer

# Architecture Documentation
/docs/Stage\ 1\ -\ Foundation/08-Architecture.md @financial-software-architect

# Business Model & Financial Logic
/docs/Stage\ 1\ -\ Foundation/03-Business_Model.md @product-manager @financial-software-architect

# ==========================================
# ETHIOPIAN-SPECIFIC INTEGRATIONS
# ==========================================

# Fayda National ID Integration (KYC)
**/fayda-integration/ @compliance-risk-officer @senior-backend-developer
**/fayda/ @compliance-risk-officer @senior-backend-developer

# Telebirr Payment Integration
**/telebirr-integration/ @senior-backend-developer @fintech-devops-engineer
**/telebirr/ @senior-backend-developer @fintech-devops-engineer

# Ethiopian Payment Gateways
**/chapa/ @senior-backend-developer @fintech-devops-engineer
**/santimpay/ @senior-backend-developer @fintech-devops-engineer
**/arifpay/ @senior-backend-developer @fintech-devops-engineer
**/hellocash/ @senior-backend-developer @fintech-devops-engineer

# Amharic Localization
**/amharic-localization/ @ux-designer @senior-mobile-developer
**/i18n/am/ @ux-designer @senior-mobile-developer
**/locales/am/ @ux-designer @senior-mobile-developer

# ==========================================
# FINANCIAL LOGIC (HIGHEST SECURITY)
# ==========================================

# Payment Processing Logic
**/*payment*.ts @financial-software-architect @data-security-specialist
**/*payment*.js @financial-software-architect @data-security-specialist
**/*Payment*.tsx @financial-software-architect @senior-mobile-developer

# Interest Rate Calculations
**/*interest*.ts @financial-software-architect @compliance-risk-officer
**/*interest*.js @financial-software-architect @compliance-risk-officer
**/*Interest*.tsx @financial-software-architect @ux-designer

# Loan Management Logic
**/*loan*.ts @financial-software-architect @senior-backend-developer
**/*loan*.js @financial-software-architect @senior-backend-developer
**/*Loan*.tsx @financial-software-architect @senior-mobile-developer

# Credit Scoring & Assessment
**/*credit*.ts @data-scientist-ml @compliance-risk-officer
**/*credit*.js @data-scientist-ml @compliance-risk-officer
**/*Credit*.tsx @data-scientist-ml @ux-designer

# Financial Calculations & Utilities
**/*calculation*.ts @financial-software-architect @data-security-specialist
**/*financial*.ts @financial-software-architect @compliance-risk-officer
**/*currency*.ts @financial-software-architect @senior-backend-developer

# ==========================================
# SECURITY-SENSITIVE FILES
# ==========================================

# Cryptography & Encryption
**/*crypto*.ts @data-security-specialist @financial-software-architect
**/*encryption*.ts @data-security-specialist @financial-software-architect
**/*security*.ts @data-security-specialist @financial-software-architect

# Authentication & Authorization
**/*auth*.ts @data-security-specialist @financial-software-architect
**/*jwt*.ts @data-security-specialist @senior-backend-developer
**/*session*.ts @data-security-specialist @senior-backend-developer

# Database Schemas (Financial Data)
**/schema.prisma @financial-software-architect @data-security-specialist
**/migrations/ @financial-software-architect @senior-backend-developer

# Environment & Configuration Files
**/.env* @fintech-devops-engineer @data-security-specialist
**/config/ @fintech-devops-engineer @financial-software-architect

# ==========================================
# SPECIAL FILES & CONFIGURATIONS
# ==========================================

# Repository Configuration
.gitignore @fintech-devops-engineer
.cursorrules @financial-software-architect @data-security-specialist
CONTRIBUTING.md @product-manager @financial-software-architect
README.md @product-manager @financial-software-architect
LICENSE @compliance-risk-officer @product-manager

# Package Management
package.json @fintech-devops-engineer @senior-backend-developer
package-lock.json @fintech-devops-engineer @senior-backend-developer
yarn.lock @fintech-devops-engineer @senior-backend-developer

# TypeScript Configuration
tsconfig.json @financial-software-architect @senior-backend-developer
tsconfig.*.json @financial-software-architect @senior-backend-developer

# Linting & Code Quality
.eslintrc* @financial-software-architect @senior-backend-developer
.prettierrc* @financial-software-architect @senior-mobile-developer
jest.config* @senior-backend-developer @financial-qa-specialist

# ==========================================
# TASK MANAGEMENT & PROJECT COORDINATION
# ==========================================

# Task Management System
/tasks/ @product-manager @financial-software-architect
tasks.yaml @product-manager @financial-software-architect
update_progress.py @product-manager @fintech-devops-engineer

# ==========================================
# COMPLIANCE & AUDIT REQUIREMENTS
# ==========================================

# Any changes to financial logic, security implementations, or Ethiopian regulatory compliance
# require additional review from compliance officers and security specialists.
# 
# For NBE audit purposes, all changes to payment processing, interest calculations,
# and customer data handling must maintain a complete audit trail with proper approvals.
#
# Emergency security patches may bypass some approval requirements but require
# post-deployment review within 24 hours.

fix: resolve security workflow failures
  .github/workflows/iac-security-scan.yml
  scripts/dependency-cleanup.js
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team

fix: resolve security workflow failures
  .github/workflows/iac-security-scan.yml
  scripts/dependency-cleanup.js
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team

fix: complete resolution of all TypeScript and Prisma build errors
  1
  backend/services/auth-service/prisma/schema.prisma
  backend/services/auth-service/src/features/auth/auth.service.spec.ts
  backend/services/auth-service/src/features/auth/auth.service.ts
  backend/services/auth-service/src/shared/services/event.service.ts
  backend/services/payments-service/src/shared/filters/global-exception.filter.spec.ts
  backend/services/payments-service/src/shared/filters/global-exception.filter.ts
  backend/services/payments-service/src/shared/guards/jwt-auth.guard.spec.ts
  clear-env-build.bat
Owners: @meqenet-dev-team, @financial-software-architect, @data-security-specialist, @senior-backend-developer

fix: complete resolution of all TypeScript and Prisma build errors
  1
  backend/services/auth-service/prisma/schema.prisma
  backend/services/auth-service/src/features/auth/auth.service.spec.ts
  backend/services/auth-service/src/features/auth/auth.service.ts
  backend/services/auth-service/src/shared/services/event.service.ts
  backend/services/payments-service/src/shared/filters/global-exception.filter.spec.ts
  backend/services/payments-service/src/shared/filters/global-exception.filter.ts
  backend/services/payments-service/src/shared/guards/jwt-auth.guard.spec.ts
  clear-env-build.bat
Owners: @meqenet-dev-team, @financial-software-architect, @data-security-specialist, @senior-backend-developer

fix: complete test fixes for auth service and global exception filter
  backend/services/auth-service/src/features/auth/auth.service.spec.ts
  backend/services/payments-service/src/shared/filters/global-exception.filter.spec.ts
Owners: @data-security-specialist, @financial-software-architect, @meqenet-dev-team

fix: complete test fixes for auth service and global exception filter
  backend/services/auth-service/src/features/auth/auth.service.spec.ts
  backend/services/payments-service/src/shared/filters/global-exception.filter.spec.ts
Owners: @data-security-specialist, @financial-software-architect, @meqenet-dev-team

fix: resolve all build and lint errors
  .github/workflows/aml-kyc-testing.yml
  .github/workflows/artifact-signing-attestation.yml
  .github/workflows/ci.yml
  .github/workflows/contract-testing.yml
  .github/workflows/financial-model-bias-testing.yml
  .github/workflows/iac-security-scan.yml
  .github/workflows/infrastructure.yml
  .github/workflows/pwa-compliance.yml
  .github/workflows/shift-left-security.yml
  .gitignore
  backend/services/api-gateway/eslint.config.mjs
  backend/services/api-gateway/package.json
  backend/services/api-gateway/src/shared/config/app.config.ts
  backend/services/auth-service/eslint.config.mjs
  backend/services/auth-service/src/infrastructure/database/prisma.service.ts
  backend/services/auth-service/src/shared/dlq/dlq.service.ts
  backend/services/auth-service/src/shared/interceptors/field-encryption.interceptor.ts
  backend/services/auth-service/src/shared/interceptors/logging.interceptor.ts
  backend/services/auth-service/src/shared/outbox/outbox.service.ts
  backend/services/auth-service/src/shared/resilience/retry.service.ts
  backend/services/auth-service/src/shared/validation/schemas/auth.schemas.ts
  backend/services/auth-service/src/shared/validation/validation.pipe.ts
  backend/services/payments-service/src/app/app.module.ts
  eslint.config.js
  frontend/apps/website/.storybook/main.ts
  frontend/apps/website/.storybook/preview.ts
  frontend/apps/website/eslint.config.mjs
  frontend/apps/website/package.json
  frontend/apps/website/src/components/Button.tsx
  frontend/apps/website/tsconfig.json
  frontend/apps/website/tsconfig.storybook.json
  frontend/libs/shared-ui/.storybook/main.ts
  frontend/libs/shared-ui/.storybook/preview.ts
  frontend/libs/shared-ui/package.json
  nx.json
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
  tsconfig.json
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team, @senior-backend-developer, @data-security-specialist

fix: resolve all build and lint errors
  .github/workflows/aml-kyc-testing.yml
  .github/workflows/artifact-signing-attestation.yml
  .github/workflows/ci.yml
  .github/workflows/contract-testing.yml
  .github/workflows/financial-model-bias-testing.yml
  .github/workflows/iac-security-scan.yml
  .github/workflows/infrastructure.yml
  .github/workflows/pwa-compliance.yml
  .github/workflows/shift-left-security.yml
  .gitignore
  backend/services/api-gateway/eslint.config.mjs
  backend/services/api-gateway/package.json
  backend/services/api-gateway/src/shared/config/app.config.ts
  backend/services/auth-service/eslint.config.mjs
  backend/services/auth-service/src/infrastructure/database/prisma.service.ts
  backend/services/auth-service/src/shared/dlq/dlq.service.ts
  backend/services/auth-service/src/shared/interceptors/field-encryption.interceptor.ts
  backend/services/auth-service/src/shared/interceptors/logging.interceptor.ts
  backend/services/auth-service/src/shared/outbox/outbox.service.ts
  backend/services/auth-service/src/shared/resilience/retry.service.ts
  backend/services/auth-service/src/shared/validation/schemas/auth.schemas.ts
  backend/services/auth-service/src/shared/validation/validation.pipe.ts
  backend/services/payments-service/src/app/app.module.ts
  eslint.config.js
  frontend/apps/website/.storybook/main.ts
  frontend/apps/website/.storybook/preview.ts
  frontend/apps/website/eslint.config.mjs
  frontend/apps/website/package.json
  frontend/apps/website/src/components/Button.tsx
  frontend/apps/website/tsconfig.json
  frontend/apps/website/tsconfig.storybook.json
  frontend/libs/shared-ui/.storybook/main.ts
  frontend/libs/shared-ui/.storybook/preview.ts
  frontend/libs/shared-ui/package.json
  nx.json
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
  tsconfig.json
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team, @senior-backend-developer, @data-security-specialist

Checkpoint before follow-up message
  frontend/libs/shared-ui/src/components/CreditScoreIndicator.stories.tsx
  frontend/libs/shared-ui/src/components/CreditScoreIndicator.tsx
  frontend/libs/shared-ui/src/components/InstallmentSchedule.stories.tsx
  frontend/libs/shared-ui/src/components/InstallmentSchedule.tsx
  frontend/libs/shared-ui/src/components/LoanSummaryCard.stories.tsx
  frontend/libs/shared-ui/src/components/LoanSummaryCard.tsx
  frontend/libs/shared-ui/src/components/PaymentMethodSelector.stories.tsx
  frontend/libs/shared-ui/src/components/PaymentMethodSelector.tsx
  frontend/libs/shared-ui/src/components/PaymentPlanCard.stories.tsx
  frontend/libs/shared-ui/src/components/ProgressIndicator.stories.tsx
  frontend/package.json
Owners: @data-scientist-ml, @ux-designer, @meqenet-dev-team, @financial-software-architect, @senior-mobile-developer, @fintech-devops-engineer, @senior-backend-developer

Checkpoint before follow-up message
  frontend/libs/shared-ui/README.md
  frontend/libs/shared-ui/package.json
  frontend/libs/shared-ui/src/components/CreditScoreIndicator.spec.tsx
  frontend/libs/shared-ui/src/components/InstallmentSchedule.spec.tsx
  frontend/libs/shared-ui/src/components/LoanSummaryCard.spec.tsx
  frontend/libs/shared-ui/src/components/PaymentMethodSelector.spec.tsx
  frontend/libs/shared-ui/src/components/PaymentPlanCard.spec.tsx
  frontend/libs/shared-ui/src/index.ts
  frontend/libs/shared-ui/src/test-setup.ts
  frontend/libs/shared-ui/vitest.config.ts
  frontend/package.json
Owners: @product-manager, @financial-software-architect, @fintech-devops-engineer, @senior-backend-developer, @data-scientist-ml, @ux-designer, @meqenet-dev-team, @senior-mobile-developer

fix: resolve ESLint errors in test files
  backend/services/auth-service/src/shared/dlq/dlq.service.spec.ts
  backend/services/auth-service/src/shared/interceptors/field-encryption.interceptor.spec.ts
  backend/services/auth-service/src/shared/interceptors/logging.interceptor.spec.ts
  backend/services/auth-service/src/shared/interceptors/logging.interceptor.ts
  backend/services/auth-service/src/shared/outbox/outbox.service.spec.ts
  backend/services/payments-service/src/shared/guards/jwt-auth.guard.spec.ts
  frontend/apps/website/src/components/Button.tsx
Owners: @meqenet-dev-team, @data-security-specialist, @financial-software-architect, @senior-backend-developer

fix: resolve ESLint errors in test files
  backend/services/auth-service/src/shared/dlq/dlq.service.spec.ts
  backend/services/auth-service/src/shared/interceptors/field-encryption.interceptor.spec.ts
  backend/services/auth-service/src/shared/interceptors/logging.interceptor.spec.ts
  backend/services/auth-service/src/shared/interceptors/logging.interceptor.ts
  backend/services/auth-service/src/shared/outbox/outbox.service.spec.ts
  backend/services/payments-service/src/shared/guards/jwt-auth.guard.spec.ts
  frontend/apps/website/src/components/Button.tsx
Owners: @meqenet-dev-team, @data-security-specialist, @financial-software-architect, @senior-backend-developer

Enhance component accessibility and add comprehensive accessibility tests
  frontend/libs/shared-ui/src/components/Card.tsx
  frontend/libs/shared-ui/src/components/PaymentPlanCard.test-simple.spec.tsx
  frontend/libs/shared-ui/src/components/PaymentPlanCard.tsx
  frontend/libs/shared-ui/src/components/accessibility.spec.tsx
  frontend/libs/shared-ui/src/test-setup.ts
  frontend/libs/shared-ui/src/test-utils.ts
  frontend/package.json
Owners: @meqenet-dev-team, @financial-software-architect, @senior-mobile-developer, @fintech-devops-engineer, @senior-backend-developer

Replace tfsec with Trivy for Terraform security scanning
  .github/workflows/iac-security-scan.yml
  .github/workflows/infrastructure.yml
Owners: @fintech-devops-engineer, @financial-software-architect

Add Semgrep CLI installation steps to CI workflow
  .github/workflows/ci.yml
Owners: @fintech-devops-engineer, @financial-software-architect

fix: update deprecated GitHub Actions artifact versions to v4
  .github/workflows/artifact-signing-attestation.yml
  .github/workflows/backend-ci.yml
Owners: @fintech-devops-engineer, @financial-software-architect

fix: update deprecated upload-artifact actions from v3/v2 to v4
  .github/workflows/artifact-signing-attestation.yml
  .github/workflows/backend-ci.yml
Owners: @fintech-devops-engineer, @financial-software-architect

fix: update download-artifact action from v3 to v4
  .github/workflows/artifact-signing-attestation.yml
Owners: @fintech-devops-engineer, @financial-software-architect

fix: Update Pact Ruby CLI installation in contract testing workflow
  .github/workflows/contract-testing.yml
Owners: @fintech-devops-engineer, @financial-software-architect

style: code formatting and enterprise-grade quality improvements
  .github/workflows/ci.yml
  .github/workflows/compliance.yml
  .github/workflows/contract-testing.yml
  .github/workflows/infrastructure.yml
  .github/workflows/trivy-iac-scan.yml
  .tfsec/config.yaml
  backend/java-openapi.json
  backend/services/payments-service/deploy/blue-green-deployment.yaml
  backend/services/payments-service/k8s/blue-green-deployment.yaml
  bom.api-gateway.json
  bom.auth-service.json
  docker-compose.e2e.yml
  docker-compose.pact.yml
  docker-compose.staging.yml
  governance/config/config.fintech.yaml
  governance/config/config.yaml
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team

style: code formatting and enterprise-grade quality improvements
  .github/workflows/ci.yml
  .github/workflows/compliance.yml
  .github/workflows/contract-testing.yml
  .github/workflows/infrastructure.yml
  .github/workflows/trivy-iac-scan.yml
  .tfsec/config.yaml
  backend/java-openapi.json
  backend/services/payments-service/deploy/blue-green-deployment.yaml
  backend/services/payments-service/k8s/blue-green-deployment.yaml
  bom.api-gateway.json
  bom.auth-service.json
  docker-compose.e2e.yml
  docker-compose.pact.yml
  docker-compose.staging.yml
  governance/config/config.fintech.yaml
  governance/config/config.yaml
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team

fix(ci): resolve pact-broker binary conflict in contract testing workflow
  .github/workflows/contract-testing.yml
  docs/pact-installation-fix.md
  scripts/test-pact-installation.sh
Owners: @fintech-devops-engineer, @financial-software-architect, @product-manager, @compliance-risk-officer, @meqenet-dev-team

Fix 40+ security issues across API Gateway, RDS, ALB, and IAM
  infrastructure/SECURITY_FIXES_SUMMARY.md
  infrastructure/api_gateway.tf
  infrastructure/database.tf
  infrastructure/events.tf
  infrastructure/load_balancer.tf
  infrastructure/main.tf
  infrastructure/networking.tf
  infrastructure/validate_terraform_fixes.sh
Owners: @fintech-devops-engineer, @financial-software-architect

Fix React Native gradle plugin path resolution for CI and local environments
  .github/workflows/ci.yml
  frontend/apps/app/android/build.gradle
  frontend/apps/app/android/gradlew
  frontend/apps/app/android/settings.gradle
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team

Add E2E tests and ESLint config for authentication endpoints
  backend-e2e/eslint.config.js
  backend-e2e/eslint.config.mjs
  backend-e2e/project.json
  backend-e2e/src/auth.e2e-spec.ts
Owners: @meqenet-dev-team, @data-security-specialist, @financial-software-architect

Implement internationalization (i18n) framework for frontend and backend
  backend/services/auth-service/package.json
  backend/shared/src/i18n/i18n.interceptor.ts
  backend/shared/src/i18n/i18n.middleware.ts
  backend/shared/src/i18n/i18n.module.ts
  backend/shared/src/i18n/i18n.service.ts
  backend/shared/src/i18n/index.ts
  backend/shared/src/locales/am.json
  backend/shared/src/locales/en.json
  docs/I18N_IMPLEMENTATION_GUIDE.md
  frontend/libs/shared-ui/src/components/LanguageSwitcher.tsx
  frontend/libs/shared/src/i18n/index.ts
  frontend/libs/shared/src/i18n/locales/am.json
  frontend/libs/shared/src/i18n/locales/en.json
  frontend/libs/shared/src/i18n/useI18n.tsx
  frontend/package.json
  tasks/tasks.yaml
Owners: @fintech-devops-engineer, @senior-backend-developer, @meqenet-dev-team, @product-manager, @compliance-risk-officer, @financial-software-architect

Implement bilingual error handling and i18n for auth service
  backend/docs/examples/javascript/README.md
  backend/docs/examples/python/README.md
  backend/docs/examples/python/authentication.py
  backend/docs/examples/python/meqenet_client.py
  backend/docs/postman/Meqenet-API-Collection.postman_collection.json
  backend/docs/postman/Meqenet-Local.postman_environment.json
  backend/docs/postman/Meqenet-Staging.postman_environment.json
  backend/docs/postman/README.md
  backend/services/auth-service/docs/I18N_ERROR_HANDLING.md
  backend/services/auth-service/src/features/auth/auth.controller.ts
  backend/services/auth-service/src/features/auth/auth.service.ts
  backend/services/auth-service/src/features/auth/dto/login-user.dto.ts
  backend/services/auth-service/src/features/auth/dto/register-user.dto.ts
  backend/services/auth-service/src/main.ts
  backend/services/auth-service/src/shared/filters/global-exception.filter.ts
  backend/services/auth-service/src/shared/i18n/error-messages.ts
  tasks/tasks.yaml
Owners: @product-manager, @financial-software-architect, @meqenet-dev-team, @data-security-specialist

fix: resolve Generic Object Injection Sink security warnings in Button component
  frontend/apps/website/src/components/Button.tsx
Owners: @meqenet-dev-team

fix: resolve Generic Object Injection Sink security warnings in Button component
  frontend/apps/website/src/components/Button.tsx
Owners: @meqenet-dev-team

test: enhance authentication service and global exception filter test coverage
  backend/services/auth-service/src/features/auth/auth.service.spec.ts
  backend/services/auth-service/src/shared/filters/global-exception.filter.spec.ts
Owners: @data-security-specialist, @financial-software-architect, @meqenet-dev-team

test: enhance authentication service and global exception filter test coverage
  backend/services/auth-service/src/features/auth/auth.service.spec.ts
  backend/services/auth-service/src/shared/filters/global-exception.filter.spec.ts
Owners: @data-security-specialist, @financial-software-architect, @meqenet-dev-team

fix: resolve all TypeScript and linting errors across services
  backend/services/api-gateway/src/idempotency/idempotency.middleware.ts
  backend/services/api-gateway/src/idempotency/redis.service.ts
  backend/services/api-gateway/src/main.ts
  backend/services/api-gateway/src/shared/redis/redis.service.ts
  backend/services/auth-service/src/features/auth/auth.controller.ts
  backend/services/auth-service/src/features/auth/auth.service.ts
  backend/services/auth-service/src/shared/filters/global-exception.filter.ts
  backend/services/auth-service/src/shared/i18n/error-messages.ts
  backend/services/payments-service/src/main.ts
  frontend/libs/shared-ui/src/components/LanguageSwitcher.tsx
  frontend/libs/shared/src/i18n/index.ts
Owners: @meqenet-dev-team, @data-security-specialist, @financial-software-architect

fix: resolve all TypeScript and linting errors across services
  backend/services/api-gateway/src/idempotency/idempotency.middleware.ts
  backend/services/api-gateway/src/idempotency/redis.service.ts
  backend/services/api-gateway/src/main.ts
  backend/services/api-gateway/src/shared/redis/redis.service.ts
  backend/services/auth-service/src/features/auth/auth.controller.ts
  backend/services/auth-service/src/features/auth/auth.service.ts
  backend/services/auth-service/src/shared/filters/global-exception.filter.ts
  backend/services/auth-service/src/shared/i18n/error-messages.ts
  backend/services/payments-service/src/main.ts
  frontend/libs/shared-ui/src/components/LanguageSwitcher.tsx
  frontend/libs/shared/src/i18n/index.ts
Owners: @meqenet-dev-team, @data-security-specialist, @financial-software-architect

fix: resolve TypeScript error in api-gateway Redis service
  backend/services/api-gateway/src/shared/redis/redis.service.ts
Owners: @meqenet-dev-team

fix: resolve TypeScript error in api-gateway Redis service
  backend/services/api-gateway/src/shared/redis/redis.service.ts
Owners: @meqenet-dev-team

fix: reduce verbosity in pre-push hooks and test configuration
  .husky/pre-push
  vitest.config.mjs
Owners: @meqenet-dev-team

fix: reduce verbosity in pre-push hooks and test configuration
  .husky/pre-push
  vitest.config.mjs
Owners: @meqenet-dev-team

fix: resolve remaining TypeScript errors in services
  backend/services/api-gateway/src/shared/redis/redis.service.ts
  backend/services/auth-service/src/shared/filters/global-exception.filter.ts
  backend/services/payments-service/src/dto/create-payment.dto.ts
  backend/services/payments-service/src/main.ts
Owners: @meqenet-dev-team, @financial-software-architect, @data-security-specialist

fix: resolve remaining TypeScript errors in services
  backend/services/api-gateway/src/shared/redis/redis.service.ts
  backend/services/auth-service/src/shared/filters/global-exception.filter.ts
  backend/services/payments-service/src/dto/create-payment.dto.ts
  backend/services/payments-service/src/main.ts
Owners: @meqenet-dev-team, @financial-software-architect, @data-security-specialist

fix: resolve test issues and reduce verbose output
  .husky/pre-push
  backend/services/api-gateway/src/shared/redis/redis.service.ts
  backend/services/auth-service/package.json
  backend/services/auth-service/src/shared/filters/global-exception.filter.ts
  backend/services/payments-service/src/payments.service.spec.ts
  backend/services/payments-service/src/shared/config/throttler.config.ts
  backend/shared/middleware/idempotency.middleware.ts
  package.json
  pnpm-lock.yaml
  scripts/ci-test-setup.js
  test/setup.ts
  vitest.config.mjs
Owners: @meqenet-dev-team, @fintech-devops-engineer, @senior-backend-developer, @financial-software-architect, @data-security-specialist
