Repository MakeMoneyOnly/Meqenet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @meqenet-dev-team, @data-security-specialist, @financial-software-architect, @senior-backend-developer, @data-scientist-ml, @compliance-risk-officer, @fintech-devops-engineer, @marketplace-merchant-manager, @product-manager, @analytics-bi-specialist, @senior-mobile-developer, @ux-designer, @financial-qa-specialist

chore: initial commit of Meqenet project
  .husky/pre-push
  0)
  backend-e2e/jest.config.cjs
  backend-e2e/jest.config.ts
  backend-e2e/project.json
  backend-e2e/src/support/global-setup.cjs
  backend-e2e/src/support/global-setup.ts
  backend-e2e/src/support/global-teardown.cjs
  backend/services/api-gateway/Dockerfile
  backend/services/api-gateway/jest.config.ts
  backend/services/api-gateway/package.json
  backend/services/api-gateway/src/app/app.controller.spec.ts
  backend/services/api-gateway/src/app/app.controller.ts
  backend/services/api-gateway/src/app/app.module.ts
  backend/services/api-gateway/src/main.ts
  backend/services/api-gateway/tsconfig.json
  backend/services/api-gateway/tsconfig.spec.json
  jest.config.cjs
  jest.preset.ts
  package.json
  pnpm-lock.yaml
  tasks/App_Progress.md
  tasks/Master_Progress.md
  tasks/README.md
  tasks/Website_Progress.md
  tasks/tasks.yaml
  tasks/update_progress.py
  templates/microservice/{{cookiecutter.service_slug}}/package.json
  tools/jest-transform-stub.cjs
Owners: @meqenet-dev-team, @senior-backend-developer, @financial-qa-specialist, @fintech-devops-engineer, @financial-software-architect, @product-manager

chore(ci): refine trufflehog secret scan to git mode
  package.json
Owners: @fintech-devops-engineer, @senior-backend-developer

build: exclude test files from service build tsconfig
  backend/services/api-gateway/tsconfig.json
  backend/services/auth-service/tsconfig.json
Owners: @financial-software-architect, @senior-backend-developer

build: add @types/compression to fix build error
  package.json
  pnpm-lock.yaml
Owners: @fintech-devops-engineer, @senior-backend-developer, @meqenet-dev-team

fix(auth-service): use proper default import for compression middleware
  backend/services/auth-service/src/main.ts
Owners: @meqenet-dev-team

chore(ci): skip diff-based compliance checks on first push
  .husky/pre-push
Owners: @meqenet-dev-team

chore(lint): point eslint to tsconfig.eslint.json for type-aware linting
  eslint.config.js
Owners: @meqenet-dev-team

ci(fintech): enforce test & security measures as hard fail in pre-push
  .husky/pre-push
Owners: @meqenet-dev-team

ci(fintech): restrict financial-change detection to source files
  .husky/pre-push
Owners: @meqenet-dev-team

ci(fintech): fix financial-change detection in pre-push hook
  .husky/pre-push
Owners: @meqenet-dev-team

chore(ci): update pre-push hook to allow 'build' and 'ci' commit types
  .husky/pre-push
Owners: @meqenet-dev-team

build(docker): optimize Dockerfiles for pnpm workspaces
  backend/services/api-gateway/Dockerfile
  backend/services/auth-service/Dockerfile
Owners: @meqenet-dev-team

fix(docker): add .dockerignore to services
  backend/services/api-gateway/.dockerignore
  backend/services/auth-service/.dockerignore
Owners: @meqenet-dev-team

feat: security and build improvements
  .audit-ci.json
  .gitignore
  backend/services/api-gateway/Dockerfile
  backend/services/api-gateway/package.json
  backend/services/api-gateway/src/app/app.controller.ts
  backend/services/api-gateway/src/app/app.module.ts
  backend/services/api-gateway/src/main.ts
  backend/services/auth-service/Dockerfile
  backend/services/auth-service/package.json
  backend/services/auth-service/src/app/app.module.ts
  backend/services/auth-service/src/main.ts
  backend/services/auth-service/src/shared/utils/fayda-encryption.util.ts
  backend/services/auth-service/tsconfig.eslint.json
  backend/services/auth-service/tsconfig.json
  docker-compose.yml
  docs/DOCKER_BUILDKIT_BAKE.md
  eslint.config.js
  package.json
  pnpm-lock.yaml
  scripts/dev-setup.sh
  scripts/docker-win.bat
  tsconfig.base.json
  tsconfig.eslint.json
Owners: @meqenet-dev-team, @fintech-devops-engineer, @senior-backend-developer, @data-security-specialist, @financial-software-architect, @product-manager, @compliance-risk-officer

fix: supertest import issue
  .nx/workspace-data/eslint-2654242865465226088.hash
  .nx/workspace-data/jest-7930610538513362720.hash
  .nx/workspace-data/lockfile.hash
  .nx/workspace-data/nx_files.nxt
  .nx/workspace-data/parsed-lock-file.json
  .nx/workspace-data/project-graph.json
  .nx/workspace-data/source-maps.json
  backend-e2e/jest.config.cjs
  backend-e2e/src/api-gateway/api-gateway.spec.ts
  backend-e2e/src/support/global-setup.cjs
  backend/services/api-gateway/src/app/app.controller.spec.ts
  backend/services/api-gateway/src/main.ts
Owners: @meqenet-dev-team, @senior-backend-developer, @financial-qa-specialist

feat: implement comprehensive CI/CD security pipeline with SBOM precision improvements
  .audit-ci.json
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/security.yml
  1. docs/CICD_SECURITY_SOP.md
  backend/services/api-gateway/src/main.ts
  backend/services/auth-service/src/shared/utils/fayda-encryption.util.ts
  bom.json
  docs/DOCKER_BUILDKIT_BAKE.md
  package.json
  pnpm-workspace.yaml
  tsconfig.eslint.json
Owners: @meqenet-dev-team, @fintech-devops-engineer, @financial-software-architect, @data-security-specialist, @product-manager, @compliance-risk-officer, @senior-backend-developer

fix(tests): Resolve E2E test failures and add E2E infrastructure planning
  2. tasks/tasks.yaml
  backend-e2e/src/api-gateway/api-gateway.spec.ts
  backend/services/api-gateway/src/app/app.controller.ts
Owners: @product-manager, @financial-software-architect, @meqenet-dev-team

feat(FND-BE-DB-01): Integrate Prisma ORM, configure database connection URLs via environment variables.
  .nx/workspace-data/eslint-2654242865465226088.hash
  .nx/workspace-data/file-map.json
  .nx/workspace-data/project-graph.json
  1. docs/REVIEWERS.md
  1. docs/REVIEW_CHECKLIST.md
  tasks/tasks.yaml
  tools/git/git-automation.py
Owners: @meqenet-dev-team, @product-manager, @financial-software-architect

feat(dev-tools): enhance git automation script with self-healing and safety checks
  .nx/workspace-data/eslint-2654242865465226088.hash
  .nx/workspace-data/file-map.json
  .nx/workspace-data/project-graph.json
  tasks/tasks.yaml
  tools/git/git-automation.py
Owners: @meqenet-dev-team, @product-manager, @financial-software-architect

chore: fix Husky pre-commit and enforce line endings with .gitattributes
  .gitattributes
  .husky/pre-commit
Owners: @meqenet-dev-team

chore(nx): update workspace data files
  .nx/workspace-data/eslint-2654242865465226088.hash
  .nx/workspace-data/file-map.json
  .nx/workspace-data/project-graph.json
Owners: @meqenet-dev-team

chore(nx): update all workspace data files
  .nx/workspace-data/d/server-process.json
  .nx/workspace-data/eslint-2654242865465226088.hash
  .nx/workspace-data/file-map.json
  .nx/workspace-data/jest-7930610538513362720.hash
  .nx/workspace-data/lockfile.hash
  .nx/workspace-data/nx_files.nxt
  .nx/workspace-data/parsed-lock-file.json
  .nx/workspace-data/project-graph.json
  .nx/workspace-data/source-maps.json
  .nx/workspace-data/webpack-5621830741124012108.hash
Owners: @meqenet-dev-team

chore: add git automation tool and documentation
  tools/git/README.md
  tools/git/git-automation.py
  tools/git/requirements.txt
Owners: @product-manager, @financial-software-architect, @meqenet-dev-team

chore(nx): update workspace data after tasks/ directory migration
  .nx/workspace-data/eslint-2654242865465226088.hash
  .nx/workspace-data/file-map.json
  .nx/workspace-data/project-graph.json
Owners: @meqenet-dev-team

chore: remove old 2. tasks directory and migrate to tasks/
  2. tasks/App_Progress.md
  2. tasks/Master_Progress.md
  2. tasks/Website_Progress.md
  tasks/README.md
  tasks/tasks.yaml
  tasks/update_progress.py
Owners: @meqenet-dev-team, @product-manager, @financial-software-architect, @fintech-devops-engineer

chore: ignore Nx workspace-data cache files
  .gitignore
  .nx/workspace-data/d/server-process.json
  .nx/workspace-data/eslint-2654242865465226088.hash
  .nx/workspace-data/file-map.json
  .nx/workspace-data/jest-7930610538513362720.hash
  .nx/workspace-data/lockfile.hash
  .nx/workspace-data/nx_files.nxt
  .nx/workspace-data/parsed-lock-file.json
  .nx/workspace-data/project-graph.json
  .nx/workspace-data/source-maps.json
  .nx/workspace-data/webpack-5621830741124012108.hash
Owners: @fintech-devops-engineer, @meqenet-dev-team

chore: stage relevant files before rebase (auto-commit for rebase retry)
  tasks/tasks.yaml
  test_e2e.md
  tools/git/git-automation.py
Owners: @product-manager, @financial-software-architect, @meqenet-dev-team

chore: remove .nx/workspace-data from git tracking (auto-clean for CI and rebase)
  .nx/workspace-data/74e3e326-5f3c-4702-9545-df13ac90a9f4.db-shm
  .nx/workspace-data/74e3e326-5f3c-4702-9545-df13ac90a9f4.db-wal
  .nx/workspace-data/d/server-process.json
  .nx/workspace-data/eslint-2654242865465226088.hash
  .nx/workspace-data/file-map.json
  .nx/workspace-data/jest-7930610538513362720.hash
  .nx/workspace-data/lockfile.hash
  .nx/workspace-data/nx_files.nxt
  .nx/workspace-data/parsed-lock-file.json
  .nx/workspace-data/project-graph.json
  .nx/workspace-data/source-maps.json
  .nx/workspace-data/webpack-5621830741124012108.hash
Owners: @meqenet-dev-team

chore: ignore Nx .nx directory and remove from tracking
  .gitignore
  .nx/workspace-data/eslint-2654242865465226088.hash
  .nx/workspace-data/file-map.json
  .nx/workspace-data/jest-7930610538513362720.hash
  .nx/workspace-data/lockfile.hash
  .nx/workspace-data/nx_files.nxt
  .nx/workspace-data/parsed-lock-file.json
  .nx/workspace-data/project-graph.json
  .nx/workspace-data/source-maps.json
  .nx/workspace-data/webpack-5621830741124012108.hash
Owners: @fintech-devops-engineer, @meqenet-dev-team

feat: update git automation and related files for robust branch creation
  .gitignore
  backend-e2e/src/api-gateway/api-gateway.spec.ts
  package.json
  pnpm-lock.yaml
  tools/git/git-automation.py
Owners: @fintech-devops-engineer, @meqenet-dev-team, @senior-backend-developer

chore: update package.json after environment restore
  package.json
Owners: @fintech-devops-engineer, @senior-backend-developer

fix: ignore untracked ignored files (like .nx/) in clean working directory check
  tools/git/git-automation.py
Owners: @meqenet-dev-team

fix: handle existing local branches gracefully in checkout_branch
  tools/git/git-automation.py
Owners: @meqenet-dev-team

fix: use robust local branch existence check in checkout_branch
  tools/git/git-automation.py
Owners: @meqenet-dev-team

fix: handle existing local feature branches gracefully in start_task
  tools/git/git-automation.py
Owners: @meqenet-dev-team

feat(FND-BE-DB-01): Integrate Prisma ORM, configure database connection URLs via environment variables.
  .github/test.md
  .nx/workspace-data/d/disabled
  .nx/workspace-data/eslint-2654242865465226088.hash
  .nx/workspace-data/file-map.json
  .nx/workspace-data/jest-7930610538513362720.hash
  .nx/workspace-data/lockfile.hash
  .nx/workspace-data/nx_files.nxt
  .nx/workspace-data/parsed-lock-file.json
  .nx/workspace-data/project-graph.json
  .nx/workspace-data/source-maps.json
  .nx/workspace-data/webpack-5621830741124012108.hash
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team

chore(FND-BE-DB-01): update task status to In Review
  tasks/tasks.yaml
Owners: @product-manager, @financial-software-architect

fix: ensure in-place task status update in tasks.yaml for robust workflow
  tools/git/git-automation.py
Owners: @meqenet-dev-team

fix(tasks): Deduplicate tasks.yaml to resolve linting errors
  tasks/tasks.yaml
Owners: @product-manager, @financial-software-architect

chore: Untrack .nx directory and update .gitignore
  .gitignore
  .nx/workspace-data/d/disabled
  .nx/workspace-data/eslint-2654242865465226088.hash
  .nx/workspace-data/file-map.json
  .nx/workspace-data/jest-7930610538513362720.hash
  .nx/workspace-data/lockfile.hash
  .nx/workspace-data/nx_files.nxt
  .nx/workspace-data/parsed-lock-file.json
  .nx/workspace-data/project-graph.json
  .nx/workspace-data/source-maps.json
  .nx/workspace-data/webpack-5621830741124012108.hash
Owners: @fintech-devops-engineer, @meqenet-dev-team

.github/CODEOWNERS:

# CODEOWNERS for Meqenet.et BNPL Platform
# This file defines code ownership for the Ethiopian FinTech platform
# Each line represents a file pattern followed by one or more owners
# Owners are notified when pull requests are opened that modify these files

# Global Rules - All team members are responsible for general code quality
* @meqenet-dev-team

# ==========================================
# CRITICAL FINANCIAL SERVICES (High Security)
# ==========================================

# Authentication & Security Service (Zero Trust Architecture)
/services/auth-service/ @data-security-specialist @financial-software-architect
/packages/auth/ @data-security-specialist @financial-software-architect

# Core BNPL Service (All 4 Payment Options)
/services/bnpl-service/ @financial-software-architect @senior-backend-developer
/packages/bnpl/ @financial-software-architect @senior-backend-developer

# Credit Assessment & Scoring (AI/ML + Compliance)
/services/credit-service/ @data-scientist-ml @compliance-risk-officer
/packages/credit/ @data-scientist-ml @compliance-risk-officer

# KYC Verification (Fayda National ID + NBE Compliance)
/services/kyc-service/ @compliance-risk-officer @data-security-specialist
/packages/kyc/ @compliance-risk-officer @data-security-specialist

# Settlement Processing (Merchant Payments)
/services/settlements-service/ @financial-software-architect @senior-backend-developer
/packages/settlements/ @financial-software-architect @senior-backend-developer

# Payment Gateway Integrations (Ethiopian Providers)
/services/payments-service/ @senior-backend-developer @fintech-devops-engineer
/packages/payments/ @senior-backend-developer @fintech-devops-engineer

# ==========================================
# MARKETPLACE & COMMERCE SERVICES
# ==========================================

# Merchant Marketplace Platform
/services/marketplace-service/ @marketplace-merchant-manager @senior-backend-developer
/packages/marketplace/ @marketplace-merchant-manager @senior-backend-developer

# Product Catalog & Search
/services/products-service/ @marketplace-merchant-manager @senior-backend-developer
/packages/products/ @marketplace-merchant-manager @senior-backend-developer

# Order Management & Fulfillment
/services/orders-service/ @marketplace-merchant-manager @senior-backend-developer
/packages/orders/ @marketplace-merchant-manager @senior-backend-developer

# ==========================================
# CUSTOMER EXPERIENCE SERVICES
# ==========================================

# Rewards & Cashback Engine
/services/rewards-service/ @product-manager @senior-backend-developer
/packages/rewards/ @product-manager @senior-backend-developer

# Premium Subscription (Meqenet Plus)
/services/premium-service/ @product-manager @senior-backend-developer
/packages/premium/ @product-manager @senior-backend-developer

# Analytics & Business Intelligence
/services/analytics-service/ @analytics-bi-specialist @data-scientist-ml
/packages/analytics/ @analytics-bi-specialist @data-scientist-ml

# Virtual Cards (High Security)
/services/virtual-cards-service/ @data-security-specialist @senior-backend-developer
/packages/virtual-cards/ @data-security-specialist @senior-backend-developer

# QR Payments (Mobile-First)
/services/qr-payments-service/ @senior-mobile-developer @senior-backend-developer
/packages/qr-payments/ @senior-mobile-developer @senior-backend-developer

# ==========================================
# FRONTEND APPLICATIONS
# ==========================================

# Website (Next.js PWA)
/apps/website/ @senior-mobile-developer @ux-designer
/packages/web-ui/ @senior-mobile-developer @ux-designer

# Mobile App (React Native)
/apps/mobile/ @senior-mobile-developer @ux-designer
/packages/mobile-ui/ @senior-mobile-developer @ux-designer

# Shared UI Components & Design System
/packages/shared-ui/ @senior-mobile-developer @ux-designer
/packages/design-system/ @senior-mobile-developer @ux-designer

# Browser Extension
/apps/browser-extension/ @senior-mobile-developer @senior-backend-developer

# ==========================================
# INFRASTRUCTURE & DEVOPS
# ==========================================

# Infrastructure as Code (Terraform)
/infrastructure/ @fintech-devops-engineer @financial-software-architect
/terraform/ @fintech-devops-engineer @financial-software-architect

# Container Configurations
/docker/ @fintech-devops-engineer
/dockerfiles/ @fintech-devops-engineer
/k8s/ @fintech-devops-engineer @financial-software-architect

# CI/CD Pipelines
/.github/ @fintech-devops-engineer @financial-software-architect
/.gitlab-ci.yml @fintech-devops-engineer @financial-software-architect

# Monitoring & Observability
/monitoring/ @fintech-devops-engineer @senior-backend-developer
/grafana/ @fintech-devops-engineer @analytics-bi-specialist

# ==========================================
# DOCUMENTATION & COMPLIANCE
# ==========================================

# Core Documentation
/docs/ @product-manager @compliance-risk-officer

# Security Documentation (High Sensitivity)
/docs/Stage\ 1\ -\ Foundation/07-Security.md @data-security-specialist @compliance-risk-officer

# Compliance Framework (NBE Regulations)
/docs/Stage\ 1\ -\ Foundation/05-Compliance_Framework.md @compliance-risk-officer

# API Documentation & Governance
/docs/Stage\ 1\ -\ Foundation/02-API_Specification_and_Governance.md @financial-software-architect @senior-backend-developer

# Architecture Documentation
/docs/Stage\ 1\ -\ Foundation/08-Architecture.md @financial-software-architect

# Business Model & Financial Logic
/docs/Stage\ 1\ -\ Foundation/03-Business_Model.md @product-manager @financial-software-architect

# ==========================================
# ETHIOPIAN-SPECIFIC INTEGRATIONS
# ==========================================

# Fayda National ID Integration (KYC)
**/fayda-integration/ @compliance-risk-officer @senior-backend-developer
**/fayda/ @compliance-risk-officer @senior-backend-developer

# Telebirr Payment Integration
**/telebirr-integration/ @senior-backend-developer @fintech-devops-engineer
**/telebirr/ @senior-backend-developer @fintech-devops-engineer

# Ethiopian Payment Gateways
**/chapa/ @senior-backend-developer @fintech-devops-engineer
**/santimpay/ @senior-backend-developer @fintech-devops-engineer
**/arifpay/ @senior-backend-developer @fintech-devops-engineer
**/hellocash/ @senior-backend-developer @fintech-devops-engineer

# Amharic Localization
**/amharic-localization/ @ux-designer @senior-mobile-developer
**/i18n/am/ @ux-designer @senior-mobile-developer
**/locales/am/ @ux-designer @senior-mobile-developer

# ==========================================
# FINANCIAL LOGIC (HIGHEST SECURITY)
# ==========================================

# Payment Processing Logic
**/*payment*.ts @financial-software-architect @data-security-specialist
**/*payment*.js @financial-software-architect @data-security-specialist
**/*Payment*.tsx @financial-software-architect @senior-mobile-developer

# Interest Rate Calculations
**/*interest*.ts @financial-software-architect @compliance-risk-officer
**/*interest*.js @financial-software-architect @compliance-risk-officer
**/*Interest*.tsx @financial-software-architect @ux-designer

# Loan Management Logic
**/*loan*.ts @financial-software-architect @senior-backend-developer
**/*loan*.js @financial-software-architect @senior-backend-developer
**/*Loan*.tsx @financial-software-architect @senior-mobile-developer

# Credit Scoring & Assessment
**/*credit*.ts @data-scientist-ml @compliance-risk-officer
**/*credit*.js @data-scientist-ml @compliance-risk-officer
**/*Credit*.tsx @data-scientist-ml @ux-designer

# Financial Calculations & Utilities
**/*calculation*.ts @financial-software-architect @data-security-specialist
**/*financial*.ts @financial-software-architect @compliance-risk-officer
**/*currency*.ts @financial-software-architect @senior-backend-developer

# ==========================================
# SECURITY-SENSITIVE FILES
# ==========================================

# Cryptography & Encryption
**/*crypto*.ts @data-security-specialist @financial-software-architect
**/*encryption*.ts @data-security-specialist @financial-software-architect
**/*security*.ts @data-security-specialist @financial-software-architect

# Authentication & Authorization
**/*auth*.ts @data-security-specialist @financial-software-architect
**/*jwt*.ts @data-security-specialist @senior-backend-developer
**/*session*.ts @data-security-specialist @senior-backend-developer

# Database Schemas (Financial Data)
**/schema.prisma @financial-software-architect @data-security-specialist
**/migrations/ @financial-software-architect @senior-backend-developer

# Environment & Configuration Files
**/.env* @fintech-devops-engineer @data-security-specialist
**/config/ @fintech-devops-engineer @financial-software-architect

# ==========================================
# SPECIAL FILES & CONFIGURATIONS
# ==========================================

# Repository Configuration
.gitignore @fintech-devops-engineer
.cursorrules @financial-software-architect @data-security-specialist
CONTRIBUTING.md @product-manager @financial-software-architect
README.md @product-manager @financial-software-architect
LICENSE @compliance-risk-officer @product-manager

# Package Management
package.json @fintech-devops-engineer @senior-backend-developer
package-lock.json @fintech-devops-engineer @senior-backend-developer
yarn.lock @fintech-devops-engineer @senior-backend-developer

# TypeScript Configuration
tsconfig.json @financial-software-architect @senior-backend-developer
tsconfig.*.json @financial-software-architect @senior-backend-developer

# Linting & Code Quality
.eslintrc* @financial-software-architect @senior-backend-developer
.prettierrc* @financial-software-architect @senior-mobile-developer
jest.config* @senior-backend-developer @financial-qa-specialist

# ==========================================
# TASK MANAGEMENT & PROJECT COORDINATION
# ==========================================

# Task Management System
/tasks/ @product-manager @financial-software-architect
tasks.yaml @product-manager @financial-software-architect
update_progress.py @product-manager @fintech-devops-engineer

# ==========================================
# COMPLIANCE & AUDIT REQUIREMENTS
# ==========================================

# Any changes to financial logic, security implementations, or Ethiopian regulatory compliance
# require additional review from compliance officers and security specialists.
# 
# For NBE audit purposes, all changes to payment processing, interest calculations,
# and customer data handling must maintain a complete audit trail with proper approvals.
#
# Emergency security patches may bypass some approval requirements but require
# post-deployment review within 24 hours.
