Repository MakeMoneyOnly/Meqenet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @meqenet-dev-team, @data-security-specialist, @financial-software-architect, @senior-backend-developer, @data-scientist-ml, @compliance-risk-officer, @fintech-devops-engineer, @marketplace-merchant-manager, @product-manager, @analytics-bi-specialist, @senior-mobile-developer, @ux-designer, @financial-qa-specialist

fix: resolve test issues and reduce verbose output
  .husky/pre-push
  backend/services/api-gateway/src/shared/redis/redis.service.ts
  backend/services/auth-service/package.json
  backend/services/auth-service/src/shared/filters/global-exception.filter.ts
  backend/services/payments-service/src/payments.service.spec.ts
  backend/services/payments-service/src/shared/config/throttler.config.ts
  backend/shared/middleware/idempotency.middleware.ts
  package.json
  pnpm-lock.yaml
  scripts/ci-test-setup.js
  test/setup.ts
  vitest.config.mjs
Owners: @meqenet-dev-team, @fintech-devops-engineer, @senior-backend-developer, @financial-software-architect, @data-security-specialist

Enhance security: Remove HTTP, update ACM, enforce Log4j protection
  infrastructure/load_balancer.tf
  infrastructure/main.tf
Owners: @fintech-devops-engineer, @financial-software-architect

Switch from npm to pnpm and add Next.js scripts in website package.json
  .github/workflows/pwa-compliance.yml
  frontend/apps/website/package.json
Owners: @fintech-devops-engineer, @financial-software-architect, @senior-backend-developer

feat: Fix CI/CD security issue - Remove deprecated i18n backend
  -backend causing GHSA-9c47-m6qq-7p4h vulnerability
  backend/services/auth-service/src/shared/filters/global-exception.filter.ts
  docs/Stage 1 - Foundation/ADR-2025-09-03-i18n-backend-remediation.md
  governance/CFO/dashboard.py
  governance/CRO/FRAUD_AND_OPERATIONAL_RISK_POLICY.md
  governance/CTO/README.md
  package.json
  pnpm-lock.yaml
  scripts/generate_feature.py
  tasks/tasks.yaml
Owners: @meqenet-dev-team, @product-manager, @compliance-risk-officer, @financial-software-architect, @fintech-devops-engineer, @senior-backend-developer

feat: Fix CI/CD security issue - Remove deprecated i18n backend
  -backend causing GHSA-9c47-m6qq-7p4h vulnerability
  backend/services/auth-service/src/shared/filters/global-exception.filter.ts
  docs/Stage 1 - Foundation/ADR-2025-09-03-i18n-backend-remediation.md
  governance/CFO/dashboard.py
  governance/CRO/FRAUD_AND_OPERATIONAL_RISK_POLICY.md
  governance/CTO/README.md
  package.json
  pnpm-lock.yaml
  scripts/generate_feature.py
  tasks/tasks.yaml
Owners: @meqenet-dev-team, @product-manager, @compliance-risk-officer, @financial-software-architect, @fintech-devops-engineer, @senior-backend-developer

Enhance security, observability, and CORS configuration in auth service
  backend/services/auth-service/src/main.ts
  backend/services/auth-service/src/shared/config/pino.config.ts
  backend/services/auth-service/src/shared/health/health.controller.ts
  backend/services/auth-service/src/shared/observability/otel.ts
Owners: @meqenet-dev-team, @fintech-devops-engineer, @financial-software-architect

Disable x-powered-by header using http adapter for better security
  backend/services/auth-service/src/main.ts
Owners: @meqenet-dev-team

Improve Prisma client path detection with multiple fallback locations
  scripts/ci-test-setup.js
Owners: @meqenet-dev-team

Enhance security: HTTPS-only, ACM cert, WAF rules, and S3 cross-region replication
  infrastructure/load_balancer.tf
  infrastructure/main.tf
Owners: @fintech-devops-engineer, @financial-software-architect

Simplify pnpm installation across workflows using Corepack
  .github/workflows/financial-model-bias-testing.yml
  .github/workflows/infrastructure.yml
  .github/workflows/monitoring.yml
  .github/workflows/performance.yml
  .github/workflows/security.yml
Owners: @fintech-devops-engineer, @financial-software-architect

Enhance error handling, metrics, and security workflows for auth service
  .github/workflows/security.yml
  backend/services/auth-service/src/main.ts
  backend/services/auth-service/src/shared/filters/global-exception.filter.ts
  backend/services/auth-service/src/shared/interceptors/latency-metrics.interceptor.ts
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team

Add security monitoring metrics for auth login and register flows
  backend/services/auth-service/src/features/auth/auth.service.ts
  backend/services/auth-service/src/shared/services/security-monitoring.service.ts
Owners: @data-security-specialist, @financial-software-architect

Enhance error handling and add request metrics tracking
  backend/services/auth-service/src/shared/filters/global-exception.filter.ts
  backend/services/auth-service/src/shared/interceptors/latency-metrics.interceptor.ts
Owners: @meqenet-dev-team

Enhance JWT auth with secret manager and add request tracing middleware
  backend/services/auth-service/src/features/auth/auth.module.ts
  backend/services/auth-service/src/main.ts
Owners: @data-security-specialist, @financial-software-architect, @meqenet-dev-team

Mark `/auth/register` task as completed in tasks.yaml
  tasks/tasks.yaml
Owners: @product-manager, @financial-software-architect

Enhance JWT key management with rotation, JWKS, and health checks
  backend/services/auth-service/src/shared/health/health.controller.ts
  backend/services/auth-service/src/shared/services/secret-manager.service.ts
  backend/services/auth-service/src/shared/services/security-monitoring.service.ts
Owners: @meqenet-dev-team, @data-security-specialist, @financial-software-architect

Implement configurable bcrypt salt rounds and public auth routes
  backend/services/auth-service/src/features/auth/auth.controller.ts
  backend/services/auth-service/src/features/auth/auth.service.ts
  tasks/tasks.yaml
Owners: @data-security-specialist, @financial-software-architect, @product-manager

Add security workflows and enhance logging redaction config
  .github/workflows/openapi-drift.yml
  .github/workflows/sbom-trivy.yml
  backend/services/auth-service/src/shared/config/pino.config.ts
Owners: @fintech-devops-engineer, @financial-software-architect

Implement secure JWT refresh with RSA key rotation and validation
  backend/services/auth-service/src/features/auth/auth.controller.ts
  backend/services/auth-service/src/features/auth/auth.module.ts
  backend/services/auth-service/src/features/auth/auth.service.ts
  backend/services/auth-service/src/features/auth/dto/refresh-token.dto.ts
  pnpm-lock.yaml
  tasks/tasks.yaml
Owners: @data-security-specialist, @financial-software-architect, @meqenet-dev-team, @product-manager

Implement password reset and add login attempt tracking with lockout
  backend/services/auth-service/src/features/auth/auth.controller.ts
  backend/services/auth-service/src/features/auth/auth.service.ts
  backend/services/auth-service/src/shared/config/app.config.ts
Owners: @data-security-specialist, @financial-software-architect, @fintech-devops-engineer

Enhance OpenAPI drift detection workflow with validation and comparison
  .github/workflows/openapi-drift.yml
Owners: @fintech-devops-engineer, @financial-software-architect

Implement MFA, RBAC, JWT strategy, and user profile endpoint
  backend/services/auth-service/src/app/app.module.ts
  backend/services/auth-service/src/features/auth/auth.controller.ts
  backend/services/auth-service/src/features/auth/auth.module.ts
  backend/services/auth-service/src/features/auth/auth.service.ts
  backend/services/auth-service/src/features/auth/dto/request-otp.dto.ts
  backend/services/auth-service/src/features/auth/dto/verify-otp.dto.ts
  backend/services/auth-service/src/features/auth/mfa.controller.ts
  backend/services/auth-service/src/features/auth/mfa.service.ts
  backend/services/auth-service/src/features/user/user.controller.ts
  backend/services/auth-service/src/features/user/user.module.ts
  backend/services/auth-service/src/features/user/user.service.ts
  backend/services/auth-service/src/shared/decorators/roles.decorator.ts
  backend/services/auth-service/src/shared/dlq/dlq.controller.ts
  backend/services/auth-service/src/shared/guards/roles.guard.ts
  backend/services/auth-service/src/shared/strategies/jwt.strategy.ts
  tasks/tasks.yaml
Owners: @meqenet-dev-team, @data-security-specialist, @financial-software-architect, @senior-backend-developer, @product-manager

Refactor security, CORS, and logging configs with enhanced validation
  .github/workflows/license-secrets.yml
  backend/services/auth-service/src/app/app.module.ts
  backend/services/auth-service/src/main.ts
  backend/services/auth-service/src/shared/config/cors.config.ts
  backend/services/auth-service/src/shared/config/logger.config.ts
  backend/services/auth-service/src/shared/config/security.config.ts
  backend/services/auth-service/src/shared/middleware/access-log.middleware.ts
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team

Enhance security and logging with configurable CORS, CSP, and license checks
  .github/license-allowlist.json
  .github/workflows/license-secrets.yml
  backend/services/auth-service/src/main.ts
  backend/services/auth-service/src/shared/middleware/access-log.middleware.ts
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team

Add diagnostics endpoint to expose sanitized configuration details
  backend/services/auth-service/src/shared/controllers/diagnostics.controller.ts
  backend/services/auth-service/src/shared/shared.module.ts
Owners: @meqenet-dev-team

Add configurable route-specific logging sampling rates
  backend/services/auth-service/src/shared/middleware/access-log.middleware.ts
Owners: @meqenet-dev-team

Add Permissions-Policy header configuration support
  backend/services/auth-service/src/main.ts
Owners: @meqenet-dev-team

Add config-driven settings with Zod validation for app configuration
  backend/services/auth-service/README.md
Owners: @product-manager, @financial-software-architect

Fix auth service tests: 18 failing → 0 failing tests
  backend/services/auth-service/src/features/auth/auth.controller.integration.spec.ts
  backend/services/auth-service/src/features/auth/auth.e2e.spec.ts
  backend/services/auth-service/src/features/auth/auth.service.spec.ts
  backend/services/auth-service/src/features/auth/auth.service.ts
  backend/services/auth-service/src/features/auth/dto/password-reset-confirm.dto.spec.ts
  backend/services/auth-service/src/features/auth/dto/password-reset-request.dto.spec.ts
  backend/services/auth-service/src/shared/filters/global-exception.filter.spec.ts
  backend/services/auth-service/src/shared/services/email.service.spec.ts
  backend/services/auth-service/src/shared/services/password-reset-token.service.spec.ts
  backend/services/auth-service/test/setup.ts
  backend/services/auth-service/test/vitest-e2e.config.ts
  backend/services/auth-service/test/vitest-integration.config.ts
  package.json
  pnpm-lock.yaml
Owners: @data-security-specialist, @financial-software-architect, @meqenet-dev-team, @fintech-devops-engineer, @senior-backend-developer

Fix auth service tests: 18 failing → 0 failing tests
  backend/services/auth-service/src/features/auth/auth.controller.integration.spec.ts
  backend/services/auth-service/src/features/auth/auth.e2e.spec.ts
  backend/services/auth-service/src/features/auth/auth.service.spec.ts
  backend/services/auth-service/src/features/auth/auth.service.ts
  backend/services/auth-service/src/features/auth/dto/password-reset-confirm.dto.spec.ts
  backend/services/auth-service/src/features/auth/dto/password-reset-request.dto.spec.ts
  backend/services/auth-service/src/shared/filters/global-exception.filter.spec.ts
  backend/services/auth-service/src/shared/services/email.service.spec.ts
  backend/services/auth-service/src/shared/services/password-reset-token.service.spec.ts
  backend/services/auth-service/test/setup.ts
  backend/services/auth-service/test/vitest-e2e.config.ts
  backend/services/auth-service/test/vitest-integration.config.ts
  package.json
  pnpm-lock.yaml
Owners: @data-security-specialist, @financial-software-architect, @meqenet-dev-team, @fintech-devops-engineer, @senior-backend-developer

fix: resolve CI/CD pipeline errors and enhance security
  .github/workflows/ci.yml
  .github/workflows/contract-testing.yml
  .prettierignore
  SECURITY_TOOLS_README.md
  backend/services/auth-service/prisma/schema.prisma
  backend/services/auth-service/src/features/user/user.controller.ts
  backend/services/auth-service/src/features/user/user.service.ts
  docs/CICD_SECURITY_IMPLEMENTATION.md
  frontend/apps/app/android/build.gradle
  frontend/apps/app/android/settings.gradle
  in user service
  package.json
  scripts/ci-test-setup.js
  scripts/verify-codeql-results.js
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team, @data-security-specialist, @product-manager, @compliance-risk-officer, @senior-backend-developer

fix: resolve CI/CD pipeline errors and enhance security
  .github/workflows/ci.yml
  .github/workflows/contract-testing.yml
  .prettierignore
  SECURITY_TOOLS_README.md
  backend/services/auth-service/prisma/schema.prisma
  backend/services/auth-service/src/features/user/user.controller.ts
  backend/services/auth-service/src/features/user/user.service.ts
  docs/CICD_SECURITY_IMPLEMENTATION.md
  frontend/apps/app/android/build.gradle
  frontend/apps/app/android/settings.gradle
  in user service
  package.json
  scripts/ci-test-setup.js
  scripts/verify-codeql-results.js
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team, @data-security-specialist, @product-manager, @compliance-risk-officer, @senior-backend-developer

feat: Complete enterprise-grade CodeQL security analysis implementation
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
  .husky/pre-commit
  .lintstagedrc.js
  .prettierignore
  .trufflehogignore
  backend/services/auth-service/src/features/auth/auth.controller.ts
  backend/services/auth-service/src/features/auth/mfa.service.ts
  backend/services/auth-service/src/main.ts
  backend/services/auth-service/src/shared/config/app.config.ts
  backend/services/auth-service/src/shared/config/pino.config.ts
  backend/services/auth-service/src/shared/config/redis.config.ts
  backend/services/auth-service/src/shared/config/security.config.ts
  backend/services/auth-service/src/shared/dlq/dlq.service.ts
  backend/services/auth-service/src/shared/health/health.controller.ts
  backend/services/auth-service/src/shared/observability/otel.ts
  backend/services/auth-service/src/shared/outbox/outbox.service.ts
  backend/services/auth-service/src/shared/services/password-reset-token.service.ts
  backend/services/auth-service/src/shared/services/secret-manager.service.ts
  backend/services/auth-service/src/shared/strategies/jwt.strategy.ts
  docs/CICD_SECURITY_CODEQL_IMPLEMENTATION.md
  docs/ENTERPRISE_PRE_COMMIT_CHECKS.md
  how --stat HEAD
  package.json
  scripts/enable-code-scanning.sh
  scripts/run-secret-scan.js
  scripts/validate-pre-commit.js
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team, @data-security-specialist, @senior-backend-developer, @product-manager, @compliance-risk-officer

feat: Complete enterprise-grade CodeQL security analysis implementation
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
  .husky/pre-commit
  .lintstagedrc.js
  .prettierignore
  .trufflehogignore
  backend/services/auth-service/src/features/auth/auth.controller.ts
  backend/services/auth-service/src/features/auth/mfa.service.ts
  backend/services/auth-service/src/main.ts
  backend/services/auth-service/src/shared/config/app.config.ts
  backend/services/auth-service/src/shared/config/pino.config.ts
  backend/services/auth-service/src/shared/config/redis.config.ts
  backend/services/auth-service/src/shared/config/security.config.ts
  backend/services/auth-service/src/shared/dlq/dlq.service.ts
  backend/services/auth-service/src/shared/health/health.controller.ts
  backend/services/auth-service/src/shared/observability/otel.ts
  backend/services/auth-service/src/shared/outbox/outbox.service.ts
  backend/services/auth-service/src/shared/services/password-reset-token.service.ts
  backend/services/auth-service/src/shared/services/secret-manager.service.ts
  backend/services/auth-service/src/shared/strategies/jwt.strategy.ts
  docs/CICD_SECURITY_CODEQL_IMPLEMENTATION.md
  docs/ENTERPRISE_PRE_COMMIT_CHECKS.md
  how --stat HEAD
  package.json
  scripts/enable-code-scanning.sh
  scripts/run-secret-scan.js
  scripts/validate-pre-commit.js
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team, @data-security-specialist, @senior-backend-developer, @product-manager, @compliance-risk-officer

fix: Update CI/CD workflows to use GitHub Actions v3
  .github/workflows/iac-security-scan.yml
  .github/workflows/infrastructure.yml
  .husky/pre-commit
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team

fix: Update CI/CD workflows to use GitHub Actions v3
  .github/workflows/iac-security-scan.yml
  .github/workflows/infrastructure.yml
  .husky/pre-commit
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team

feat: enterprise pre-commit hooks
  .husky/pre-commit
  .lintstagedrc.js
Owners: @meqenet-dev-team

feat: enterprise pre-commit hooks
  .husky/pre-commit
  .lintstagedrc.js
Owners: @meqenet-dev-team

Refactor auth service and controller, improve test setup and mocking
  backend/services/auth-service/setup.ts
  backend/services/auth-service/src/features/auth/auth.controller.integration.spec.ts
  backend/services/auth-service/src/features/auth/auth.controller.ts
  backend/services/auth-service/src/features/auth/auth.service.ts
Owners: @meqenet-dev-team, @data-security-specialist, @financial-software-architect

Fix test configuration for JWT and Prisma in auth service tests
  backend/services/auth-service/src/features/auth/auth.controller.integration.spec.ts
  backend/services/auth-service/src/features/auth/auth.e2e.spec.ts
Owners: @data-security-specialist, @financial-software-architect

.github/CODEOWNERS:

# CODEOWNERS for Meqenet.et BNPL Platform
# This file defines code ownership for the Ethiopian FinTech platform
# Each line represents a file pattern followed by one or more owners
# Owners are notified when pull requests are opened that modify these files

# Global Rules - All team members are responsible for general code quality
* @meqenet-dev-team

# ==========================================
# CRITICAL FINANCIAL SERVICES (High Security)
# ==========================================

# Authentication & Security Service (Zero Trust Architecture)
/services/auth-service/ @data-security-specialist @financial-software-architect
/packages/auth/ @data-security-specialist @financial-software-architect

# Core BNPL Service (All 4 Payment Options)
/services/bnpl-service/ @financial-software-architect @senior-backend-developer
/packages/bnpl/ @financial-software-architect @senior-backend-developer

# Credit Assessment & Scoring (AI/ML + Compliance)
/services/credit-service/ @data-scientist-ml @compliance-risk-officer
/packages/credit/ @data-scientist-ml @compliance-risk-officer

# KYC Verification (Fayda National ID + NBE Compliance)
/services/kyc-service/ @compliance-risk-officer @data-security-specialist
/packages/kyc/ @compliance-risk-officer @data-security-specialist

# Settlement Processing (Merchant Payments)
/services/settlements-service/ @financial-software-architect @senior-backend-developer
/packages/settlements/ @financial-software-architect @senior-backend-developer

# Payment Gateway Integrations (Ethiopian Providers)
/services/payments-service/ @senior-backend-developer @fintech-devops-engineer
/packages/payments/ @senior-backend-developer @fintech-devops-engineer

# ==========================================
# MARKETPLACE & COMMERCE SERVICES
# ==========================================

# Merchant Marketplace Platform
/services/marketplace-service/ @marketplace-merchant-manager @senior-backend-developer
/packages/marketplace/ @marketplace-merchant-manager @senior-backend-developer

# Product Catalog & Search
/services/products-service/ @marketplace-merchant-manager @senior-backend-developer
/packages/products/ @marketplace-merchant-manager @senior-backend-developer

# Order Management & Fulfillment
/services/orders-service/ @marketplace-merchant-manager @senior-backend-developer
/packages/orders/ @marketplace-merchant-manager @senior-backend-developer

# ==========================================
# CUSTOMER EXPERIENCE SERVICES
# ==========================================

# Rewards & Cashback Engine
/services/rewards-service/ @product-manager @senior-backend-developer
/packages/rewards/ @product-manager @senior-backend-developer

# Premium Subscription (Meqenet Plus)
/services/premium-service/ @product-manager @senior-backend-developer
/packages/premium/ @product-manager @senior-backend-developer

# Analytics & Business Intelligence
/services/analytics-service/ @analytics-bi-specialist @data-scientist-ml
/packages/analytics/ @analytics-bi-specialist @data-scientist-ml

# Virtual Cards (High Security)
/services/virtual-cards-service/ @data-security-specialist @senior-backend-developer
/packages/virtual-cards/ @data-security-specialist @senior-backend-developer

# QR Payments (Mobile-First)
/services/qr-payments-service/ @senior-mobile-developer @senior-backend-developer
/packages/qr-payments/ @senior-mobile-developer @senior-backend-developer

# ==========================================
# FRONTEND APPLICATIONS
# ==========================================

# Website (Next.js PWA)
/apps/website/ @senior-mobile-developer @ux-designer
/packages/web-ui/ @senior-mobile-developer @ux-designer

# Mobile App (React Native)
/apps/mobile/ @senior-mobile-developer @ux-designer
/packages/mobile-ui/ @senior-mobile-developer @ux-designer

# Shared UI Components & Design System
/packages/shared-ui/ @senior-mobile-developer @ux-designer
/packages/design-system/ @senior-mobile-developer @ux-designer

# Browser Extension
/apps/browser-extension/ @senior-mobile-developer @senior-backend-developer

# ==========================================
# INFRASTRUCTURE & DEVOPS
# ==========================================

# Infrastructure as Code (Terraform)
/infrastructure/ @fintech-devops-engineer @financial-software-architect
/terraform/ @fintech-devops-engineer @financial-software-architect

# Container Configurations
/docker/ @fintech-devops-engineer
/dockerfiles/ @fintech-devops-engineer
/k8s/ @fintech-devops-engineer @financial-software-architect

# CI/CD Pipelines
/.github/ @fintech-devops-engineer @financial-software-architect
/.gitlab-ci.yml @fintech-devops-engineer @financial-software-architect

# Monitoring & Observability
/monitoring/ @fintech-devops-engineer @senior-backend-developer
/grafana/ @fintech-devops-engineer @analytics-bi-specialist

# ==========================================
# DOCUMENTATION & COMPLIANCE
# ==========================================

# Core Documentation
/docs/ @product-manager @compliance-risk-officer

# Security Documentation (High Sensitivity)
/docs/Stage\ 1\ -\ Foundation/07-Security.md @data-security-specialist @compliance-risk-officer

# Compliance Framework (NBE Regulations)
/docs/Stage\ 1\ -\ Foundation/05-Compliance_Framework.md @compliance-risk-officer

# API Documentation & Governance
/docs/Stage\ 1\ -\ Foundation/02-API_Specification_and_Governance.md @financial-software-architect @senior-backend-developer

# Architecture Documentation
/docs/Stage\ 1\ -\ Foundation/08-Architecture.md @financial-software-architect

# Business Model & Financial Logic
/docs/Stage\ 1\ -\ Foundation/03-Business_Model.md @product-manager @financial-software-architect

# ==========================================
# ETHIOPIAN-SPECIFIC INTEGRATIONS
# ==========================================

# Fayda National ID Integration (KYC)
**/fayda-integration/ @compliance-risk-officer @senior-backend-developer
**/fayda/ @compliance-risk-officer @senior-backend-developer

# Telebirr Payment Integration
**/telebirr-integration/ @senior-backend-developer @fintech-devops-engineer
**/telebirr/ @senior-backend-developer @fintech-devops-engineer

# Ethiopian Payment Gateways
**/chapa/ @senior-backend-developer @fintech-devops-engineer
**/santimpay/ @senior-backend-developer @fintech-devops-engineer
**/arifpay/ @senior-backend-developer @fintech-devops-engineer
**/hellocash/ @senior-backend-developer @fintech-devops-engineer

# Amharic Localization
**/amharic-localization/ @ux-designer @senior-mobile-developer
**/i18n/am/ @ux-designer @senior-mobile-developer
**/locales/am/ @ux-designer @senior-mobile-developer

# ==========================================
# FINANCIAL LOGIC (HIGHEST SECURITY)
# ==========================================

# Payment Processing Logic
**/*payment*.ts @financial-software-architect @data-security-specialist
**/*payment*.js @financial-software-architect @data-security-specialist
**/*Payment*.tsx @financial-software-architect @senior-mobile-developer

# Interest Rate Calculations
**/*interest*.ts @financial-software-architect @compliance-risk-officer
**/*interest*.js @financial-software-architect @compliance-risk-officer
**/*Interest*.tsx @financial-software-architect @ux-designer

# Loan Management Logic
**/*loan*.ts @financial-software-architect @senior-backend-developer
**/*loan*.js @financial-software-architect @senior-backend-developer
**/*Loan*.tsx @financial-software-architect @senior-mobile-developer

# Credit Scoring & Assessment
**/*credit*.ts @data-scientist-ml @compliance-risk-officer
**/*credit*.js @data-scientist-ml @compliance-risk-officer
**/*Credit*.tsx @data-scientist-ml @ux-designer

# Financial Calculations & Utilities
**/*calculation*.ts @financial-software-architect @data-security-specialist
**/*financial*.ts @financial-software-architect @compliance-risk-officer
**/*currency*.ts @financial-software-architect @senior-backend-developer

# ==========================================
# SECURITY-SENSITIVE FILES
# ==========================================

# Cryptography & Encryption
**/*crypto*.ts @data-security-specialist @financial-software-architect
**/*encryption*.ts @data-security-specialist @financial-software-architect
**/*security*.ts @data-security-specialist @financial-software-architect

# Authentication & Authorization
**/*auth*.ts @data-security-specialist @financial-software-architect
**/*jwt*.ts @data-security-specialist @senior-backend-developer
**/*session*.ts @data-security-specialist @senior-backend-developer

# Database Schemas (Financial Data)
**/schema.prisma @financial-software-architect @data-security-specialist
**/migrations/ @financial-software-architect @senior-backend-developer

# Environment & Configuration Files
**/.env* @fintech-devops-engineer @data-security-specialist
**/config/ @fintech-devops-engineer @financial-software-architect

# ==========================================
# SPECIAL FILES & CONFIGURATIONS
# ==========================================

# Repository Configuration
.gitignore @fintech-devops-engineer
.cursorrules @financial-software-architect @data-security-specialist
CONTRIBUTING.md @product-manager @financial-software-architect
README.md @product-manager @financial-software-architect
LICENSE @compliance-risk-officer @product-manager

# Package Management
package.json @fintech-devops-engineer @senior-backend-developer
package-lock.json @fintech-devops-engineer @senior-backend-developer
yarn.lock @fintech-devops-engineer @senior-backend-developer

# TypeScript Configuration
tsconfig.json @financial-software-architect @senior-backend-developer
tsconfig.*.json @financial-software-architect @senior-backend-developer

# Linting & Code Quality
.eslintrc* @financial-software-architect @senior-backend-developer
.prettierrc* @financial-software-architect @senior-mobile-developer
jest.config* @senior-backend-developer @financial-qa-specialist

# ==========================================
# TASK MANAGEMENT & PROJECT COORDINATION
# ==========================================

# Task Management System
/tasks/ @product-manager @financial-software-architect
tasks.yaml @product-manager @financial-software-architect
update_progress.py @product-manager @fintech-devops-engineer

# ==========================================
# COMPLIANCE & AUDIT REQUIREMENTS
# ==========================================

# Any changes to financial logic, security implementations, or Ethiopian regulatory compliance
# require additional review from compliance officers and security specialists.
# 
# For NBE audit purposes, all changes to payment processing, interest calculations,
# and customer data handling must maintain a complete audit trail with proper approvals.
#
# Emergency security patches may bypass some approval requirements but require
# post-deployment review within 24 hours.
