Repository MakeMoneyOnly/Meqenet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @meqenet-dev-team, @data-security-specialist, @financial-software-architect, @senior-backend-developer, @data-scientist-ml, @compliance-risk-officer, @fintech-devops-engineer, @marketplace-merchant-manager, @product-manager, @analytics-bi-specialist, @senior-mobile-developer, @ux-designer, @financial-qa-specialist

fix(ci): resolve CI/CD pnpm and package dependency issues
  CI_FIXES_SUMMARY.md
  scripts/fix-ci-package-issues.sh
Owners: @meqenet-dev-team

fix(ci): resolve react-native-certificate-pinning 404 error in mobile performance testing
  .github/workflows/performance.yml
Owners: @fintech-devops-engineer, @financial-software-architect

fix(security): update security reports, configurations and test scripts (SEC-505)
  .cursor/rules/nx-rules.mdc
  frontend/apps/website/next-env.d.ts
  frontend/apps/website/next.config.mjs
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-check.json
  reports/license-validation-report.json
  reports/npm-audit.json
  scripts/test-pwa-compliance.js
Owners: @meqenet-dev-team

fix(config): update Next.js configuration for website app (MEQ-101)
  frontend/apps/website/next.config.mjs
Owners: @meqenet-dev-team

fix(pwa): convert PWA compliance test script to ES modules (MEQ-101)
  scripts/test-pwa-compliance.js
Owners: @meqenet-dev-team

fix(infra): remove large Terraform provider binaries from tracking (MEQ-101)
  .gitignore
Owners: @fintech-devops-engineer

fix(frontend): temporarily disable PWA plugin for Next.js 15 compatibility (MEQ-102)
  eslint-report.json.REMOVED.git-id
  frontend/apps/website/next.config.mjs
Owners: @meqenet-dev-team

ci(build): remove redundant commit message validation from CI/CD pipelines (MEQ-789)
  .github/workflows/commit-message-check.yml
  .github/workflows/commit-validation.yml
  scripts/validate-commit-message.js
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team

fix(ci): resolve pnpm lockfile config mismatch in CI pipelines (MEQ-CI-001)
  package.json
Owners: @fintech-devops-engineer, @senior-backend-developer

fix(ci): fix Checkov SARIF file generation in security scan workflow (SEC-001)
  .github/workflows/iac-security-scan.yml
Owners: @fintech-devops-engineer, @financial-software-architect

fix(ci): resolve CI/CD pipeline failures in API gateway (MEQ-001)
  backend/services/api-gateway/Dockerfile
  backend/services/api-gateway/src/shared/config/app.config.ts
Owners: @meqenet-dev-team, @fintech-devops-engineer, @financial-software-architect

fix(auth,ci): implement Argon2 password hashing and fix CI/CD pnpm setup
  .github/workflows/ci.yml
  backend/services/auth-service/package.json
  backend/services/auth-service/src/features/auth/auth.service.spec.ts
  backend/services/auth-service/src/features/auth/auth.service.ts
Owners: @fintech-devops-engineer, @financial-software-architect, @senior-backend-developer, @data-security-specialist

fix(lint): resolve CI/CD linting failures in frontend configs (MEQ-101)
  .lintstagedrc.js
  eslint.config.staged.js
  frontend/apps/website/next.config.mjs
Owners: @meqenet-dev-team

refactor(auth): extract Argon2 configuration constants for better maintainability (MEQ-123)
  backend/services/auth-service/src/features/auth/auth.service.spec.ts
  backend/services/auth-service/src/features/auth/auth.service.ts
Owners: @data-security-specialist, @financial-software-architect

refactor(codebase): comprehensive lint cleanup and coding standards implementation (MEQ-001)
  ..bfg-report/2025-09-19/14-26-13/cache-stats.txt
  ..bfg-report/2025-09-19/14-26-13/deleted-files.txt
  ..bfg-report/2025-09-19/14-26-13/object-id-map.old-new.txt
  ..bfg-report/2025-09-19/14-26-13/protected-dirt/0a10f2f5-HEAD.csv
  .cursor/rules/nx-rules.mdc
  backend/services/api-gateway/package.json
  backend/services/auth-service/src/shared/guards/roles.guard.ts
  backend/services/auth-service/src/shared/services/auth-monitoring.service.ts
  backend/services/auth-service/src/shared/services/encrypted-backup.service.ts
  backend/services/auth-service/src/shared/services/key-rotation.service.ts
  backend/services/auth-service/src/shared/services/rate-limiting.service.ts
  docs/CODING_STANDARDS.md
  frontend/apps/app/src/features/bnpl/screens/ContractCreationScreen.tsx
  frontend/apps/app/src/features/bnpl/services/bnplApi.ts
  frontend/apps/website/next-env.d.ts
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-check.json
  reports/license-validation-report.json
  reports/npm-audit.json
  scripts/deployment-security-checklist.js
  scripts/validate-enhanced-auth-security.js
Owners: @meqenet-dev-team, @fintech-devops-engineer, @senior-backend-developer, @data-security-specialist, @financial-software-architect, @product-manager, @compliance-risk-officer

fix(build): resolve TypeScript compilation errors in auth services (MEQ-001)
  backend/services/auth-service/src/shared/services/auth-monitoring.service.ts
  backend/services/auth-service/src/shared/services/rate-limiting.service.ts
Owners: @data-security-specialist, @financial-software-architect, @meqenet-dev-team

fix(build): resolve remaining Prisma JSON type error in auth monitoring (MEQ-002)
  backend/services/auth-service/src/shared/services/auth-monitoring.service.ts
Owners: @data-security-specialist, @financial-software-architect

fix(ci): use frozen lockfile in bias-tests workflow (SEC-505)
  .github/workflows/artifact-signing-attestation.yml
  .github/workflows/financial-model-bias-testing.yml
Owners: @fintech-devops-engineer, @financial-software-architect

fix(ci): resolve PNPM lockfile mismatch in perf pipeline (MEQ-101)
  .github/workflows/performance.yml
  scripts/validate-lockfile.sh
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team

fix(ci): resolve CI/CD pipeline failures for security validation and dependency issues (SEC-001)
  .github/workflows/iac-security-scan.yml
  backend/services/auth-service/package.json
  package.json
Owners: @fintech-devops-engineer, @financial-software-architect, @senior-backend-developer

fix(ci): resolve CI/CD pipeline failures with Node.js version and dependency issues (MEQ-001)
  .github/workflows/ci.yml
  .github/workflows/monitoring.yml
  CI_FIXES_SUMMARY.md
  scripts/dev-setup.sh
  scripts/fix-ci-package-issues.sh
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team

fix(ci): resolve CI/CD dependency installation failures
  .github/workflows/ci.yml
  backend/services/auth-service/package.json
Owners: @fintech-devops-engineer, @financial-software-architect, @senior-backend-developer

fix(deps): resolve CI/CD security scan failures (SEC-505)
  package.json
Owners: @fintech-devops-engineer, @senior-backend-developer

fix(frontend): resolve react-native-ssl-pinning import issue in web environment (MEQ-002)
  frontend/libs/mobile-api-client/src/lib/api-client.ts
Owners: @meqenet-dev-team

fix(ci): resolve pnpm lockfile mismatch and missing pnpm in CI workflows (CI-001)
  .github/workflows/codeql.yml
  .github/workflows/performance.yml
  frontend/apps/website/next-env.d.ts
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-check.json
  reports/license-validation-report.json
  reports/npm-audit.json
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team

feat(core): enhance auth, BNPL services and CI/CD workflows (MEQ-003)
  reports/license-check.json
Owners: @meqenet-dev-team

fix(build): resolve license checker pre-commit hook failure (MEQ-004)
  package.json
Owners: @fintech-devops-engineer, @senior-backend-developer

fix(ci): resolve Checkov SARIF file generation issues (MEQ-SEC-001)
  .github/workflows/iac-security-scan.yml
Owners: @fintech-devops-engineer, @financial-software-architect

fix(ci): resolve pnpm lockfile mismatch and align package versions (MEQ-102)
  frontend/package.json
  package.json
Owners: @fintech-devops-engineer, @senior-backend-developer

fix(mobile-api-client): resolve ESLint errors and unused variable warnings (MEQ-101)
  backend-e2e/src/support/global-setup.ts
  backend/services/api-gateway/src/app/app.controller.ts
  docker-compose.e2e.yml
  frontend/apps/website/package.json
  frontend/libs/mobile-api-client/src/lib/api-client.ts
  frontend/libs/shared/config/src/index.ts
Owners: @meqenet-dev-team, @fintech-devops-engineer, @senior-backend-developer, @financial-software-architect

security(infra): update security reports and infrastructure workflows (SEC-505)
  .github/workflows/iac-security-scan.yml
  .github/workflows/infrastructure.yml
  frontend/libs/mobile-state-management/package.json
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-check.json
  reports/license-validation-report.json
  reports/npm-audit.json
  scripts/validate_checkov_config.sh
Owners: @fintech-devops-engineer, @financial-software-architect, @senior-backend-developer, @meqenet-dev-team

fix(ci): disable automatic artifact upload in Lighthouse CI to prevent naming conflicts
  .github/workflows/pwa-compliance.yml
Owners: @fintech-devops-engineer, @financial-software-architect

refactor(cleanup): archive Go implementation and remove debug files (MEQ-001)
  .cursor/mcp.json
  PWA_TEST_REPORT.md
  README.md
  archive/go-implementation/README.md
  archive/go-implementation/cmd/main.go
  archive/go-implementation/go.mod
  archive/go-implementation/internal/app/app.go
  archive/go-implementation/internal/config/config.go
  archive/go-implementation/internal/logging/logger.go
  cmd/main.go
  convert_to_utf8.py
  go.mod
  internal/app/app.go
  internal/config/config.go
  internal/logging/logger.go
  pwa-test-report.json
  temp_db.tf
  test-hook.ts
  test-phase1.ts
  trufflehog_report.json
Owners: @meqenet-dev-team, @product-manager, @financial-software-architect, @fintech-devops-engineer

security(auth): complete audit remediation and improve test coverage (AUTH-101)
  backend/services/auth-service/src/features/auth/auth.service.spec.ts
  backend/services/auth-service/src/features/auth/mfa.service.ts
  backend/services/auth-service/src/main.ts
  backend/services/auth-service/src/shared/services/oauth2.service.ts
  backend/services/auth-service/src/shared/services/password-reset-token.service.spec.ts
  backend/services/auth-service/src/shared/services/password-reset-token.service.ts
  backend/services/auth-service/src/shared/services/risk-assessment.service.spec.ts
  stage_2_auth_audit.md
Owners: @data-security-specialist, @financial-software-architect, @meqenet-dev-team

fix(ci): resolve Checkov SARIF file generation failure in infrastructure validation (SEC-505)
  .github/workflows/infrastructure.yml
Owners: @fintech-devops-engineer, @financial-software-architect

fix(ci): resolve ESLint configuration and CI/CD pipeline issues (SEC-505)
  .github/workflows/financial-model-bias-testing.yml
  backend/services/auth-service/eslint.config.mjs
  frontend/apps/app/src/features/bnpl/services/bnplApi.ts
  frontend/eslint.config.mjs
  frontend/libs/mobile-api-client/eslint.config.mjs
  frontend/libs/mobile-api-client/src/lib/api-client.ts
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team

fix(deps): resolve CI/CD dependency conflicts and peer issues (MEQ-001)
  backend/services/auth-service/package.json
  frontend/package.json
  package.json
Owners: @fintech-devops-engineer, @senior-backend-developer

feat: add comprehensive BNPL service tests and fix schema validation (MEQ-123)
  backend/services/payments-service/prisma/schema.prisma
  backend/services/payments-service/src/bnpl/bnpl.service.spec.ts
  backend/services/payments-service/src/bnpl/bnpl.service.ts
  backend/services/payments-service/vitest.config.ts
Owners: @financial-software-architect, @data-security-specialist, @meqenet-dev-team

fix(security): resolve critical infrastructure security compliance issues (SEC-505)
  infrastructure/key-rotation.tf
  infrastructure/load_balancer.tf
  infrastructure/main.tf
Owners: @fintech-devops-engineer, @financial-software-architect

fix(lint): resolve CI/CD linting issues with env vars and security vulnerabilities (MEQ-456)
  frontend/apps/app/src/features/bnpl/services/bnplApi.ts
  frontend/libs/mobile-api-client/src/lib/api-client.ts
  frontend/libs/shared/config/src/lib/api.config.ts
Owners: @meqenet-dev-team, @fintech-devops-engineer, @financial-software-architect

.github/CODEOWNERS:

# CODEOWNERS for Meqenet.et BNPL Platform
# This file defines code ownership for the Ethiopian FinTech platform
# Each line represents a file pattern followed by one or more owners
# Owners are notified when pull requests are opened that modify these files

# Global Rules - All team members are responsible for general code quality
* @meqenet-dev-team

# ==========================================
# CRITICAL FINANCIAL SERVICES (High Security)
# ==========================================

# Authentication & Security Service (Zero Trust Architecture)
/services/auth-service/ @data-security-specialist @financial-software-architect
/packages/auth/ @data-security-specialist @financial-software-architect

# Core BNPL Service (All 4 Payment Options)
/services/bnpl-service/ @financial-software-architect @senior-backend-developer
/packages/bnpl/ @financial-software-architect @senior-backend-developer

# Credit Assessment & Scoring (AI/ML + Compliance)
/services/credit-service/ @data-scientist-ml @compliance-risk-officer
/packages/credit/ @data-scientist-ml @compliance-risk-officer

# KYC Verification (Fayda National ID + NBE Compliance)
/services/kyc-service/ @compliance-risk-officer @data-security-specialist
/packages/kyc/ @compliance-risk-officer @data-security-specialist

# Settlement Processing (Merchant Payments)
/services/settlements-service/ @financial-software-architect @senior-backend-developer
/packages/settlements/ @financial-software-architect @senior-backend-developer

# Payment Gateway Integrations (Ethiopian Providers)
/services/payments-service/ @senior-backend-developer @fintech-devops-engineer
/packages/payments/ @senior-backend-developer @fintech-devops-engineer

# ==========================================
# MARKETPLACE & COMMERCE SERVICES
# ==========================================

# Merchant Marketplace Platform
/services/marketplace-service/ @marketplace-merchant-manager @senior-backend-developer
/packages/marketplace/ @marketplace-merchant-manager @senior-backend-developer

# Product Catalog & Search
/services/products-service/ @marketplace-merchant-manager @senior-backend-developer
/packages/products/ @marketplace-merchant-manager @senior-backend-developer

# Order Management & Fulfillment
/services/orders-service/ @marketplace-merchant-manager @senior-backend-developer
/packages/orders/ @marketplace-merchant-manager @senior-backend-developer

# ==========================================
# CUSTOMER EXPERIENCE SERVICES
# ==========================================

# Rewards & Cashback Engine
/services/rewards-service/ @product-manager @senior-backend-developer
/packages/rewards/ @product-manager @senior-backend-developer

# Premium Subscription (Meqenet Plus)
/services/premium-service/ @product-manager @senior-backend-developer
/packages/premium/ @product-manager @senior-backend-developer

# Analytics & Business Intelligence
/services/analytics-service/ @analytics-bi-specialist @data-scientist-ml
/packages/analytics/ @analytics-bi-specialist @data-scientist-ml

# Virtual Cards (High Security)
/services/virtual-cards-service/ @data-security-specialist @senior-backend-developer
/packages/virtual-cards/ @data-security-specialist @senior-backend-developer

# QR Payments (Mobile-First)
/services/qr-payments-service/ @senior-mobile-developer @senior-backend-developer
/packages/qr-payments/ @senior-mobile-developer @senior-backend-developer

# ==========================================
# FRONTEND APPLICATIONS
# ==========================================

# Website (Next.js PWA)
/apps/website/ @senior-mobile-developer @ux-designer
/packages/web-ui/ @senior-mobile-developer @ux-designer

# Mobile App (React Native)
/apps/mobile/ @senior-mobile-developer @ux-designer
/packages/mobile-ui/ @senior-mobile-developer @ux-designer

# Shared UI Components & Design System
/packages/shared-ui/ @senior-mobile-developer @ux-designer
/packages/design-system/ @senior-mobile-developer @ux-designer

# Browser Extension
/apps/browser-extension/ @senior-mobile-developer @senior-backend-developer

# ==========================================
# INFRASTRUCTURE & DEVOPS
# ==========================================

# Infrastructure as Code (Terraform)
/infrastructure/ @fintech-devops-engineer @financial-software-architect
/terraform/ @fintech-devops-engineer @financial-software-architect

# Container Configurations
/docker/ @fintech-devops-engineer
/dockerfiles/ @fintech-devops-engineer
/k8s/ @fintech-devops-engineer @financial-software-architect

# CI/CD Pipelines
/.github/ @fintech-devops-engineer @financial-software-architect
/.gitlab-ci.yml @fintech-devops-engineer @financial-software-architect

# Monitoring & Observability
/monitoring/ @fintech-devops-engineer @senior-backend-developer
/grafana/ @fintech-devops-engineer @analytics-bi-specialist

# ==========================================
# DOCUMENTATION & COMPLIANCE
# ==========================================

# Core Documentation
/docs/ @product-manager @compliance-risk-officer

# Security Documentation (High Sensitivity)
/docs/Stage\ 1\ -\ Foundation/07-Security.md @data-security-specialist @compliance-risk-officer

# Compliance Framework (NBE Regulations)
/docs/Stage\ 1\ -\ Foundation/05-Compliance_Framework.md @compliance-risk-officer

# API Documentation & Governance
/docs/Stage\ 1\ -\ Foundation/02-API_Specification_and_Governance.md @financial-software-architect @senior-backend-developer

# Architecture Documentation
/docs/Stage\ 1\ -\ Foundation/08-Architecture.md @financial-software-architect

# Business Model & Financial Logic
/docs/Stage\ 1\ -\ Foundation/03-Business_Model.md @product-manager @financial-software-architect

# ==========================================
# ETHIOPIAN-SPECIFIC INTEGRATIONS
# ==========================================

# Fayda National ID Integration (KYC)
**/fayda-integration/ @compliance-risk-officer @senior-backend-developer
**/fayda/ @compliance-risk-officer @senior-backend-developer

# Telebirr Payment Integration
**/telebirr-integration/ @senior-backend-developer @fintech-devops-engineer
**/telebirr/ @senior-backend-developer @fintech-devops-engineer

# Ethiopian Payment Gateways
**/chapa/ @senior-backend-developer @fintech-devops-engineer
**/santimpay/ @senior-backend-developer @fintech-devops-engineer
**/arifpay/ @senior-backend-developer @fintech-devops-engineer
**/hellocash/ @senior-backend-developer @fintech-devops-engineer

# Amharic Localization
**/amharic-localization/ @ux-designer @senior-mobile-developer
**/i18n/am/ @ux-designer @senior-mobile-developer
**/locales/am/ @ux-designer @senior-mobile-developer

# ==========================================
# FINANCIAL LOGIC (HIGHEST SECURITY)
# ==========================================

# Payment Processing Logic
**/*payment*.ts @financial-software-architect @data-security-specialist
**/*payment*.js @financial-software-architect @data-security-specialist
**/*Payment*.tsx @financial-software-architect @senior-mobile-developer

# Interest Rate Calculations
**/*interest*.ts @financial-software-architect @compliance-risk-officer
**/*interest*.js @financial-software-architect @compliance-risk-officer
**/*Interest*.tsx @financial-software-architect @ux-designer

# Loan Management Logic
**/*loan*.ts @financial-software-architect @senior-backend-developer
**/*loan*.js @financial-software-architect @senior-backend-developer
**/*Loan*.tsx @financial-software-architect @senior-mobile-developer

# Credit Scoring & Assessment
**/*credit*.ts @data-scientist-ml @compliance-risk-officer
**/*credit*.js @data-scientist-ml @compliance-risk-officer
**/*Credit*.tsx @data-scientist-ml @ux-designer

# Financial Calculations & Utilities
**/*calculation*.ts @financial-software-architect @data-security-specialist
**/*financial*.ts @financial-software-architect @compliance-risk-officer
**/*currency*.ts @financial-software-architect @senior-backend-developer

# ==========================================
# SECURITY-SENSITIVE FILES
# ==========================================

# Cryptography & Encryption
**/*crypto*.ts @data-security-specialist @financial-software-architect
**/*encryption*.ts @data-security-specialist @financial-software-architect
**/*security*.ts @data-security-specialist @financial-software-architect

# Authentication & Authorization
**/*auth*.ts @data-security-specialist @financial-software-architect
**/*jwt*.ts @data-security-specialist @senior-backend-developer
**/*session*.ts @data-security-specialist @senior-backend-developer

# Database Schemas (Financial Data)
**/schema.prisma @financial-software-architect @data-security-specialist
**/migrations/ @financial-software-architect @senior-backend-developer

# Environment & Configuration Files
**/.env* @fintech-devops-engineer @data-security-specialist
**/config/ @fintech-devops-engineer @financial-software-architect

# ==========================================
# SPECIAL FILES & CONFIGURATIONS
# ==========================================

# Repository Configuration
.gitignore @fintech-devops-engineer
.cursorrules @financial-software-architect @data-security-specialist
CONTRIBUTING.md @product-manager @financial-software-architect
README.md @product-manager @financial-software-architect
LICENSE @compliance-risk-officer @product-manager

# Package Management
package.json @fintech-devops-engineer @senior-backend-developer
package-lock.json @fintech-devops-engineer @senior-backend-developer
yarn.lock @fintech-devops-engineer @senior-backend-developer

# TypeScript Configuration
tsconfig.json @financial-software-architect @senior-backend-developer
tsconfig.*.json @financial-software-architect @senior-backend-developer

# Linting & Code Quality
.eslintrc* @financial-software-architect @senior-backend-developer
.prettierrc* @financial-software-architect @senior-mobile-developer
jest.config* @senior-backend-developer @financial-qa-specialist

# ==========================================
# TASK MANAGEMENT & PROJECT COORDINATION
# ==========================================

# Task Management System
/tasks/ @product-manager @financial-software-architect
tasks.yaml @product-manager @financial-software-architect
update_progress.py @product-manager @fintech-devops-engineer

# ==========================================
# COMPLIANCE & AUDIT REQUIREMENTS
# ==========================================

# Any changes to financial logic, security implementations, or Ethiopian regulatory compliance
# require additional review from compliance officers and security specialists.
# 
# For NBE audit purposes, all changes to payment processing, interest calculations,
# and customer data handling must maintain a complete audit trail with proper approvals.
#
# Emergency security patches may bypass some approval requirements but require
# post-deployment review within 24 hours.
