Repository MakeMoneyOnly/Meqenet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @meqenet-dev-team, @data-security-specialist, @financial-software-architect, @senior-backend-developer, @data-scientist-ml, @compliance-risk-officer, @fintech-devops-engineer, @marketplace-merchant-manager, @product-manager, @analytics-bi-specialist, @senior-mobile-developer, @ux-designer, @financial-qa-specialist

.github/CODEOWNERS:

# CODEOWNERS for Meqenet.et BNPL Platform
# This file defines code ownership for the Ethiopian FinTech platform
# Each line represents a file pattern followed by one or more owners
# Owners are notified when pull requests are opened that modify these files

# Global Rules - All team members are responsible for general code quality
* @meqenet-dev-team

# ==========================================
# CRITICAL FINANCIAL SERVICES (High Security)
# ==========================================

# Authentication & Security Service (Zero Trust Architecture)
/services/auth-service/ @data-security-specialist @financial-software-architect
/packages/auth/ @data-security-specialist @financial-software-architect

# Core BNPL Service (All 4 Payment Options)
/services/bnpl-service/ @financial-software-architect @senior-backend-developer
/packages/bnpl/ @financial-software-architect @senior-backend-developer

# Credit Assessment & Scoring (AI/ML + Compliance)
/services/credit-service/ @data-scientist-ml @compliance-risk-officer
/packages/credit/ @data-scientist-ml @compliance-risk-officer

# KYC Verification (Fayda National ID + NBE Compliance)
/services/kyc-service/ @compliance-risk-officer @data-security-specialist
/packages/kyc/ @compliance-risk-officer @data-security-specialist

# Settlement Processing (Merchant Payments)
/services/settlements-service/ @financial-software-architect @senior-backend-developer
/packages/settlements/ @financial-software-architect @senior-backend-developer

# Payment Gateway Integrations (Ethiopian Providers)
/services/payments-service/ @senior-backend-developer @fintech-devops-engineer
/packages/payments/ @senior-backend-developer @fintech-devops-engineer

# ==========================================
# MARKETPLACE & COMMERCE SERVICES
# ==========================================

# Merchant Marketplace Platform
/services/marketplace-service/ @marketplace-merchant-manager @senior-backend-developer
/packages/marketplace/ @marketplace-merchant-manager @senior-backend-developer

# Product Catalog & Search
/services/products-service/ @marketplace-merchant-manager @senior-backend-developer
/packages/products/ @marketplace-merchant-manager @senior-backend-developer

# Order Management & Fulfillment
/services/orders-service/ @marketplace-merchant-manager @senior-backend-developer
/packages/orders/ @marketplace-merchant-manager @senior-backend-developer

# ==========================================
# CUSTOMER EXPERIENCE SERVICES
# ==========================================

# Rewards & Cashback Engine
/services/rewards-service/ @product-manager @senior-backend-developer
/packages/rewards/ @product-manager @senior-backend-developer

# Premium Subscription (Meqenet Plus)
/services/premium-service/ @product-manager @senior-backend-developer
/packages/premium/ @product-manager @senior-backend-developer

# Analytics & Business Intelligence
/services/analytics-service/ @analytics-bi-specialist @data-scientist-ml
/packages/analytics/ @analytics-bi-specialist @data-scientist-ml

# Virtual Cards (High Security)
/services/virtual-cards-service/ @data-security-specialist @senior-backend-developer
/packages/virtual-cards/ @data-security-specialist @senior-backend-developer

# QR Payments (Mobile-First)
/services/qr-payments-service/ @senior-mobile-developer @senior-backend-developer
/packages/qr-payments/ @senior-mobile-developer @senior-backend-developer

# ==========================================
# FRONTEND APPLICATIONS
# ==========================================

# Website (Next.js PWA)
/apps/website/ @senior-mobile-developer @ux-designer
/packages/web-ui/ @senior-mobile-developer @ux-designer

# Mobile App (React Native)
/apps/mobile/ @senior-mobile-developer @ux-designer
/packages/mobile-ui/ @senior-mobile-developer @ux-designer

# Shared UI Components & Design System
/packages/shared-ui/ @senior-mobile-developer @ux-designer
/packages/design-system/ @senior-mobile-developer @ux-designer

# Browser Extension
/apps/browser-extension/ @senior-mobile-developer @senior-backend-developer

# ==========================================
# INFRASTRUCTURE & DEVOPS
# ==========================================

# Infrastructure as Code (Terraform)
/infrastructure/ @fintech-devops-engineer @financial-software-architect
/terraform/ @fintech-devops-engineer @financial-software-architect

# Container Configurations
/docker/ @fintech-devops-engineer
/dockerfiles/ @fintech-devops-engineer
/k8s/ @fintech-devops-engineer @financial-software-architect

# CI/CD Pipelines
/.github/ @fintech-devops-engineer @financial-software-architect
/.gitlab-ci.yml @fintech-devops-engineer @financial-software-architect

# Monitoring & Observability
/monitoring/ @fintech-devops-engineer @senior-backend-developer
/grafana/ @fintech-devops-engineer @analytics-bi-specialist

# ==========================================
# DOCUMENTATION & COMPLIANCE
# ==========================================

# Core Documentation
/docs/ @product-manager @compliance-risk-officer

# Security Documentation (High Sensitivity)
/docs/Stage\ 1\ -\ Foundation/07-Security.md @data-security-specialist @compliance-risk-officer

# Compliance Framework (NBE Regulations)
/docs/Stage\ 1\ -\ Foundation/05-Compliance_Framework.md @compliance-risk-officer

# API Documentation & Governance
/docs/Stage\ 1\ -\ Foundation/02-API_Specification_and_Governance.md @financial-software-architect @senior-backend-developer

# Architecture Documentation
/docs/Stage\ 1\ -\ Foundation/08-Architecture.md @financial-software-architect

# Business Model & Financial Logic
/docs/Stage\ 1\ -\ Foundation/03-Business_Model.md @product-manager @financial-software-architect

# ==========================================
# ETHIOPIAN-SPECIFIC INTEGRATIONS
# ==========================================

# Fayda National ID Integration (KYC)
**/fayda-integration/ @compliance-risk-officer @senior-backend-developer
**/fayda/ @compliance-risk-officer @senior-backend-developer

# Telebirr Payment Integration
**/telebirr-integration/ @senior-backend-developer @fintech-devops-engineer
**/telebirr/ @senior-backend-developer @fintech-devops-engineer

# Ethiopian Payment Gateways
**/chapa/ @senior-backend-developer @fintech-devops-engineer
**/santimpay/ @senior-backend-developer @fintech-devops-engineer
**/arifpay/ @senior-backend-developer @fintech-devops-engineer
**/hellocash/ @senior-backend-developer @fintech-devops-engineer

# Amharic Localization
**/amharic-localization/ @ux-designer @senior-mobile-developer
**/i18n/am/ @ux-designer @senior-mobile-developer
**/locales/am/ @ux-designer @senior-mobile-developer

# ==========================================
# FINANCIAL LOGIC (HIGHEST SECURITY)
# ==========================================

# Payment Processing Logic
**/*payment*.ts @financial-software-architect @data-security-specialist
**/*payment*.js @financial-software-architect @data-security-specialist
**/*Payment*.tsx @financial-software-architect @senior-mobile-developer

# Interest Rate Calculations
**/*interest*.ts @financial-software-architect @compliance-risk-officer
**/*interest*.js @financial-software-architect @compliance-risk-officer
**/*Interest*.tsx @financial-software-architect @ux-designer

# Loan Management Logic
**/*loan*.ts @financial-software-architect @senior-backend-developer
**/*loan*.js @financial-software-architect @senior-backend-developer
**/*Loan*.tsx @financial-software-architect @senior-mobile-developer

# Credit Scoring & Assessment
**/*credit*.ts @data-scientist-ml @compliance-risk-officer
**/*credit*.js @data-scientist-ml @compliance-risk-officer
**/*Credit*.tsx @data-scientist-ml @ux-designer

# Financial Calculations & Utilities
**/*calculation*.ts @financial-software-architect @data-security-specialist
**/*financial*.ts @financial-software-architect @compliance-risk-officer
**/*currency*.ts @financial-software-architect @senior-backend-developer

# ==========================================
# SECURITY-SENSITIVE FILES
# ==========================================

# Cryptography & Encryption
**/*crypto*.ts @data-security-specialist @financial-software-architect
**/*encryption*.ts @data-security-specialist @financial-software-architect
**/*security*.ts @data-security-specialist @financial-software-architect

# Authentication & Authorization
**/*auth*.ts @data-security-specialist @financial-software-architect
**/*jwt*.ts @data-security-specialist @senior-backend-developer
**/*session*.ts @data-security-specialist @senior-backend-developer

# Database Schemas (Financial Data)
**/schema.prisma @financial-software-architect @data-security-specialist
**/migrations/ @financial-software-architect @senior-backend-developer

# Environment & Configuration Files
**/.env* @fintech-devops-engineer @data-security-specialist
**/config/ @fintech-devops-engineer @financial-software-architect

# ==========================================
# SPECIAL FILES & CONFIGURATIONS
# ==========================================

# Repository Configuration
.gitignore @fintech-devops-engineer
.cursorrules @financial-software-architect @data-security-specialist
CONTRIBUTING.md @product-manager @financial-software-architect
README.md @product-manager @financial-software-architect
LICENSE @compliance-risk-officer @product-manager

# Package Management
package.json @fintech-devops-engineer @senior-backend-developer
package-lock.json @fintech-devops-engineer @senior-backend-developer
yarn.lock @fintech-devops-engineer @senior-backend-developer

# TypeScript Configuration
tsconfig.json @financial-software-architect @senior-backend-developer
tsconfig.*.json @financial-software-architect @senior-backend-developer

# Linting & Code Quality
.eslintrc* @financial-software-architect @senior-backend-developer
.prettierrc* @financial-software-architect @senior-mobile-developer
jest.config* @senior-backend-developer @financial-qa-specialist

# ==========================================
# TASK MANAGEMENT & PROJECT COORDINATION
# ==========================================

# Task Management System
/tasks/ @product-manager @financial-software-architect
tasks.yaml @product-manager @financial-software-architect
update_progress.py @product-manager @fintech-devops-engineer

# ==========================================
# COMPLIANCE & AUDIT REQUIREMENTS
# ==========================================

# Any changes to financial logic, security implementations, or Ethiopian regulatory compliance
# require additional review from compliance officers and security specialists.
# 
# For NBE audit purposes, all changes to payment processing, interest calculations,
# and customer data handling must maintain a complete audit trail with proper approvals.
#
# Emergency security patches may bypass some approval requirements but require
# post-deployment review within 24 hours.

fix(ci): resolve Gradle settings syntax error blocking Android dependency scans (SEC-505)
  frontend/apps/app/android/settings.gradle
Owners: @meqenet-dev-team

fix: resolve Lighthouse PWA audit CI/CD failure with proper server health checks
  .github/lighthouse/pwa-config.json
  .github/workflows/pwa-compliance.yml
Owners: @fintech-devops-engineer, @financial-software-architect

fix(build): resolve TypeScript and ESLint errors in frontend (MEQ-101)
  frontend/apps/website/src/app/sw.ts
Owners: @meqenet-dev-team

fix(build): disable no-undef rule for service worker globals (MEQ-101)
  frontend/apps/website/src/app/sw.ts
Owners: @meqenet-dev-team

fix(ci): resolve Lighthouse PWA audit server readiness issue (MEQ-123)
  .github/workflows/pwa-compliance.yml
Owners: @fintech-devops-engineer, @financial-software-architect

fix(ci): resolve CI/CD linting issues for BNPL platform (MEQ-101)
  frontend/apps/app/vite.config.ts
  frontend/apps/website/src/app/sw.ts
  frontend/apps/website/src/components/providers/PWAProvider.tsx
  frontend/apps/website/src/lib/security/index.ts
  frontend/libs/shared/src/i18n/index.ts
Owners: @meqenet-dev-team

fix(android): resolve Gradle plugin resolution issue by downgrading to React Native 0.74.5 (MEQ-123)
  frontend/apps/app/android/app/build.gradle
  frontend/apps/app/android/settings.gradle
  frontend/apps/app/package.json
  frontend/package.json
Owners: @meqenet-dev-team, @fintech-devops-engineer, @senior-backend-developer

fix(frontend): fix TypeScript error in PWA provider (MEQ-101)
  frontend/apps/website/src/components/providers/PWAProvider.tsx
Owners: @meqenet-dev-team

fix(lint): resolve eslint warnings and errors across codebase (SEC-001)
  backend/services/auth-service/setup.ts
  backend/services/payments-service/src/bnpl/dto/create-contract.dto.ts
  frontend/apps/app/vite.config.ts
  frontend/apps/website/src/components/providers/PWAProvider.tsx
  frontend/apps/website/src/lib/security/index.ts
  package.json
  scripts/compliance-check.js
  scripts/dependency-audit.js
  scripts/dependency-cleanup.js
  scripts/run-secret-scan.js
  scripts/setup-git-security.js
  scripts/validate-enhanced-auth-security.js
  security-metrics/src/components/SecurityDashboard.tsx
Owners: @meqenet-dev-team, @fintech-devops-engineer, @senior-backend-developer

fix(ci): fix Android Gradle plugin resolution issue (MEQ-CI-001)
  frontend/apps/app/android/settings.gradle
Owners: @meqenet-dev-team

fix(ci): resolve Lighthouse PWA audit server PID issue (MEQ-123)
  .github/workflows/pwa-compliance.yml
Owners: @fintech-devops-engineer, @financial-software-architect

fix(ci): resolve linting issues blocking CI/CD pipeline (MEQ-CI-001)
  frontend/apps/app/vite.config.ts
  frontend/apps/website/src/app/sw.ts
  frontend/apps/website/src/components/providers/PWAProvider.tsx
  frontend/eslint.config.mjs
Owners: @meqenet-dev-team

fix(build): standardize monorepo dependency management (MEQ-001)
  docs/Stage 1 - Foundation/16-Monorepo-Dependency-Management.md
Owners: @product-manager, @compliance-risk-officer

fix(ci): resolve CI/CD pipeline issues with commit validation and PWA audit (MEQ-CI-001)
  .github/workflows/ci.yml
  .github/workflows/pwa-compliance.yml
Owners: @fintech-devops-engineer, @financial-software-architect

chore(build): update pre-commit hooks and security reports (MEQ-CI-002)
  .husky/pre-commit
  eslint.config.staged.js
  package.json
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-validation-report.json
  reports/npm-audit.json
Owners: @meqenet-dev-team, @fintech-devops-engineer, @senior-backend-developer

fix(lint): comprehensive linting fixes across monorepo (MEQ-001)
  backend-e2e/src/support/global-teardown.cjs
  backend-e2e/src/support/test-setup.ts
  backend-e2e/src/tests/web.e2e.spec.ts
  backend/services/auth-service/src/features/auth/auth.service.spec.ts
  backend/services/auth-service/src/infrastructure/database/prisma.service.ts
  backend/services/auth-service/src/shared/dlq/dlq.service.ts
  backend/services/auth-service/src/shared/guards/adaptive-auth.guard.ts
  backend/services/auth-service/src/shared/outbox/outbox.service.ts
  backend/services/auth-service/src/shared/resilience/circuit-breaker.service.ts
  backend/services/auth-service/src/shared/resilience/retry.service.ts
  backend/services/auth-service/src/shared/services/enhanced-security-monitoring.service.ts
  backend/services/auth-service/src/shared/services/password-reset-token.service.ts
  backend/services/auth-service/src/shared/services/risk-assessment.service.ts
  backend/services/auth-service/src/shared/utils/logging-sanitizer.util.ts
  backend/services/auth-service/src/shared/validation/validation.pipe.ts
  backend/services/payments-service/src/main.ts
  backend/services/payments-service/src/shared/config/winston.config.ts
  backend/services/payments-service/src/shared/filters/global-exception.filter.ts
  backend/services/payments-service/src/shared/guards/jwt-auth.guard.ts
  backend/services/payments-service/src/shared/i18n/error-messages.ts
  frontend/apps/app/src/app/screens/LoginScreen.tsx
  frontend/apps/app/test/mocks/react-native.ts
  frontend/apps/website/next-i18next.config.js
  frontend/apps/website/next.config.mjs
  frontend/apps/website/src/app/error.tsx
  frontend/apps/website/src/app/layout.tsx
  frontend/apps/website/src/app/not-found.tsx
  frontend/apps/website/src/app/page.tsx
  frontend/apps/website/src/app/sw.ts
  frontend/apps/website/src/components/common/InnerLayout.tsx
  frontend/apps/website/src/components/common/ui/LocomotiveScrollContext.tsx
  frontend/apps/website/src/components/common/ui/animated-text.tsx
  frontend/apps/website/src/components/providers/PWAProvider.tsx
  frontend/apps/website/src/lib/security/index.ts
  frontend/libs/mobile-api-client/src/lib/api-client.ts
  frontend/libs/shared-ui/src/components/Button.stories.tsx
  scripts/dependency-audit.js
  scripts/dependency-cleanup.js
  scripts/run-secret-scan.js
Owners: @meqenet-dev-team, @data-security-specialist, @financial-software-architect, @fintech-devops-engineer, @senior-backend-developer

refactor(lint): fix remaining lint issues per FinTech standards (MEQ-001)
  backend/services/api-gateway/src/shared/utils/logging-sanitizer.util.ts
  backend/services/auth-service/src/features/auth/auth.service.spec.ts
  backend/services/auth-service/src/infrastructure/database/prisma.service.ts
  backend/services/auth-service/src/shared/dlq/dlq.service.ts
  backend/services/auth-service/src/shared/guards/adaptive-auth.guard.ts
  backend/services/auth-service/src/shared/outbox/outbox.service.ts
  backend/services/auth-service/src/shared/resilience/circuit-breaker.service.ts
  backend/services/auth-service/src/shared/resilience/retry.service.ts
  backend/services/auth-service/src/shared/services/enhanced-security-monitoring.service.ts
  backend/services/auth-service/src/shared/services/password-reset-token.service.ts
  backend/services/auth-service/src/shared/services/risk-assessment.service.ts
  backend/shared/testing/index.ts
  backend/shared/testing/mock-helpers.ts
  docs/CODING_STANDARDS.md
  frontend/apps/app/vite.config.ts
  frontend/apps/website/src/components/common/ui/animated-text.tsx
  frontend/apps/website/src/components/common/ui/hover-border-gradient.tsx
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-validation-report.json
Owners: @meqenet-dev-team, @data-security-specialist, @financial-software-architect, @product-manager, @compliance-risk-officer

fix(android): configure React Native 0.74 Gradle plugin resolution
  frontend/apps/app/android/README.md
  frontend/apps/app/android/app/build.gradle
  frontend/apps/app/android/settings.gradle
  frontend/apps/app/package.json
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-validation-report.json
  scripts/setup-java-home.bat
  scripts/setup-java-home.sh
Owners: @product-manager, @financial-software-architect, @meqenet-dev-team, @fintech-devops-engineer, @senior-backend-developer

feat(frontend): migrate PWA from next-pwa to @serwist/next (MEQ-456)
  backend/services/auth-service/src/shared/utils/logging-sanitizer.util.ts
  backend/services/auth-service/src/shared/validation/validation.pipe.ts
  docs/CHANGELOG_PWA_IMPROVEMENTS.md
  docs/IMPLEMENTATION_SUMMARY_PWA_NEXTJS15.md
  docs/PWA_MIGRATION_NEXTPWA_TO_SERWIST.md
  frontend/apps/website/README.md
  frontend/apps/website/eslint.config.mjs
  frontend/apps/website/next.config.mjs
  frontend/apps/website/package.json
  frontend/apps/website/src/app/layout.tsx
  frontend/apps/website/src/components/common/ui/animated-text.tsx
  frontend/apps/website/src/lib/security/index.ts
  reports/dependency-security-report.html
  reports/dependency-security-report.json
  reports/license-validation-report.json
Owners: @meqenet-dev-team, @product-manager, @compliance-risk-officer, @financial-software-architect, @fintech-devops-engineer, @senior-backend-developer

feat(ci): fix PWA validation, Lighthouse server, and ESLint 9.x compatibility (MEQ-CI-001)
  .github/workflows/pwa-compliance.yml
  docs/CI_CD_FIXES_SUMMARY.md
  frontend/apps/website/eslint.config.mjs
  frontend/apps/website/package.json
Owners: @fintech-devops-engineer, @financial-software-architect, @product-manager, @compliance-risk-officer, @meqenet-dev-team, @senior-backend-developer
