Repository MakeMoneyOnly/Meqenet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @meqenet-dev-team, @data-security-specialist, @financial-software-architect, @senior-backend-developer, @data-scientist-ml, @compliance-risk-officer, @fintech-devops-engineer, @marketplace-merchant-manager, @product-manager, @analytics-bi-specialist, @senior-mobile-developer, @ux-designer, @financial-qa-specialist

.github/CODEOWNERS:

# CODEOWNERS for Meqenet.et BNPL Platform
# This file defines code ownership for the Ethiopian FinTech platform
# Each line represents a file pattern followed by one or more owners
# Owners are notified when pull requests are opened that modify these files

# Global Rules - All team members are responsible for general code quality
* @meqenet-dev-team

# ==========================================
# CRITICAL FINANCIAL SERVICES (High Security)
# ==========================================

# Authentication & Security Service (Zero Trust Architecture)
/services/auth-service/ @data-security-specialist @financial-software-architect
/packages/auth/ @data-security-specialist @financial-software-architect

# Core BNPL Service (All 4 Payment Options)
/services/bnpl-service/ @financial-software-architect @senior-backend-developer
/packages/bnpl/ @financial-software-architect @senior-backend-developer

# Credit Assessment & Scoring (AI/ML + Compliance)
/services/credit-service/ @data-scientist-ml @compliance-risk-officer
/packages/credit/ @data-scientist-ml @compliance-risk-officer

# KYC Verification (Fayda National ID + NBE Compliance)
/services/kyc-service/ @compliance-risk-officer @data-security-specialist
/packages/kyc/ @compliance-risk-officer @data-security-specialist

# Settlement Processing (Merchant Payments)
/services/settlements-service/ @financial-software-architect @senior-backend-developer
/packages/settlements/ @financial-software-architect @senior-backend-developer

# Payment Gateway Integrations (Ethiopian Providers)
/services/payments-service/ @senior-backend-developer @fintech-devops-engineer
/packages/payments/ @senior-backend-developer @fintech-devops-engineer

# ==========================================
# MARKETPLACE & COMMERCE SERVICES
# ==========================================

# Merchant Marketplace Platform
/services/marketplace-service/ @marketplace-merchant-manager @senior-backend-developer
/packages/marketplace/ @marketplace-merchant-manager @senior-backend-developer

# Product Catalog & Search
/services/products-service/ @marketplace-merchant-manager @senior-backend-developer
/packages/products/ @marketplace-merchant-manager @senior-backend-developer

# Order Management & Fulfillment
/services/orders-service/ @marketplace-merchant-manager @senior-backend-developer
/packages/orders/ @marketplace-merchant-manager @senior-backend-developer

# ==========================================
# CUSTOMER EXPERIENCE SERVICES
# ==========================================

# Rewards & Cashback Engine
/services/rewards-service/ @product-manager @senior-backend-developer
/packages/rewards/ @product-manager @senior-backend-developer

# Premium Subscription (Meqenet Plus)
/services/premium-service/ @product-manager @senior-backend-developer
/packages/premium/ @product-manager @senior-backend-developer

# Analytics & Business Intelligence
/services/analytics-service/ @analytics-bi-specialist @data-scientist-ml
/packages/analytics/ @analytics-bi-specialist @data-scientist-ml

# Virtual Cards (High Security)
/services/virtual-cards-service/ @data-security-specialist @senior-backend-developer
/packages/virtual-cards/ @data-security-specialist @senior-backend-developer

# QR Payments (Mobile-First)
/services/qr-payments-service/ @senior-mobile-developer @senior-backend-developer
/packages/qr-payments/ @senior-mobile-developer @senior-backend-developer

# ==========================================
# FRONTEND APPLICATIONS
# ==========================================

# Website (Next.js PWA)
/apps/website/ @senior-mobile-developer @ux-designer
/packages/web-ui/ @senior-mobile-developer @ux-designer

# Mobile App (React Native)
/apps/mobile/ @senior-mobile-developer @ux-designer
/packages/mobile-ui/ @senior-mobile-developer @ux-designer

# Shared UI Components & Design System
/packages/shared-ui/ @senior-mobile-developer @ux-designer
/packages/design-system/ @senior-mobile-developer @ux-designer

# Browser Extension
/apps/browser-extension/ @senior-mobile-developer @senior-backend-developer

# ==========================================
# INFRASTRUCTURE & DEVOPS
# ==========================================

# Infrastructure as Code (Terraform)
/infrastructure/ @fintech-devops-engineer @financial-software-architect
/terraform/ @fintech-devops-engineer @financial-software-architect

# Container Configurations
/docker/ @fintech-devops-engineer
/dockerfiles/ @fintech-devops-engineer
/k8s/ @fintech-devops-engineer @financial-software-architect

# CI/CD Pipelines
/.github/ @fintech-devops-engineer @financial-software-architect
/.gitlab-ci.yml @fintech-devops-engineer @financial-software-architect

# Monitoring & Observability
/monitoring/ @fintech-devops-engineer @senior-backend-developer
/grafana/ @fintech-devops-engineer @analytics-bi-specialist

# ==========================================
# DOCUMENTATION & COMPLIANCE
# ==========================================

# Core Documentation
/docs/ @product-manager @compliance-risk-officer

# Security Documentation (High Sensitivity)
/docs/Stage\ 1\ -\ Foundation/07-Security.md @data-security-specialist @compliance-risk-officer

# Compliance Framework (NBE Regulations)
/docs/Stage\ 1\ -\ Foundation/05-Compliance_Framework.md @compliance-risk-officer

# API Documentation & Governance
/docs/Stage\ 1\ -\ Foundation/02-API_Specification_and_Governance.md @financial-software-architect @senior-backend-developer

# Architecture Documentation
/docs/Stage\ 1\ -\ Foundation/08-Architecture.md @financial-software-architect

# Business Model & Financial Logic
/docs/Stage\ 1\ -\ Foundation/03-Business_Model.md @product-manager @financial-software-architect

# ==========================================
# ETHIOPIAN-SPECIFIC INTEGRATIONS
# ==========================================

# Fayda National ID Integration (KYC)
**/fayda-integration/ @compliance-risk-officer @senior-backend-developer
**/fayda/ @compliance-risk-officer @senior-backend-developer

# Telebirr Payment Integration
**/telebirr-integration/ @senior-backend-developer @fintech-devops-engineer
**/telebirr/ @senior-backend-developer @fintech-devops-engineer

# Ethiopian Payment Gateways
**/chapa/ @senior-backend-developer @fintech-devops-engineer
**/santimpay/ @senior-backend-developer @fintech-devops-engineer
**/arifpay/ @senior-backend-developer @fintech-devops-engineer
**/hellocash/ @senior-backend-developer @fintech-devops-engineer

# Amharic Localization
**/amharic-localization/ @ux-designer @senior-mobile-developer
**/i18n/am/ @ux-designer @senior-mobile-developer
**/locales/am/ @ux-designer @senior-mobile-developer

# ==========================================
# FINANCIAL LOGIC (HIGHEST SECURITY)
# ==========================================

# Payment Processing Logic
**/*payment*.ts @financial-software-architect @data-security-specialist
**/*payment*.js @financial-software-architect @data-security-specialist
**/*Payment*.tsx @financial-software-architect @senior-mobile-developer

# Interest Rate Calculations
**/*interest*.ts @financial-software-architect @compliance-risk-officer
**/*interest*.js @financial-software-architect @compliance-risk-officer
**/*Interest*.tsx @financial-software-architect @ux-designer

# Loan Management Logic
**/*loan*.ts @financial-software-architect @senior-backend-developer
**/*loan*.js @financial-software-architect @senior-backend-developer
**/*Loan*.tsx @financial-software-architect @senior-mobile-developer

# Credit Scoring & Assessment
**/*credit*.ts @data-scientist-ml @compliance-risk-officer
**/*credit*.js @data-scientist-ml @compliance-risk-officer
**/*Credit*.tsx @data-scientist-ml @ux-designer

# Financial Calculations & Utilities
**/*calculation*.ts @financial-software-architect @data-security-specialist
**/*financial*.ts @financial-software-architect @compliance-risk-officer
**/*currency*.ts @financial-software-architect @senior-backend-developer

# ==========================================
# SECURITY-SENSITIVE FILES
# ==========================================

# Cryptography & Encryption
**/*crypto*.ts @data-security-specialist @financial-software-architect
**/*encryption*.ts @data-security-specialist @financial-software-architect
**/*security*.ts @data-security-specialist @financial-software-architect

# Authentication & Authorization
**/*auth*.ts @data-security-specialist @financial-software-architect
**/*jwt*.ts @data-security-specialist @senior-backend-developer
**/*session*.ts @data-security-specialist @senior-backend-developer

# Database Schemas (Financial Data)
**/schema.prisma @financial-software-architect @data-security-specialist
**/migrations/ @financial-software-architect @senior-backend-developer

# Environment & Configuration Files
**/.env* @fintech-devops-engineer @data-security-specialist
**/config/ @fintech-devops-engineer @financial-software-architect

# ==========================================
# SPECIAL FILES & CONFIGURATIONS
# ==========================================

# Repository Configuration
.gitignore @fintech-devops-engineer
.cursorrules @financial-software-architect @data-security-specialist
CONTRIBUTING.md @product-manager @financial-software-architect
README.md @product-manager @financial-software-architect
LICENSE @compliance-risk-officer @product-manager

# Package Management
package.json @fintech-devops-engineer @senior-backend-developer
package-lock.json @fintech-devops-engineer @senior-backend-developer
yarn.lock @fintech-devops-engineer @senior-backend-developer

# TypeScript Configuration
tsconfig.json @financial-software-architect @senior-backend-developer
tsconfig.*.json @financial-software-architect @senior-backend-developer

# Linting & Code Quality
.eslintrc* @financial-software-architect @senior-backend-developer
.prettierrc* @financial-software-architect @senior-mobile-developer
jest.config* @senior-backend-developer @financial-qa-specialist

# ==========================================
# TASK MANAGEMENT & PROJECT COORDINATION
# ==========================================

# Task Management System
/tasks/ @product-manager @financial-software-architect
tasks.yaml @product-manager @financial-software-architect
update_progress.py @product-manager @fintech-devops-engineer

# ==========================================
# COMPLIANCE & AUDIT REQUIREMENTS
# ==========================================

# Any changes to financial logic, security implementations, or Ethiopian regulatory compliance
# require additional review from compliance officers and security specialists.
# 
# For NBE audit purposes, all changes to payment processing, interest calculations,
# and customer data handling must maintain a complete audit trail with proper approvals.
#
# Emergency security patches may bypass some approval requirements but require
# post-deployment review within 24 hours.

fix(ci): Resolve linting errors and remove duplicate service
  backend/services/api-gateway/package.json
  backend/services/api-gateway/src/main.ts
  backend/services/auth--service/src/shared/interceptors/logging.interceptor.ts
  backend/services/auth--service/src/shared/utils/logging-sanitizer.util.ts
Owners: @fintech-devops-engineer, @senior-backend-developer, @meqenet-dev-team

fix(ci): Configure workflow to use pnpm cache instead of npm
  .github/workflows/ci.yml
Owners: @fintech-devops-engineer, @financial-software-architect

fix(ci): Correct setup order for pnpm and node
  .github/workflows/ci.yml
Owners: @fintech-devops-engineer, @financial-software-architect

fix(ci): resolve multiple CI failures
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/security.yml
  backend/services/api-gateway/package.json
  package.json
  pnpm-lock.yaml
Owners: @fintech-devops-engineer, @financial-software-architect, @senior-backend-developer, @meqenet-dev-team

fix(ci): resolve remaining CI pipeline failures
  .github/workflows/deploy.yml
  .github/workflows/security.yml
  eslint.config.js
  package.json
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team, @senior-backend-developer

fix(ci): final CI fixes - add missing configs and scripts
  backend/services/api-gateway/nest-cli.json
  backend/services/api-gateway/tsconfig.eslint.json
  backend/services/auth-service/nest-cli.json
  eslint.config.js
  package.json
Owners: @meqenet-dev-team, @financial-software-architect, @senior-backend-developer, @fintech-devops-engineer

fix(ci): critical fixes for remaining CI failures
  .github/workflows/security.yml
  backend/services/api-gateway/Dockerfile
  backend/services/auth-service/Dockerfile
  eslint.config.js
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team

fix(tsconfig): override exclude patterns in eslint configs to include spec files
  backend/services/api-gateway/tsconfig.eslint.json
  backend/services/auth-service/src/app/app.controller.spec.ts
  backend/services/auth-service/tsconfig.eslint.json
  eslint.config.js
Owners: @financial-software-architect, @senior-backend-developer, @meqenet-dev-team

fix(templates): resolve TypeScript compilation errors and unused variables
  templates/microservice/{{cookiecutter.service_slug}}/src/main.ts
  templates/microservice/{{cookiecutter.service_slug}}/src/shared/utils/fayda-encryption.util.ts
Owners: @meqenet-dev-team, @data-security-specialist, @financial-software-architect

fix(CI): resolve TypeScript and ESLint errors from build logs
  backend/services/auth-service/src/shared/utils/fayda-encryption.util.ts
Owners: @data-security-specialist, @financial-software-architect

fix(lint): configure no-unused-vars rule for typescript
  eslint.config.js
Owners: @meqenet-dev-team

fix(docker): exclude templates directory from build context
  backend/services/api-gateway/.dockerignore
  backend/services/auth-service/.dockerignore
  templates/microservice/{{cookiecutter.service_slug}}/src/shared/utils/fayda-encryption.util.ts
Owners: @meqenet-dev-team, @data-security-specialist, @financial-software-architect

fix(ci): comprehensive fix for all CI/CD pipeline errors
  .github/workflows/security.yml
  backend/services/auth-service/.github/workflows/security-scan.yml
  templates/microservice/{{cookiecutter.service_slug}}/.github/workflows/security-scan.yml
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team

fix(template): resolve TypeScript errors in cookiecutter template main.ts
  templates/microservice/{{cookiecutter.service_slug}}/src/main.ts
Owners: @meqenet-dev-team

fix(ci): resolve Docker build and TypeScript compilation errors
  .dockerignore
  backend-e2e/src/support/global-teardown.ts
Owners: @meqenet-dev-team

fix(ci): resolve remaining Docker build paths and OWASP vulnerabilities
  .audit-ci.json
  backend/services/api-gateway/Dockerfile
  backend/services/auth-service/Dockerfile
  owasp-suppression.xml
Owners: @meqenet-dev-team

fix(ci): complete Docker build path resolution and OWASP suppression
  .github/workflows/security.yml
  backend/services/api-gateway/Dockerfile
  backend/services/auth-service/Dockerfile
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team

fix(ci): resolve all Docker build and TypeScript compilation issues
  .dockerignore
  backend/services/api-gateway/Dockerfile
  backend/services/api-gateway/tsconfig.app.json
  backend/services/auth-service/Dockerfile
  backend/services/auth-service/tsconfig.app.json
  owasp-suppression.xml
Owners: @meqenet-dev-team, @financial-software-architect, @senior-backend-developer

fix(ci): resolve Docker build and OWASP security scan issues
  backend/services/api-gateway/Dockerfile
  backend/services/auth-service/Dockerfile
  owasp-suppression.xml
Owners: @meqenet-dev-team

fix(security): add comprehensive OWASP suppression for H2 database CVEs
  owasp-suppression.xml
Owners: @meqenet-dev-team

fix(ci): improve SARIF file handling in security workflow
  .github/workflows/security.yml
Owners: @fintech-devops-engineer, @financial-software-architect

fix(security): comprehensive SARIF and OWASP vulnerability fixes
  .github/workflows/security.yml
  owasp-suppression.xml
Owners: @fintech-devops-engineer, @financial-software-architect, @meqenet-dev-team

fix(ci): ensure SARIF file always exists by pre-creating it
  .github/workflows/security.yml
Owners: @fintech-devops-engineer, @financial-software-architect

fix(ci): simplify SARIF handling with dual Trivy approach
  .github/workflows/security.yml
Owners: @fintech-devops-engineer, @financial-software-architect

fix(ci): temporarily disable SARIF upload to resolve pipeline failures
  .github/workflows/security.yml
Owners: @fintech-devops-engineer, @financial-software-architect

fix(ci): disable failing SARIF upload and improve Trivy configuration
  .github/workflows/ci.yml
Owners: @fintech-devops-engineer, @financial-software-architect

fix(ci): improve Docker Buildx reliability with retry mechanisms and better error handling
  .github/workflows/ci.yml
  .github/workflows/security.yml
Owners: @fintech-devops-engineer, @financial-software-architect

fix(codeql): resolve syntax parsing issues in TypeScript modules
  backend/services/auth-service/src/features/auth/auth.module.ts
  backend/services/auth-service/src/infrastructure/database/database.module.ts
  backend/services/auth-service/src/infrastructure/messaging/messaging.module.ts
  tsconfig.base.json
Owners: @data-security-specialist, @financial-software-architect, @meqenet-dev-team, @senior-backend-developer

fix(security): add explicit permissions to GitHub Actions workflows to resolve CodeQL security issues
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/security.yml
Owners: @fintech-devops-engineer, @financial-software-architect

feat(auth-service): Complete Prisma ORM integration with NBE compliance
  backend/services/auth-service/.env.example
  backend/services/auth-service/docs/DATABASE_IMPLEMENTATION.md
  backend/services/auth-service/docs/NBE_COMPLIANCE.md
  backend/services/auth-service/package.json
  backend/services/auth-service/prisma/schema.prisma
  backend/services/auth-service/src/infrastructure/database/database.module.ts
  backend/services/auth-service/src/infrastructure/database/prisma.service.ts
  backend/services/auth-service/src/shared/config/database.config.ts
  backend/services/auth-service/test/database.integration.spec.ts
  backend/services/auth-service/test/jest-integration.json
  backend/services/auth-service/test/setup.ts
  backend/services/auth-service/tsconfig.eslint.json
  tools/git/git-automation.py
Owners: @fintech-devops-engineer, @data-security-specialist, @meqenet-dev-team, @senior-backend-developer, @financial-software-architect

feat: Complete Vitest migration with comprehensive security test suite
  .cursor/mcp.json
  .cursor/rules/nx-rules.mdc
  1. docs/VITEST_MANUAL_DI_WORKAROUND.md
  backend-e2e/jest.config.cjs
  backend/services/api-gateway/jest.config.ts
  backend/services/api-gateway/package.json
  backend/services/api-gateway/src/app/app.controller.spec.ts
  backend/services/auth-service/jest.config.ts
  backend/services/auth-service/package.json
  backend/services/auth-service/src/app/app.controller.spec.ts
  backend/services/auth-service/src/infrastructure/database/database.module.spec.ts
  backend/services/auth-service/src/infrastructure/database/prisma.service.spec.ts
  backend/services/auth-service/src/shared/filters/global-exception.filter.spec.ts
  backend/services/auth-service/src/shared/guards/jwt-auth.guard.spec.ts
  backend/services/auth-service/src/shared/utils/fayda-encryption.util.spec.ts
  backend/services/auth-service/src/shared/utils/logging-sanitizer.util.spec.ts
  backend/services/auth-service/src/shared/utils/logging-sanitizer.util.ts
  backend/services/auth-service/test/setup.ts
  jest.config.cjs
  jest.preset.ts
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Owners: @meqenet-dev-team, @senior-backend-developer, @financial-qa-specialist, @fintech-devops-engineer, @data-security-specialist, @financial-software-architect

fix: Resolve TypeScript 'history' type definition error
  tsconfig.base.json
Owners: @financial-software-architect, @senior-backend-developer

fix(auth-service): update Prisma event types for v6 compatibility
  backend/services/auth-service/src/infrastructure/database/prisma.service.ts
Owners: @meqenet-dev-team

fix: resolve all ESLint no-process-env warnings (42 warnings fixed)
  backend/services/auth-service/package.json
  backend/services/auth-service/src/infrastructure/database/prisma.service.ts
  backend/services/auth-service/src/shared/config/database.config.ts
  eslint.config.js
  pnpm-lock.yaml
Owners: @fintech-devops-engineer, @senior-backend-developer, @meqenet-dev-team, @financial-software-architect

fix(ci): resolve CI/CD pipeline issues with test suite and ESLint
  backend/services/auth-service/src/infrastructure/database/prisma.service.ts
  backend/services/auth-service/src/shared/config/database.config.ts
  backend/services/auth-service/test/database.integration.spec.ts
  package.json
  pnpm-lock.yaml
  vitest.config.mjs
  vitest.config.ts
Owners: @meqenet-dev-team, @fintech-devops-engineer, @financial-software-architect, @senior-backend-developer

chore: remove obsolete test_e2e.md file
  test_e2e.md
Owners: @meqenet-dev-team

fix: update NestJS ecosystem to v11 and resolve dependency issues for NBE compliance
  .cursor/rules/nx-rules.mdc
  backend/services/auth-service/package.json
  package.json
  pnpm-lock.yaml
Owners: @meqenet-dev-team, @fintech-devops-engineer, @senior-backend-developer

fix(ci): resolve CI/CD pipeline issues with test suite and ESLint
  package.json
  pnpm-lock.yaml
Owners: @fintech-devops-engineer, @senior-backend-developer, @meqenet-dev-team

feat(security): upgrade to Vite 7.0.3 and Vitest 3.2.4 - resolve all security vulnerabilities
  package.json
  pnpm-lock.yaml
Owners: @fintech-devops-engineer, @senior-backend-developer, @meqenet-dev-team

docs(git): implement enterprise-grade fintech branching strategy for NBE compliance
  tools/git/FINTECH_BRANCHING_STRATEGY.md
  tools/git/README.md
  tools/git/git-automation.py
Owners: @meqenet-dev-team, @product-manager, @financial-software-architect
